<?xml version="1.0" encoding="utf-8"?><configuration>
	<appSettings>
		<add key="onlyClients" value="false" />
		<add key="endpointBase" value="http://localhost:9999" />
	</appSettings>
  <system.serviceModel>
    <behaviors>
	  <serviceBehaviors>
			<behavior name="MetadataBehavior">
				<serviceMetadata httpGetEnabled="true" />
			</behavior>
	  </serviceBehaviors>
      <endpointBehaviors>
        <behavior name="behavior1">
          <callbackDebug includeExceptionDetailInFaults="true" />
        </behavior>
        <behavior name="behavior2">
          <callbackDebug includeExceptionDetailInFaults="false" />
        </behavior>
      </endpointBehaviors>
    </behaviors>
	<bindings>
		<basicHttpBinding>
			<binding name="basicHttp">
				<security mode="None">
				</security>
			</binding>
		</basicHttpBinding>
	</bindings>
    <client>
      <endpoint address="http://test1_1" binding="basicHttpBinding" contract="MonoTests.System.ServiceModel.ICtorUseCase1" name="CtorUseCase1_1" />
      <endpoint address="http://test2_1" binding="basicHttpBinding" contract="CtorUseCase2" name="CtorUseCase2_1" />
      <endpoint address="http://test2_2" binding="basicHttpBinding" contract="CtorUseCase2" name="CtorUseCase2_2" behaviorConfiguration="behavior1" />
      <endpoint address="http://test2_2" binding="basicHttpBinding" contract="CtorUseCase2" name="CtorUseCase2_3" behaviorConfiguration="behavior2" />
      <endpoint name="" binding="basicHttpBinding" contract="test" />
    </client>

	<services>
	</services>
  </system.serviceModel>
</configuration>