<?xml version="1.0"?>
<configuration>
  <system.web>

      <httpModules>
        <add name="WPAuthentication" type="Mainsoft.Web.Security.WPAuthenticationModule, Mainsoft.Web.WebSphere"/>
      </httpModules>
    
      <membership>
        <providers>
          <add name="WPMembershipProvider" type="Mainsoft.Web.Security.WPMembershipProvider, Mainsoft.Web.WebSphere"/>
        </providers>
      </membership>

    <roleManager>
      <providers>
        <add name="WPGroupsRoleProvider" type="Mainsoft.Web.Security.WPGroupsRoleProvider, Mainsoft.Web.WebSphere" />
      </providers>
    </roleManager>

    <profile>
      <providers>
        <add name="WPProfileProvider" type="Mainsoft.Web.Profile.WPProfileProvider, Mainsoft.Web.WebSphere"/>
      </providers>
    </profile>
    
  </system.web>

</configuration>