/BinaryOperations.cs -crlf
/CollectionConstraints.cs -crlf
/ComparisonConstraints.cs -crlf
/Constraint.cs -crlf
/ConstraintBuilder.cs -crlf
/ContainsConstraint.cs -crlf
/EmptyConstraint.cs -crlf
/EqualConstraint.cs -crlf
/Numerics.cs -crlf
/PrefixConstraints.cs -crlf
/PropertyConstraint.cs -crlf
/SameAsConstraint.cs -crlf
/StringConstraints.cs -crlf
/TypeConstraints.cs -crlf
