/NearSpans.cs -crlf
/Package.html -crlf
/SpanFirstQuery.cs -crlf
/SpanNearQuery.cs -crlf
/SpanNotQuery.cs -crlf
/SpanOrQuery.cs -crlf
/SpanQuery.cs -crlf
/SpanScorer.cs -crlf
/SpanTermQuery.cs -crlf
/SpanWeight.cs -crlf
/Spans.cs -crlf
