/MicrosoftAjax.debug.js -crlf
/MicrosoftAjax.debug.jvm.js -crlf
/MicrosoftAjax.js -crlf
/MicrosoftAjaxTimer.debug.js -crlf
/MicrosoftAjaxTimer.js -crlf
/MicrosoftAjaxWebForms.debug.js -crlf
/MicrosoftAjaxWebForms.debug.jvm.js -crlf
/MicrosoftAjaxWebForms.js -crlf
