/I18N.CJK_test_default.dll
/I18N.CJK_test_default.dll.mdb
/TestResult-default.log
/TestResult-default.xml
/TestResult-ondotnet-default.log
/TestResult-ondotnet-default.xml
/I18N.CJK_test_net_2_0.dll
/I18N.CJK_test_net_2_0.dll.mdb
/TestResult-net_2_0.log
/TestResult-net_2_0.xml
/TestResult-ondotnet-net_2_0.log
/TestResult-ondotnet-net_2_0.xml
/gb-18030-2000.xml
/GB18030Source.exe
/CP950.TXT
/CP936.TXT
/dbcs-table-generator.exe
