/AttributedModelServices.cs -crlf
/ChangeRejectedException.cs -crlf
/CompositionContractMismatchException.cs -crlf
/CompositionError.cs -crlf
/CompositionErrorDebuggerProxy.cs -crlf
/CompositionErrorId.cs -crlf
/CompositionException.cs -crlf
/CompositionResult.cs -crlf
/CompositionResultOfT.cs -crlf
/ConstraintServices.cs -crlf
/ContractNameServices.cs -crlf
/CreationPolicy.cs -crlf
/ErrorBuilder.cs -crlf
/ExceptionBuilder.cs -crlf
/ExportAttribute.cs -crlf
/ExportCardinalityCheckResult.cs -crlf
/ExportMetadataAttribute.cs -crlf
/ExportServices.DisposableLazy.cs -crlf
/ExportServices.cs -crlf
/IAttributedImport.cs -crlf
/ICompositionError.cs -crlf
/ICompositionService.cs -crlf
/IPartImportsSatisfiedNotification.cs -crlf
/ImportAttribute.cs -crlf
/ImportCardinalityMismatchException.cs -crlf
/ImportManyAttribute.cs -crlf
/ImportingConstructorAttribute.cs -crlf
/InheritedExportAttribute.cs -crlf
/MetadataAttributeAttribute.cs -crlf
/MetadataServices.cs -crlf
/MetadataViewGenerator.cs -crlf
/MetadataViewProvider.cs -crlf
/PartCreationPolicyAttribute.cs -crlf
/PartCreatorOfT.cs -crlf
/PartCreatorOfTTMetadata.cs -crlf
/PartLifetimeContextOfT.cs -crlf
/PartMetadataAttribute.cs -crlf
/PartNotDiscoverableAttribute.cs -crlf
