/CatalogFactory.DerivedComposablePartCatalog.cs -crlf
/CatalogFactory.DisposableComposablePartCatalog.cs -crlf
/CatalogFactory.FilteredComposablePartCatalog.cs -crlf
/CatalogFactory.MutableComposablePartCatalog.cs -crlf
/CatalogFactory.NoOverridesComposablePartCatalog.cs -crlf
/CatalogFactory.NonFilteringTypeCatalog.cs -crlf
/CatalogFactory.cs -crlf
/ConstraintFactory.cs -crlf
/ContainerFactory.DisposableCompositionContainer.cs -crlf
/ContainerFactory.NoOverridesCompositionContainer.cs -crlf
/ContainerFactory.cs -crlf
/ElementFactory.CompositionElement.cs -crlf
/ElementFactory.cs -crlf
/ErrorFactory.cs -crlf
/ExportDefinitionFactory.DerivedExportDefinition.cs -crlf
/ExportDefinitionFactory.cs -crlf
/ExportFactory.cs -crlf
/ExportProviderFactory.NoOverridesExportProvider.cs -crlf
/ExportProviderFactory.RecomposableExportProvider.cs -crlf
/ExportProviderFactory.cs -crlf
/ImportDefinitionFactory.DerivedContractBasedImportDefinition.cs -crlf
/ImportDefinitionFactory.DerivedImportDefinition.cs -crlf
/ImportDefinitionFactory.cs -crlf
/PartDefinitionFactory.DerivedComposablePartDefinition.cs -crlf
/PartDefinitionFactory.NoOverridesComposablePartDefinition.cs -crlf
/PartDefinitionFactory.cs -crlf
/PartFactory.DisposableComposablePart.cs -crlf
/PartFactory.NoOverridesComposablePart.cs -crlf
/PartFactory.cs -crlf
/ReflectionFactory.MockParameterInfo.cs -crlf
/ReflectionFactory.cs -crlf
