<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<appSettings>
		<add key="ConnectionString" value="hostname=powergh;port=1521;User ID=ghtdb;Password=ghtdb;ServiceName=powergh;Data Source=powergh" />
		<!--
		<add key="ConnectionString" value="Provider=SQLOLEDB.1;Data Source=xp050;Initial Catalog=GHTDB;User Id=sa;Password=" />
		<add key="ConnectionString" value="Provider=MSDAORA.1;hostname=xp050;port=1521;User ID=ghtdb;Password=ghtdb;ServiceName=xp050;Data Source=xp050" />
		<add key="ConnectionString" value="Provider=IBMDADB2;Password=db2admin;User ID=db2admin;Data Source=GHTDB;HostName=xp050;Port=50000;Location=xp050:50000" />
		<add key="ConnectionString" value="Provider=Sybase ASE OLE DB Provider;hostname=KONGO;port=5000;User ID=sa;Password=;ServiceName=KONGO;Data Source=sybaseoledb;JdbcDriverClassName=com.sybase.jdbc2.jdbc.SybDriver;JdbcURL=jdbc:sybase:Tds:KONGO:5000/GHTDB;user=sa;DatabaseName=GHTDB" />
		<add key="ConnectionString" value="Provider=Mainsoft.JDBC.OLEDB.1;Persist Security Info=False;User ID=super;Data Source=PostgreSQL_XP050;Extended Properties="DSN=PostgreSQL_XP050;DATABASE=GHTDB;SERVER=xp050;PORT=5432;UID=super;ReadOnly=0;Protocol=6.4;FakeOidIndex=0;ShowOidColumn=0;RowVersioning=0;ShowSystemTables=0;ConnSettings=;Fetch=100;Socket=8192;UnknownSizes=0;MaxVarcharSize=254;MaxLongVarcharSize=8190;Debug=0;CommLog=0;Optimizer=1;Ksqo=1;UseDeclareFetch=0;TextAsLongVarchar=1;UnknownsAsLongVarchar=0;BoolsAsChar=0;Parse=0;CancelAsFreeStmt=0;ExtraSysTablePrefixes=dd_;;LFConversion=1;UpdatableCursors=0;DisallowPremature=0;TrueIsMinus1=0;BI=0;ByteaAsLongVarBinary=0;UseServerSidePrepare=0";Initial Catalog=GHTDB;JdbcDriverClassName=org.postgresql.Driver;JdbcURL=jdbc:postgresql://xp050/GHTDB;User=super;Password=super" />
		-->
	</appSettings>
</configuration>