.stamp-*
*.mk.generated
*.config.cache
mxe/
llvm-llvm32/
llvm-llvm64/
llvm-llvmwin32/
llvm-llvmwin64/
llvm36-llvm32/
android-armeabi-*/
android-armeabi-v7a-*/
android-arm64-v8a-*/
android-x86-*/
android-x86_64-*/
android-host-Darwin-*/
android-host-Linux-*/
android-host-mxe-Win32-*/
android-host-mxe-Win64-*/
android-cross-arm-*/
android-cross-arm64-*/
android-cross-x86-*/
android-cross-x86_64-*/
android-cross-arm-win-*/
android-cross-arm64-win-*/
android-cross-x86-win-*/
android-cross-x86_64-win-*/
ios-target32-*/
ios-target32s-*/
ios-target64-*/
ios-targettv-*/
ios-targetwatch-*/
ios-targetwatch64_32-*/
ios-cross32-*/
ios-cross64-*/
ios-crosswatch-*/
ios-crosswatch64_32-*/
ios-sim32-*/
ios-sim64-*/
ios-simtv-*/
ios-simwatch-*/
ios-netcore_target32-*/
ios-netcore_target32s-*/
ios-netcore_target64-*/
ios-netcore_targettv-*/
ios-netcore_targetwatch-*/
ios-netcore_targetwatch64_32-*/
ios-netcore_cross32-*/
ios-netcore_cross64-*/
ios-netcore_crosswatch-*/
ios-netcore_crosswatch64_32-*/
ios-netcore_sim32-*/
ios-netcore_sim64-*/
ios-netcore_simtv-*/
ios-netcore_simwatch-*/
mac-mac64-*/
wasm-runtime-*/
wasm-cross-*/
wasm-cross-win-*/
bcl/
desktop-x86/
desktop-x86_64/
toolchains/
mxe-Win32.cmake
mxe-Win64.cmake
