/AccessChecksLevelOption.cs -crlf
/ActivationOption.cs -crlf
/Activity.cs -crlf
/ApplicationQueuingAttribute.cs -crlf
/AutoCompleteAttribute.cs -crlf
/BOID.cs -crlf
/BYOT.cs -crlf
/BindingOption.cs -crlf
/COMTIIntrinsicsAttribute.cs -crlf
/ComponentAccessControlAttribute.cs -crlf
/ConstructionEnabledAttribute.cs -crlf
/ContextUtil.cs -crlf
/DescriptionAttribute.cs -crlf
/EventClassAttribute.cs -crlf
/EventTrackingEnabledAttribute.cs -crlf
/ExceptionClassAttribute.cs -crlf
/IAsyncErrorNotify.cs -crlf
/IISIntrinsicsAttribute.cs -crlf
/IPlaybackControl.cs -crlf
/IProcessInitControl.cs -crlf
/IRemoteDispatch.cs -crlf
/ISecurityCallContext.cs -crlf
/ISecurityCallersColl.cs -crlf
/ISecurityIdentityColl.cs -crlf
/IServiceCall.cs -crlf
/IServicedComponentInfo.cs -crlf
/ISharedProperty.cs -crlf
/ISharedPropertyGroup.cs -crlf
/ITransaction.cs -crlf
/InheritanceOption.cs -crlf
/InterfaceQueuingAttribute.cs -crlf
/JustInTimeActivationAttribute.cs -crlf
/LoadBalancingSupportedAttribute.cs -crlf
/MustRunInClientContextAttribute.cs -crlf
/ObjectPoolingAttribute.cs -crlf
/PartitionOption.cs -crlf
/PrivateComponentAttribute.cs -crlf
/RegistrationConfig.cs -crlf
/RegistrationErrorInfo.cs -crlf
/RegistrationException.cs -crlf
/ResourcePool.cs -crlf
/SecureMethodAttribute.cs -crlf
/SecurityCallContext.cs -crlf
/SecurityCallers.cs -crlf
/SecurityIdentity.cs -crlf
/SecurityRoleAttribute.cs -crlf
/ServiceConfig.cs -crlf
/ServiceDomain.cs -crlf
/ServicedComponent.cs -crlf
/ServicedComponentException.cs -crlf
/SharedProperty.cs -crlf
/SharedPropertyGroup.cs -crlf
/SharedPropertyGroupManager.cs -crlf
/SxsOption.cs -crlf
/SynchronizationAttribute.cs -crlf
/ThreadPoolOption.cs -crlf
/TransactionAttribute.cs -crlf
/TransactionStatus.cs -crlf
/XACTTRANSINFO.cs -crlf
