/AbstractField.cs -crlf
/CompressionTools.cs -crlf
/DateField.cs -crlf
/DateTools.cs -crlf
/Document.cs -crlf
/Field.cs -crlf
/FieldSelector.cs -crlf
/FieldSelectorResult.cs -crlf
/Fieldable.cs -crlf
/LoadFirstFieldSelector.cs -crlf
/MapFieldSelector.cs -crlf
/NumberTools.cs -crlf
/NumericField.cs -crlf
/Package.html -crlf
/SetBasedFieldSelector.cs -crlf
