/AddinRegistry.cs -crlf
/EventListenerCollection.cs -crlf
/FrameworkRegistry.cs -crlf
/SuiteBuilderCollection.cs -crlf
/TestCaseBuilderCollection.cs -crlf
/TestDecoratorCollection.cs -crlf
/TestDecoratorCollection.save.cs -crlf
