/TestResult-net_2_0.log
/TestResult-net_2_0.xml
/Microsoft.Build.Framework_test_net_2_0.dll
/Microsoft.Build.Framework_test_net_2_0.dll.mdb
/Microsoft.Build.Framework.pidb
/Microsoft.Build.Framework.userprefs
