/System.Data.DataSetExtensions_test_net_2_0.dll
/System.Data.DataSetExtensions_test_net_2_0.dll.mdb
/System.Data.DataSetExtensions_test_net_2_0.xml
/TestResult-net_2_0.log
/TestResult-net_2_0.xml
/TestResult-ondotnet-net_2_0.log
/TestResult-ondotnet-net_2_0.xml
