<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <!-- __INSERT_CUSTOM_APP_CONFIG_GLOBAL__ -->
  <runtime>
    <!-- 
      This is necessary to prevent the runner from terminating on
      any unhandled exceptions which occur. We account for unhandled exceptions on
      other threads with an event handler, but would still be terminated using the
      new behavior.
    -->
    <legacyUnhandledExceptionPolicy enabled="1" />
    <!-- __INSERT_CUSTOM_APP_CONFIG_RUNTIME__ -->
  </runtime>
</configuration>
