<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="MYSQL" value="Test_NUnit_MySql"/>
    <add key="ORACLE ODP" value="Test_NUnit_OracleODP"/>
    <add key="ORACLE" value="Test_NUnit_Oracle"/>
    <add key="POSTGRES" value="Test_NUnit_PostgreSql"/>
    <add key="SQLITE" value="Test_NUnit_Sqlite"/>
    <add key="INGRES" value="Test_NUnit_Ingres"/>
    <add key="MSSQL MONO_STRICT" value="Test_NUnit_MsSql_Strict"/>
    <add key="MSSQL" value="Test_NUnit_MsSql"/>
    <add key="FIREBIRD" value="Test_NUnit_Firebird"/>
  </appSettings>
</configuration>