[libdefaults]
 default_realm = EXAMPLE.COM
 dns_lookup_kdc = false
[realms]
 EXAMPLE.COM = {
  admin_server = kerberos.example.com
  kdc = kerberos.example.com
 }
[domain_realm]
 example.com = EXAMPLE.COM
 .example.com = EXAMPLE.COM
