/Entities.cs -crlf
/HTMLParser.cs -crlf
/HTMLParserConstants.cs -crlf
/HTMLParserTokenManager.cs -crlf
/ParseException.cs -crlf
/ParserThread.cs -crlf
/SimpleCharStream.cs -crlf
/Tags.cs -crlf
/Test.cs -crlf
/Token.cs -crlf
/TokenMgrError.cs -crlf
