<appSettings>
  <![CDATA[[SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine", Justification="These are not 'keys' in the credential sense, just in the sense of a map.")]]>
  <add key="TestKey1" value="foo" />
  <![CDATA[[SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine", Justification="These are not 'keys' in the credential sense, just in the sense of a map.")]]>
  <add key="TestKey2" value="bar" />
</appSettings>