<configuration>
	<configSections>
		<section name="customSection" type="CustomSection, t14" />
	</configSections>

	<customSection>
		<insert key="hi" value="bye" />
		<delete key="hi" />
		<insert key="hola" value="adios" />
		<removeall />
		<insert key="aloha" value="aloha" />
	</customSection>
</configuration>