<configuration>
  <configProtectedData defaultProvider="MyRsaProtectedConfigurationProvider">
    <providers>
      <clear />
      <add name="MyRsaProtectedConfigurationProvider"
	type="System.Configuration.RSAProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        keyContainerName="MyKeys" 
        useMachineContainer="true" />
    </providers>
  </configProtectedData>
</configuration>