<configuration>
  <configProtectedData defaultProvider="MyProvider">
    <providers>
      <clear />
      <add name="MyProvider" type="System.Configuration.RsaProtectedConfigurationProvider,System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" keyContainerName="myKeys" cspProviderName="" useMachineContainer="false" />
    </providers>
  </configProtectedData>

<connectionStrings>
        <clear />
        <add name="LocalSqlServer"
                connectionString="data source=127.0.0.1; Integrated Security=SSPI" />
        <add name="AccessFileName"
                connectionString="~/Data/ASPNetDB.mdb" />
</connectionStrings>
</configuration>
