<configuration>
	<system.web>
                <compilation debug="true">
                        <assemblies>
                                <add assembly="System.Windows.Forms, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
                                <add assembly="System.Drawing, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
			</assemblies>
		</compilation>
	</system.web>
</configuration>
