<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<!-- Register a section handler for the log4net section -->
	<configSections>
		<section name="log4net" type="System.Configuration.IgnoreSectionHandler" />
	 <sectionGroup name="applicationSettings"
type="System.Configuration.ApplicationSettingsGroup, System,
Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
   <section name="test.Properties.Settings"
type="System.Configuration.ClientSettingsSection, System, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </sectionGroup>
 </configSections>
	<!-- This section contains the log4net configuration settings -->	
	<log4net>
		<appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
			<layout type="log4net.Layout.PatternLayout">
				<conversionPattern value="%date [%thread] %-5level %logger
(%property{log4net:HostName}) [%ndc] - %message%newline" />
			</layout>
		</appender>
		<appender name="LogFileAppender" type="log4net.Appender.FileAppender">
			<file value="test.log" />
			<appendToFile value="true" />
			<layout type="log4net.Layout.PatternLayout">
				<header value="FILE HEADER&#xD;&#xA;" />
				<footer value="FILE FOOTER&#xD;&#xA;" />
				<conversionPattern value="%date [%thread] %-5level %logger
(%property{log4net:HostName}) [%ndc] - %message%newline" />
			</layout>
		</appender>
		<root>
			<level value="DEBUG" />
			<appender-ref ref="ConsoleAppender" />
			<appender-ref ref="LogFileAppender" />
		</root>
	</log4net>
	<system.runtime.remoting>
		<application name="Log4netRemotingServer">
			<!-- We need to define the remoting channels on which we will publish
           the remote logging sink. -->
			<channels>
				<channel displayName="Server Channel" ref="tcp server" port="8085" />
			</channels>
		</application>
	</system.runtime.remoting>
  <system.web>
    <customErrors defaultRedirect="url" mode="Off">
    </customErrors>
  </system.web>
 <applicationSettings>
  <test.Properties.Settings>
   <setting name="ConfigurationFile" serializeAs="String">
    <value>config.xml</value>
   </setting>
   <setting name="ConfigurationSchema" serializeAs="String">
    <value>config.xsd</value>
   </setting>
   <setting name="ConfigurationDirectory" serializeAs="String">
    <value>..\Configuration</value>
   </setting>
  </test.Properties.Settings>
 </applicationSettings>
</configuration>

