<configuration>
	<configSections>
		<sectionGroup name="foo">
			<section name="mojoEncryption"
type="System.Configuration.DefaultSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" requirePermission="true" />
		</sectionGroup>
	</configSections>

	<mojoEncryption>
		<RSAKeyValue>
			<Modulus>uckRHFWrxsDV+NR+oEK1csTkjic4E2byaUMV8FmTDhyzZMrDV3dJV8T00Esa+rgrlN08CCJC0epPyWGheI3KHgQmbq2iHak4Y67SHL0ZhRG7OHFFkITFSeVPQIqcinwk0PZfgbE239cM/0u7r9DQLIFTbRZKhd8fS//X7AsW3Js=</Modulus>
			<Exponent>AQAB</Exponent>
			<P>70rN3bB8CzW7iF5QEicDiGM5chkza5DxqRPVvXnnjejS2CAzlvzUdPSArjZUbupg4iaBJsN26TxwQ6OB99QrLw==</P>
			<Q>xsHc6I+1yCxaPsqst/gDuKwPyutK3s7P2hfj6fIpNwmsvqxxMRAgPhw8mr3OK0yZjPRCZLCxBEVyoNEkB2paVQ==</Q>
			<DP>5pz4+gX0Bfmq2inKkTP4O6Ek48lVvPzbaU8sVob9mc4gJRojngfb2TsqKLtDdAF9jXX+UhVerDkLGKSjxOw9EQ==</DP>
			<DQ>dw5/XktfT3XJ5R0Qku6chA2FND73TTnC5dgzrNpi99XyxRCUiRgoyCuv3d1eVy9+NyHFd30ju/RBsrU0iMCbNQ==</DQ>
			<InverseQ>6DNVGM4aB5jSXJgCYwwZdB6w09RofYWOi27g59k5+I1DC/VqgSo3QXY+dWK3qWReAYr2qAJJEhlRCvsou82d9Q==</InverseQ>
			<D>mywXAIWFrcHOdcB16sEM8EkHZLvZGEt52PVRU6hdLQJHy72XHmzhc09r8rVoWVSOAg4uX9TN3qpH7bl/tkMnNjD9UCToIqQ+FF+TYL3+/irWEDqixujDeQAPEFCdYmviuRiMf7q3alBqF3Be39Fkbu/NJ75wgZKWmP1pE049abE=</D>
		</RSAKeyValue>
	</mojoEncryption>
</configuration>
