<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <configSections>
    <section name="testlib1"
             type="TestLib1.ConfigSectionHandler, t35" />
  </configSections>

  <testlib1>
    <mynodes>
      <node name="1"/>
      <node name="2"/>
    </mynodes>
  </testlib1>
</configuration>
