<?xml version="1.0" encoding="utf-8" ?>
<configuration>
        <configSections>
                <sectionGroup name="frontdesk">
                        <sectionGroup name="testing">
                                <section name="testCenter"
type="FrontDesk.Testing.Configuration.TestCenterSection, t36-lib"/>

                        </sectionGroup>
                </sectionGroup>
        </configSections>

        <frontdesk>
                <testing>
                        <testCenter sources="XXXXX" />
                </testing>
        </frontdesk>
</configuration>

