<configuration>
<connectionStrings>
        <remove name="LocalSqlServer" />
        <add name="LocalSqlServer"
                connectionString="data source=127.0.0.1; Integrated Security=SSPI" />
        <add name="AccessFileName"
                connectionString="~/Data/ASPNetDB.mdb" />
        <remove name="AccessFileName" />
</connectionStrings>

<appSettings>
	<add key="hithere" value="Hello World!"/>
	<remove key="hithere" />
</appSettings> 

<configProtectedData defaultProvider="MyRsaProtectedConfigurationProvider">
    <providers>
      <clear />
      <add name="MyRsaProtectedConfigurationProvider"
	type="System.Configuration.RsaProtectedConfigurationProvider, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"
        keyContainerName="MyKeys" 
        useMachineContainer="true" useOAEP="true" />
      <remove name="MyRsaProtectedConfigurationProvider" />
    </providers>
  </configProtectedData> 

</configuration>
