<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <section name="MyUrls" type="ConsoleAppConfigSection.UrlsSection, t42, Version=1.0.0.0, Culture=neutral, PublicKeyToken=null" />
    </configSections>
    <MyUrls>
        <urls>
          <group name="ff">
            <add name1="Microsoft2" url="http://www.microsoft.com" port="0" />
            <remove name1="Microsoft2"/>
            <add name1="Microsoft4" url="http://www.microsoft.com" port="0" />
          </group>
          <group name="ff1">
            <add name1="Microsoft3" url="http://www.microsoft.com" port="0" />
            <add name1="Microsoft5" url="http://www.microsoft.com" port="0" />
          </group>
	   <group name="ff2">
          </group>
          <add name1="Microsoft1" url="http://www.microsoft.com" port="0" />
          <add name1="Microsoft6" url="http://www.microsoft.com" port="0" />
          <remove name1="Microsoft1"/>
        </urls>
    </MyUrls>
</configuration>
