<configuration>
	<system.diagnostics>
		<sharedListeners>
			<add name="CustomFile" type="MonoTest.Configuration.CustomFileListener, t47" traceOutputOptions="None" output="log.tmp" prefix="Custom:" />
		</sharedListeners>
		<trace>
			<listeners>
				<add name="CustomFile" />
			</listeners>
		</trace>
	</system.diagnostics>
</configuration>
