<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="TestCustomSection" type="System.Configuration.DictionarySectionHandler" />
  </configSections>
  <TestCustomSection>
    <add key="ProxyServer" value="server.example.com" />
    <add key="ConnectOnStart" value="false" />
  </TestCustomSection>
</configuration>