# Mono Code Owners File
#
# GitHub uses this file to determine who to assign for reviews
# on pull requests. Please keep this file alphabetically sorted.
#
# References:
#
# https://github.com/blog/2392-introducing-code-owners
# https://help.github.com/articles/about-codeowners


# These owners will be the default owners for everything in the repo.
* @marek-safar

# Order is important. The last matching pattern has the most precedence.

/acceptance-tests @akoeplinger @kg
/acceptance-tests/profiler-stress* @BrzVlad @akoeplinger

/data @directhex @akoeplinger
/data/gdb @vargaz
/data/lldb @vargaz

/docs @marek-safar @akoeplinger
/docs/sources/mono-api-profiler.html @BrzVlad

/external @akoeplinger @marek-safar
/external/api-snapshot @marek-safar @akoeplinger
/external/binary-reference-assemblies @marek-safar @akoeplinger
/external/bockbuild @akoeplinger
/external/cecil @marek-safar @akoeplinger
/external/corefx @akoeplinger @marek-safar @steveisok
/external/corert @akoeplinger @marek-safar @steveisok
/external/linker @marek-safar
/external/llvm-project @SamMonoRT @vargaz
/external/nuget-buildtasks @radical @akoeplinger
/external/roslyn-binaries @kg @marek-safar @akoeplinger @lewing

/libgc @BrzVlad @vargaz

/llvm @vargaz @SamMonoRT

/man @marek-safar
/man/*prof* @BrzVlad

/mcs @marek-safar @akoeplinger

/mcs/build @marek-safar @akoeplinger

/mcs/class @steveisok @akoeplinger
/mcs/class/corlib/System.Reflection*/ @vargaz @lambdageek
/mcs/class/corlib/System.Security.Cryptography.X509Certificates @steveisok
/mcs/class/Mono.Btls.Interface @steveisok
/mcs/class/Mono.Debugger.Soft @vargaz @thaystg
/mcs/class/Mono.Options @jonpryor @marek-safar
/mcs/class/Mono.Profiler.Log @lambdageek
/mcs/class/Mono.Security/Mono.Security/Interface @steveisok
/mcs/class/System/Mono.Btls @marek-safar
/mcs/class/System/Mono.Net.Security @steveisok
/mcs/class/System/Mono.Security.Interface @steveisok
/mcs/class/System/System.Security.Cryptography.X509Certificates @steveisok
/mcs/class/System.Data* @steveisok

/mcs/errors @marek-safar
/mcs/ilasm @marek-safar
/mcs/jay @marek-safar
/mcs/mcs @marek-safar
/mcs/tests @marek-safar

/mcs/tools @marek-safar @akoeplinger @steveisok
/mcs/tools/gensources @kg @akoeplinger

/mono/arch @vargaz

/mono/btls @marek-safar
/mono/dis @lambdageek @vargaz
/mono/eglib @vargaz @lambdageek

/mono/benchmark @SamMonoRT

/mono/metadata @vargaz @lambdageek @thaystg
/mono/metadata/*profiler* @lambdageek
/mono/metadata/handle* @lambdageek @vargaz
/mono/metadata/monitor* @brzvlad @vargaz
/mono/metadata/sgen* @brzvlad @vargaz
/mono/metadata/thread* @lateralusX @lambdageek
/mono/metadata/w32* @lateralusX @lambdageek
/mono/metadata/*-win* @lateralusX @lambdageek
/mono/metadata/appdomain* @vargaz @lambdageek
/mono/metadata/assembly* @vargaz @lambdageek
/mono/metadata/domain* @vargaz @lambdageek
/mono/metadata/loader* @vargaz @lambdageek
/mono/metadata/native-library* @vargaz @lambdageek
/mono/metadata/*-unix* @lambdageek

/mono/mini @vargaz @lambdageek @SamMonoRT
/mono/mini/*cfgdump* @vargaz
/mono/mini/*exceptions* @vargaz @BrzVlad
/mono/mini/*ppc* @vargaz
/mono/mini/*type-check* @lambdageek
/mono/mini/*llvm* @vargaz
/mono/mini/interp/* @BrzVlad
/mono/mini/*profiler* @BrzVlad @lambdageek
/mono/mini/debugger-agent.c @vargaz @thaystg @lambdageek

/mono/native @marek-safar

/mono/profiler @BrzVlad @lambdageek

/mono/sgen @BrzVlad @lambdageek

/mono/utils @vargaz @lambdageek
/mono/utils/atomic* @vargaz
/mono/utils/mono-hwcap*  @vargaz
/mono/utils/mono-mem* @vargaz
/mono/utils/mono-merp* @lambdageek
/mono/utils/mono-state* @lambdageek
/mono/utils/mono-threads* @lambdageek @vargaz
/mono/utils/*-win* @lateralusX @lambdageek

/msvc @lateralusX @kg @akoeplinger

/packaging @akoeplinger @directhex
/packaging/MacSDK/msbuild.py @radical @akoeplinger

/runtime @akoeplinger @marek-safar

/samples @lambdageek
/samples/profiler @BrzVlad @lambdageek
/samples/size @lambdageek

/scripts @akoeplinger @directhex
/scripts/ci @akoeplinger @directhex

/support @lambdageek @vargaz

/tools @lambdageek @vargaz
/tools/locale-builder @marek-safar
/tools/nuget-hash-extractor @marek-safar @radical @akoeplinger
/tools/pedump @lambdageek
/tools/sgen @brzvlad @vargaz
