<?xml version="1.0" encoding="utf-8" ?>
<!-- Example app.config file for specifying default LDAP server information -->
<configuration>
  <configSections>
      <sectionGroup name="System.DirectoryServices">
          <section name="Settings" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
  </configSections>

  <System.DirectoryServices>
      <Settings>
          <add key="servername" value="xp050"/>
          <add key="port" value="389"/>
      </Settings>
  </System.DirectoryServices>
</configuration>
