<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  		<sectionGroup name="System.DirectoryServices.Test">
     		<section name="Settings" type="System.Configuration.NameValueSectionHandler"/>
  	</sectionGroup>
	</configSections>
	<System.DirectoryServices.Test>
   		<Settings>
      		<add key="servername" value="ldap.example.com"/>
      		<add key="port" value="389"/>
      		<add key="basedn" value="dc=example,dc=com"/>
      		<add key="username" value="cn=admin,dc=example,dc=com"/>
      		<add key="password" value="password"/>
      		<add key="authenticationtype" value="ServerBind"/>
   		</Settings>
	</System.DirectoryServices.Test>
</configuration>
