<?xml version="1.0" encoding="utf-8" ?>
<!-- Example app.config file for specifying default LDAP server information -->
<configuration>
  <configSections>
      <sectionGroup name="System.DirectoryServices">
          <section name="Settings" type="System.Configuration.NameValueSectionHandler"/>
      </sectionGroup>
  </configSections>

  <System.DirectoryServices>
      <Settings>
          <add key="servername" value="xp050"/>
          <add key="port" value="389"/>
          <add key="securitymech" value="1.2.840.113554.1.2.2"/>
          <add key="securityappname" value="com.mainsoft.system.directoryservices"/>
      </Settings>
  </System.DirectoryServices>
</configuration>
