<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
         <section name="system.data_test" 
             type="System.Data.Common.DbProviderFactoriesConfigurationHandler, System.Data, Version=2.0, Culture=neutral"/>
           
        <section name="connectionStrings_test"
            type="System.Data.Common.ConnectionStringsSectionHandler, System.Data, Version=2.0, Culture=neutral"/>
            
    </configSections>
     <system.data_test>
        <DbProviderFactories>
           <add name="ProviderTest.Name"         
               invariant="ProviderTest.InvariantName"         
               support="FF" 
               description="ProviderTest.Description"      
               type="ProviderTest.AssemblyQualifiedName"/>
        </DbProviderFactories>
    </system.data_test>
    <connectionStrings_test>
        <add name="Publications" providerName="System.Data.SqlClient" 
         connectionString="Data Source=MyServer;Initial Catalog=pubs;integrated security=SSPI" />
    </connectionStrings_test>
</configuration>
