<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="system.data_test" 
			type="System.Data.Common.DbProviderFactoriesConfigurationHandler, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
		<section name="connectionStrings_test"
			type="System.Configuration.ConnectionStringsSection, System.Configuration, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"/>
	</configSections>
	<system.data>
		<DbProviderFactories>
			<add name="ProviderTest2.Name"
				invariant="ProviderTest2.InvariantName"
				support="FF"
				description="ProviderTest2.Description"
				type="ProviderTest2.AssemblyQualifiedName"/>
		</DbProviderFactories>
	</system.data>
	<system.data_test>
		<DbProviderFactories>
			<add name="ProviderTest3.Name"
				invariant="ProviderTest3.InvariantName"
				support="FF"
				description="ProviderTest3.Description"
				type="ProviderTest3.AssemblyQualifiedName"/>
			<clear />
			<add name="ProviderTest4.Name"
				invariant="ProviderTest4.InvariantName"
				support="FF"
				description="ProviderTest4.Description"
				type="ProviderTest4.AssemblyQualifiedName"/>
			<add name="ProviderTest5.Name"
				invariant="ProviderTest5.InvariantName"
				support="FF"
				description="ProviderTest5.Description"
				type="ProviderTest5.AssemblyQualifiedName"/>
			<remove invariant="ProviderTest5.InvariantName" />
			<add name="ProviderTest.Name"
				invariant="ProviderTest.InvariantName"
				support="FF"
				description="ProviderTest.Description"
				type="ProviderTest.AssemblyQualifiedName"/>
		</DbProviderFactories>
	</system.data_test>
	<connectionStrings_test>
		<add name="Publications" providerName="System.Data.SqlClient" 
			connectionString="Data Source=MyServer;Initial Catalog=pubs;integrated security=SSPI" />
	</connectionStrings_test>
</configuration>
