/*
* base.css: CSS applied to all the docs 
*
* Author: Mario Sopena
*/

body, table {
	margin: 0px;
	font-family: @@FONT_FAMILY@@, sans-serif;
	font-size: @@FONT_SIZE@@%;
}

div.header {
    background-color: #FAFBFD;
    font-size: 1.7em;
    font-weight: bold;
    padding: 8px 0 0 10px;
    font-family: 'Segoe UI',Verdana,Arial;
}

div.title {
	font-size: 130%;
	font-weight: bolder;
	margin-top: 0.3em;
	margin-left: 0.2em;
	margin-bottom: 0.1em;
}

.subtitle {
	font-style: italic;
}

