/*
* ecmaspec.css: CSS applied to ECMA C# specs
*
* Author: Mario Sopena
*/

#ecmaspec {
	background: #a4dda4; /*#83b183;*/
	border: 2px solid #556655;
}

p {
	text-align: justify;
	margin-top: .5em;
	margin-bottom: .5em;
}

span.keyword {
   color: #a6563a;
}

a:link {
   	text-decoration: none;
}

a:hover {
	text-decoration: underline;
}

div.code_example {
   background: #f5f5dd;
   border: 1px solid #cdcd82;
   border: 1px solid black;
   padding-left: 1em;
   padding-bottom: 1em;
   margin-top: 1em;
   font-family: fixed;
   white-space: pre;
   margin-bottom: 1em;
}
div.code_ex_title {
   position: relative;
   top: -1em;
   left: 30%;
   background: #cdcd82;
   border: 1px solid black;
   color: black;
   text-transform: uppercase;
   width: 40%;
   padding: 0.3em;
   text-align: center;
}

span.symbol {
	font-weight: bolder;
}


span.optional {
	font-style: italic;
}

div.note {
   background: #cdcd82;
   border: 1px solid black;
   padding: 1em;
   margin-top: 1em;
   margin-bottom: 1em;
}
