/Makefile
/Makefile.in
/_tmpinst
/aclocal.m4
/autom4te.cache
/config.cache
/config.guess
/config.h
/config.h.in
/config.h.in
/config.log
/config.status
/config.sub
/configure
/libtool
/ltconfig
/ltmain.sh
/mono-*.tar.*
/*.pc
/mono.spec
/mono-core.spec
/semantic.cache
/mono.h
/stamp-h
/stamp-h.in
/stamp-h1
/tmpinst-dir.stamp
/missing
/compile
/depcomp
/install-sh
/doltlibtool
/doltcompile
/libtool.m4
/ltoptions.m4
/ltsugar.m4
/lt~obsolete.m4
/ltversion.m4
*~
*.suo
*.csproj.user