/CreateRole.aspx -crlf
/CreateRole.aspx.cs -crlf
/CreateRole.aspx.designer.cs -crlf
/CreateUser.aspx -crlf
/CreateUser.aspx.cs -crlf
/CreateUser.aspx.designer.cs -crlf
/Default.aspx -crlf
/Default.aspx.cs -crlf
/Default.aspx.designer.cs -crlf
/EditUser.aspx -crlf
/EditUser.aspx.cs -crlf
/EditUser.aspx.designer.cs -crlf
/Error.aspx -crlf
/Error.aspx.cs -crlf
/Error.aspx.designer.cs -crlf
/GridButton.cs -crlf
/GridCheckBox.cs -crlf
/HttpHandlersSectionHandler.cs -crlf
/Mainsoft.Web.AspnetConfig.css -crlf
/ManageRole.aspx -crlf
/ManageRole.aspx.cs -crlf
/ManageRole.aspx.designer.cs -crlf
/ManageUser.aspx -crlf
/ManageUser.aspx.cs -crlf
/ManageUser.aspx.designer.cs -crlf
/RolesDS.cs -crlf
/SecurError.aspx -crlf
/SecurError.aspx.cs -crlf
/SecurError.aspx.designer.cs -crlf
/StrUtils.cs -crlf
/UrlUtils.cs -crlf
/Util.Master -crlf
/Util.Master.cs -crlf
/Util.Master.designer.cs -crlf
