<?xml version="1.0" encoding="ISO-8859-1"?>
<!DOCTYPE web-app PUBLIC "-//Sun Microsystems, Inc.//DTD Web Application 2.3//EN" "http://java.sun.com/dtd/web-app_2_3.dtd"[]>
<web-app>
  <display-name>Visual MainWin application</display-name>
  <description>Visual MainWin application.</description>
  <context-param>
    <param-name>EnableSessionPersistency</param-name>
    <param-value>False</param-value>
  </context-param>
  <context-param>
    <param-name>WebFileSystemAccess</param-name>
    <param-value>Virtual</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.STATE_SAVING_METHOD</param-name>
    <param-value>client</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.application.CONFIG_FILES</param-name>
    <param-value>/WEB-INF/faces-config.xml</param-value>
  </context-param>
  <context-param>
    <param-name>javax.faces.DEFAULT_SUFFIX</param-name>
    <param-value>.aspx</param-value>
  </context-param>
  <listener>
    <listener-class>org.apache.myfaces.webapp.StartupServletContextListener</listener-class>
  </listener>
  <listener>
    <listener-class>system.Web.GH.SessionListener</listener-class>
  </listener>
  <servlet>
    <servlet-name>VmwIncludeHelperServlet</servlet-name>
    <servlet-class>system.Web.GH.IncludeHelperServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VmwDynamicServlet</servlet-name>
    <servlet-class>GhDynamicHttpServlet</servlet-class>
  </servlet>
  <servlet>
    <servlet-name>VmwStaticServlet</servlet-name>
    <servlet-class>GhStaticHttpServlet</servlet-class>
  </servlet>
  <servlet-mapping>
    <servlet-name>VmwDynamicServlet</servlet-name>
    <url-pattern>*.aspx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwDynamicServlet</servlet-name>
    <url-pattern>*.asmx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwDynamicServlet</servlet-name>
    <url-pattern>*.ashx</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwDynamicServlet</servlet-name>
    <url-pattern>*.invoke</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwDynamicServlet</servlet-name>
    <url-pattern>*.soap</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwDynamicServlet</servlet-name>
    <url-pattern>*.rem</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwDynamicServlet</servlet-name>
    <url-pattern>*.axd</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwIncludeHelperServlet</servlet-name>
    <url-pattern>/servletincludehelper</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.gif</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.jpeg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.jpg</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.png</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.html</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.htm</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.bmp</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.css</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.js</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.vbs</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.inc</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.swf</url-pattern>
  </servlet-mapping>
  <servlet-mapping>
    <servlet-name>VmwStaticServlet</servlet-name>
    <url-pattern>*.htc</url-pattern>
  </servlet-mapping>
  <session-config>
    <session-timeout>20</session-timeout>
  </session-config>
  <welcome-file-list>
    <welcome-file>Default.aspx</welcome-file>
  </welcome-file-list>
</web-app>