/AttributeMappingSource.cs -crlf
/AttributedAbstractMetaDataMember.cs -crlf
/AttributedAssociationMetaDataMember.cs -crlf
/AttributedColumnMetaDataMember.cs -crlf
/AttributedMetaAssociation.cs -crlf
/AttributedMetaFunction.cs -crlf
/AttributedMetaModel.cs -crlf
/AttributedMetaTable.cs -crlf
/AttributedMetaType.cs -crlf
/LambdaMetaAccessor.cs -crlf
/MappingContext.cs -crlf
/XmlMappingSource.cs -crlf
