/DocHelper.cs -crlf
/DocTest.cs -crlf
/MockInputStream.cs -crlf
/TermInfosTest.cs -crlf
/TestCompoundFile.cs -crlf
/TestDoc.cs -crlf
/TestDocumentWriter.cs -crlf
/TestFieldInfos.cs -crlf
/TestFieldsReader.cs -crlf
/TestFilterIndexReader.cs -crlf
/TestIndexReader.cs -crlf
/TestIndexWriter.cs -crlf
/TestInputStream.cs -crlf
/TestMultiReader.cs -crlf
/TestSegmentMerger.cs -crlf
/TestSegmentReader.cs -crlf
/TestSegmentTermDocs.cs -crlf
/TestSegmentTermEnum.cs -crlf
/TestTermVectorsReader.cs -crlf
/TestTermVectorsWriter.cs -crlf
