/FakePackage.cs -crlf
/FakePackagePartTests.cs -crlf
/FakePackageTests.cs -crlf
/PackUriHelperTests.cs -crlf
/PackagePartStreamTests.cs -crlf
/PackagePartTest.cs -crlf
/PackageRelationshipTests.cs -crlf
/PackageTest.cs -crlf
