/AssemblyInfo.cs -crlf
/AttributeMappingSourceTest.cs -crlf
/BinaryTest.cs -crlf
/CsvArrayAdapterTest.cs -crlf
/DataContextTest.cs -crlf
/EntitySetTest.cs -crlf
/ExpressionEqualityComparerTest.cs -crlf
/IDataTypeExtensionsTest.cs -crlf
/PeopleTable.cs -crlf
/TableTest.cs -crlf
/TypeContextTest.cs -crlf
