<configuration>
	<serializer class="System.Xml.Schema.XmlSchema" assembly="../../lib/default/System.Xml.dll">
		<noreader>true</noreader>
		<generateAsInternal>true</generateAsInternal>
		<writer>XmlSchemaSerializationWriter</writer>
		<namespace>System.Xml.Schema</namespace>
	</serializer>
</configuration>

