/DisabledEntityTracker.cs -crlf
/EntityState.cs -crlf
/EntityTrack.cs -crlf
/EntityTracker.cs -crlf
/IEntityTracker.cs -crlf
/MemberModificationHandler.cs -crlf
/QueryProvider.cs -crlf
/VendorProvider.cs -crlf
