<?xml version="1.0"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
	<system.web>
	<siteMap defaultProvider="CustomXmlSitemapProvider" enabled="true">
		<providers>
			<add name="CustomXmlSitemapProvider" type="XmlSiteMapProviderBug.CustomXmlSitemapProvider, App_Code" siteMapFile="web.sitemap" securityTrimmingEnabled="true"/>
		</providers>
	</siteMap>
		<compilation debug="true" />
	</system.web>
</configuration>
