/Directory.cs -crlf
/FSDirectory.cs -crlf
/InputStream.cs -crlf
/Lock.cs -crlf
/OutputStream.cs -crlf
/Package.html -crlf
/RAMDirectory.cs -crlf
/RAMFile.cs -crlf
/RAMInputStream.cs -crlf
/RAMOutputStream.cs -crlf
