body {
  font:       9px Lucida Grande, Verdana, Arial, Helvetica, sans serif;
  margin:     0px;
  margin-top: 0px;
  margin-bottom: 70px;
}

/*a, a:hover, a:visited, a:active { 
  color: #E8A400;
}*/

img { border: 0; }

#tagline {
  margin-left:60px;
  margin-right:60px;
  margin-bottom:25px;
  border:1px solid #E8A400;
  height:1%;
  padding:10px;
  background-color: #FFF4D8;
  text-align:center;
  color: #E8A400;
  font: 12px/18px Verdana, sans-serif;
}

#content {
  margin-left:60px;
  margin-right:340px;
}

#content .header {
  font: 18px/18px Georgia, serif;
  color: #7E9E50;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  text-transform: lowercase;
  font-style: italic;
  padding-bottom:4px;
  border-bottom:1px dotted #C5DEA1;
  clear: left;
}

#content h1 {
  font: 18px/18px Georgia, serif;
  color: #7E9E50;
  font-weight: normal;
  margin: 0px;
  padding: 0px;
  text-transform: lowercase;
  font-style: italic;
  padding-bottom:4px;
  border-bottom:1px dotted #C5DEA1;
  clear: left;
}

#content h2 {
  font: 15px/15px Georgia, serif;
  color:       #7E9E50;
  font-size:   15px;
  font-weight: normal;
  margin: 0px;
  padding: 5px;
  margin-top: 20px;
  text-transform: lowercase;
  font-style: italic;
}

#content h3 {
  font: 11px/14px Lucida Grande, Verdana, Arial, Helvetica, sans serif;
  margin:0;
  padding:0;
  margin-left: 10px;
  margin-top: 10px;
  font-weight:bold;
}

#content p {
  font-size:11px;
  line-height:1.7;
  color:#444;
  margin-left: 10px;
  margin-top: 10px;
}

#content table {
  font: 11px/14px Lucida Grande, Verdana, Arial, Helvetica, sans serif;
  margin-left: 10px;
  border: 0;
  padding: 0;
}

#content textbox {
  font: 11px/14px Lucida Grande, Verdana, Arial, Helvetica, sans serif;
  padding-left: 10px;
  border: 0;
}

#content table thead tr {
}

#content table tbody td {
  vertical-align:top;
  text-align: left;
  padding:2px;
}

.failed {
	border:1px solid #E8A400;
	background-color: #f36060;
}

.passed {
	background-color: #7ade7a;
	border:1px solid #C5DEA1;
}