/AggregatingTestRunner.cs -crlf
/AssemblyInfo.cs -crlf
/AssemblyItem.cs -crlf
/AssemblyList.cs -crlf
/AssemblyWatcher.cs -crlf
/CategoryExpression.cs -crlf
/CategoryManager.cs -crlf
/CommandLineOptions.cs -crlf
/ConsoleWriter.cs -crlf
/ISettings.cs -crlf
/ITestEvents.cs -crlf
/ITestLoader.cs -crlf
/MemorySettingsStorage.cs -crlf
/MultipleTestDomainRunner.cs -crlf
/NUnitProject.cs -crlf
/NUnitRegistry.cs -crlf
/PathUtils.cs -crlf
/ProcessRunner.cs -crlf
/ProjectConfig.cs -crlf
/ProjectConfigCollection.cs -crlf
/ProjectFormatException.cs -crlf
/ProxyTestRunner.cs -crlf
/RecentFileEntry.cs -crlf
/RecentFiles.cs -crlf
/RecentFilesCollection.cs -crlf
/RegistrySettingsStorage.cs -crlf
/RemoteTestAgent.cs -crlf
/ResultSummarizer.cs -crlf
/ServerBase.cs -crlf
/ServerUtilities.cs -crlf
/Services.cs -crlf
/SettingsGroup.cs -crlf
/SettingsStorage.cs -crlf
/StackTraceFilter.cs -crlf
/SummaryVisitor.cs -crlf
/TestAgent.cs -crlf
/TestDomain.cs -crlf
/TestEventArgs.cs -crlf
/TestEventDispatcher.cs -crlf
/TestExceptionHandler.cs -crlf
/TestLoader.cs -crlf
/TestObserver.cs -crlf
/TestResultItem.cs -crlf
/TestServer.cs -crlf
/Transform.resx -crlf
/VSProject.cs -crlf
/VSProjectConfig.cs -crlf
/VSProjectConfigCollection.cs -crlf
/XmlResultTransform.cs -crlf
/XmlResultVisitor.cs -crlf
/XmlSettingsStorage.cs -crlf
/nunit.util.build -crlf
