/TestResult-net_3_5.log
/TestResult-net_3_5.xml
/TestResult-ondotnet-net_3_5.log
/TestResult-ondotnet-net_3_5.xml
/System.ServiceModel.Web_test_net_3_5.dll
/System.ServiceModel.Web_test_net_3_5.dll.mdb
