/Nvdl.xml -crlf
/NvdlAction.xml -crlf
/NvdlActionList.xml -crlf
/NvdlAllow.xml -crlf
/NvdlAnyNamespace.xml -crlf
/NvdlAttach.xml -crlf
/NvdlAttachPlaceHolder.xml -crlf
/NvdlAttributable.xml -crlf
/NvdlBuiltInValidationProvider.xml -crlf
/NvdlCancelAction.xml -crlf
/NvdlCompileException.xml -crlf
/NvdlConfig.xml -crlf
/NvdlContext.xml -crlf
/NvdlContextList.xml -crlf
/NvdlElementBase.xml -crlf
/NvdlException.xml -crlf
/NvdlIncludedMode.xml -crlf
/NvdlMessage.xml -crlf
/NvdlMessageEventArgs.xml -crlf
/NvdlMessageEventHandler.xml -crlf
/NvdlMessageList.xml -crlf
/NvdlMode.xml -crlf
/NvdlModeBase.xml -crlf
/NvdlModeList.xml -crlf
/NvdlModeUsage.xml -crlf
/NvdlNamespace.xml -crlf
/NvdlNestedMode.xml -crlf
/NvdlNoCancelAction.xml -crlf
/NvdlNoResultAction.xml -crlf
/NvdlOption.xml -crlf
/NvdlOptionList.xml -crlf
/NvdlReader.xml -crlf
/NvdlReject.xml -crlf
/NvdlRelaxngValidatorProvider.xml -crlf
/NvdlResultAction.xml -crlf
/NvdlResultType.xml -crlf
/NvdlRule.xml -crlf
/NvdlRuleList.xml -crlf
/NvdlRuleTarget.xml -crlf
/NvdlRules.xml -crlf
/NvdlTrigger.xml -crlf
/NvdlTriggerList.xml -crlf
/NvdlUnwrap.xml -crlf
/NvdlValidate.xml -crlf
/NvdlValidatingReader.xml -crlf
/NvdlValidationException.xml -crlf
/NvdlValidationProvider.xml -crlf
/NvdlValidatorGenerator.xml -crlf
/NvdlXsdValidatorProvider.xml -crlf
