/DirectoryServicesDirectoryEntryTest.cs -crlf
/DirectoryServicesDirectorySearcherTest.cs -crlf
/DirectoryServicesPermissionAttributeTest.cs -crlf
/DirectoryServicesPermissionTest.cs -crlf
/DirectoryServicesSearchResultTest.cs -crlf
/TestConfiguration.cs -crlf
/example.app.config -crlf
