<?xml version="1.0" encoding="utf-8" ?>
<!-- Example app.config file for specifying test configuration information -->
<configuration>
  <System.DirectoryServices.Test>
      <Settings>
	      <add key="servername" value="myserver"/>
	      <add key="port" value="389"/>
	      <add key="basedn" value="dc=example,dc=com"/>
	      <add key="username" value="myuser"/>
	      <add key="password" value="mypassword"/>
	      <add key="authenticationtype" value="Sealing | Secure"/>
      </Settings>
  </System.DirectoryServices.Test>
</configuration>
