/AttributesTest.cs -crlf
/DataContractSerializerTest_FrameworkTypes.cs -crlf
/DataContractSerializerTest_FrameworkTypes_System.Data.cs -crlf
/DataContractSerializerTest_FrameworkTypes_System.cs -crlf
/DataContractSerializerTest_FrameworkTypes_mscorlib.cs -crlf
