/INullable.cs -crlf
/SqlBinary.cs -crlf
/SqlBoolean.cs -crlf
/SqlByte.cs -crlf
/SqlCompareOptions.cs -crlf
/SqlDateTime.cs -crlf
/SqlDecimal.cs -crlf
/SqlDouble.cs -crlf
/SqlGuid.cs -crlf
/SqlInt16.cs -crlf
/SqlInt32.cs -crlf
/SqlInt64.cs -crlf
/SqlMoney.cs -crlf
/SqlNullValueException.cs -crlf
/SqlSingle.cs -crlf
/SqlString.cs -crlf
/SqlTruncateException.cs -crlf
/SqlTypeException.cs -crlf
