/AggregateCatalog.cs -crlf
/AggregateExportProvider.cs -crlf
/AssemblyCatalog.cs -crlf
/AssemblyCatalogDebuggerProxy.cs -crlf
/AtomicComposition.cs -crlf
/AtomicCompositionExtensions.cs -crlf
/CatalogExportProvider.CatalogChangeProxy.cs -crlf
/CatalogExportProvider.CatalogExport.cs -crlf
/CatalogExportProvider.PartCreatorExport.cs -crlf
/CatalogExportProvider.cs -crlf
/ComposablePartCatalogChangeEventArgs.cs -crlf
/ComposablePartCatalogCollection.cs -crlf
/ComposablePartExportProvider.cs -crlf
/CompositionBatch.SingleExportComposablePart.cs -crlf
/CompositionBatch.cs -crlf
/CompositionConstants.cs -crlf
/CompositionContainer.cs -crlf
/CompositionLock.cs -crlf
/CompositionServices.cs -crlf
/DirectoryCatalog.DirectoryCatalogDebuggerProxy.cs -crlf
/DirectoryCatalog.cs -crlf
/ExportProvider.GetExportOverrides.cs -crlf
/ExportProvider.cs -crlf
/ExportsChangeEventArgs.cs -crlf
/INotifyComposablePartCatalogChanged.cs -crlf
/ImportEngine.EngineContext.cs -crlf
/ImportEngine.PartManager.cs -crlf
/ImportEngine.RecompositionManager.cs -crlf
/ImportEngine.cs -crlf
/TypeCatalog.cs -crlf
