/reader-method-gen.exe
/writer-method-gen.exe
/TestResult-net_3_0.log
/TestResult-net_3_0.xml
/TestResult-ondotnet-net_3_0.log
/TestResult-ondotnet-net_3_0.xml
/System.Runtime.Serialization_test_net_3_0.dll
/System.Runtime.Serialization_test_net_3_0.dll.mdb
