<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <runtime>
        <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
            <dependentAssembly>
                <assemblyIdentity name="nunit.framework" publicKeyToken="96d09a1eb7f44a77" culture="Neutral" /> 
                <bindingRedirect oldVersion="2.1.4.0" newVersion="2.2.0.0" /> 
            </dependentAssembly>
        </assemblyBinding>
    </runtime>
    <appSettings>
	    <add key="DataSource" value="localhost" />
	    <add key="Port" value="3050" />
	    <add key="Database" value="nunit_testdb" />
	    <add key="User" value="SYSDBA" />
	    <add key="Password" value="masterkey" />	
	    <add key="Role" value="" />
	    <add key="Charset" value="UNICODE_FSS" />		
	    <add key="Dialect" value="3" />	
	    <add key="Connection lifetime" value="15" />
	    <add key="Pooling" value="false" />
	    <add key="Packet Size" value="8192" />
	    <add key="PageSize" value="4096" />
	    <add key="ForcedWrite" value="false" />
	    <add key="ServerType" value="0" />
	    <add key="Isql Script" value="" />
    </appSettings>
</configuration>
