/AdvancedValueComposition.cs -crlf
/AggregateExportProviderTest.cs -crlf
/AttributedModelServicesTests.cs -crlf
/CardinalityMismatchExceptionTests.cs -crlf
/ComponentModelTestTypes.cs -crlf
/ComponentServicesTests.cs -crlf
/ComposablePartCatalogExtensions.cs -crlf
/ComposablePartDefinitionTests.cs -crlf
/ComposablePartExceptionTests.cs -crlf
/ComposablePartExtensibilityTests.cs -crlf
/ComposablePartTests.cs -crlf
/CompositionContainerCollectionTests.cs -crlf
/CompositionContainerExtensibilityTests.cs -crlf
/CompositionContainerExtensions.cs -crlf
/CompositionContainerImportTests.cs -crlf
/CompositionContainerTests.cs -crlf
/CompositionErrorDebuggerProxyTests.cs -crlf
/CompositionErrorIdTests.cs -crlf
/CompositionErrorTests.cs -crlf
/CompositionExceptionTests.cs -crlf
/CompositionResultOfTTest.cs -crlf
/CompositionResultTest.cs -crlf
/CompositionServiceExtensionsTests.cs -crlf
/CompositionServiceProxy.cs -crlf
/CompositionServicesTests.cs -crlf
/ConcreteComposablePart.cs -crlf
/ConstraintServicesTests.cs -crlf
/ContractBasedImportDefinitionTests.cs -crlf
/ContractMismatchExceptionTests.cs -crlf
/DynamicMetadata.cs -crlf
/Expectations.cs -crlf
/ExportAttributeTests.cs -crlf
/ExportCollectionTests.cs -crlf
/ExportDefinitionTests.cs -crlf
/ExportMetadataAttributeTests.cs -crlf
/ExportProviderTests.cs -crlf
/ExportTests.cs -crlf
/ExportableAttributeTests.cs -crlf
/GenerationServicesTests.cs -crlf
/ImportAttributeTests.cs -crlf
/ImportDefinitionTests.cs -crlf
/ImportingComposablePart.cs -crlf
/ImportingConstructorAttributeTests.cs -crlf
/InitializationScopeTests.cs -crlf
/MetadataAttributeAttributeTests.cs -crlf
/MetadataTests.cs -crlf
/MetadataViewProviderTests.cs -crlf
/MicroExport.cs -crlf
/PartCreationPolicyAttributeTests.cs -crlf
/PartMetadataAttributeTests.cs -crlf
/SampleComponents.cs -crlf
