/CollectionServices.CollectionOfObject.cs -crlf
/CollectionServices.cs -crlf
/ConditionalWeakTable.cs -crlf
/EnumerableCardinality.cs -crlf
/ReadOnlyDictionary.cs -crlf
/ReadOnlyDictionaryDebuggerProxy.cs -crlf
/WeakReferenceCollection.cs -crlf
