<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.web>
		<compilation debug="true" />
		<customErrors mode="RemoteOnly" />
		<authentication mode="Forms" >
			<forms loginUrl="login.aspx" protection="All" slidingExpiration="true" timeout="10">
				<credentials passwordFormat="MD5">
					<![CDATA[[SuppressMessage("Microsoft.Security", "CS002:SecretInNextLine", Justification="For the tests to work, this "password" needs to be an Md5 hash, making replacement with "[PLACEHOLDER]" unworkable. It does not protect any resource.")]]>
					<user name="admin" password="098f6bcd4621d373cade4e832627b4f6" />
				</credentials>
			</forms>
		</authentication>
	</system.web>
</configuration>
