
.appHeader
{
	background-image: url(Images/mainsoft.jpg); 
	background-repeat :no-repeat;
	height: 139px; 
	width: 100%;
	border-bottom: 1 solid #7daad4;
	background-color:White;
	width: 100%;
	height: 133px;
} 

.controlheader {
	text-align: center; 
	background-color: #5D7B9D; 
	font-weight:bold; 
	font-size:0.9em; 
	color:White;
	text-align:center; 
	height: 25px;
}

.maintable {
	border-right: thin solid; 
	padding-right: 2px; 
	border-top: thin solid; 
	padding-left: 2px; 
	padding-bottom: 2px; 
	border-left: thin solid; 
	padding-top: 2px; 
	border-bottom: thin solid;
	width: 100%;
}

.innertable
{
	background-color: #f7f6f3;
	border-right: #e6e2d8 1px solid;
	border-top: #e6e2d8 1px solid;
	border-left: #e6e2d8 1px solid;
	border-bottom: #e6e2d8 1px solid;
}

.h1{
	font-size: 25px;
	vertical-align: middle;
	color: #6699ff;
	text-align: center;
}

.bordredtable
{
	border-right: #6699ff 5px solid;
	padding-right: 40px;
	border-top: #6699ff 5px solid;
	padding-left: 40px;
	padding-bottom: 40px;
	border-left: #6699ff 5px solid;
	padding-top: 40px;
	border-bottom: #6699ff 5px solid;
	width: 90%;
	height: 500px;
	margin:5%;
}


BODY,TABLE,TR,TD
{
	font-family: Arial;
	font-size: 11pt;
}
