<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE monodoc SYSTEM "http://www.go-mono.org/monodoc.dtd">
<monodoc language="en">
    <class name="System.Reflection.Module" assembly="corlib">
        <summary>TODO</summary>
        <remarks>TODO</remarks>
        <field name="FilterTypeName">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
        </field>
        <field name="FilterTypeNameIgnoreCase">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
        </field>
        <property name="Assembly">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <value>TODO</value>
        </property>
        <property name="FullyQualifiedName">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <value>TODO</value>
        </property>
        <property name="Name">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <value>TODO</value>
        </property>
        <property name="ScopeName">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <value>TODO</value>
        </property>
        <method name="IsDefined(System.Type, System.Boolean)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="attributeType">TODO</param>
            <param name="inherit">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetCustomAttributes(System.Type, System.Boolean)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="attributeType">TODO</param>
            <param name="inherit">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetCustomAttributes(System.Boolean)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="inherit">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetObjectData(System.Runtime.Serialization.SerializationInfo, System.Runtime.Serialization.StreamingContext)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="info">TODO</param>
            <param name="context">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetTypes">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <returns>TODO</returns>
        </method>
        <method name="GetType(System.String, System.Boolean, System.Boolean)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="className">TODO</param>
            <param name="throwOnError">TODO</param>
            <param name="ignoreCase">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetType(System.String, System.Boolean)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="className">TODO</param>
            <param name="ignoreCase">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetType(System.String)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="className">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="FindTypes(System.Reflection.TypeFilter, System.Object)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="filter">TODO</param>
            <param name="filterCriteria">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="ToString">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <returns>TODO</returns>
        </method>
        <method name="GetField(System.String)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="name">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetField(System.String, System.Reflection.BindingFlags)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="name">TODO</param>
            <param name="flags">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetFields">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <returns>TODO</returns>
        </method>
        <method name="GetMethod(System.String)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="name">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetMethod(System.String, System.Type[])">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="name">TODO</param>
            <param name="types">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetMethod(System.String, System.Reflection.BindingFlags, System.Reflection.Binder, System.Reflection.CallingConventions, System.Type[], System.Reflection.ParameterModifier[])">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="name">TODO</param>
            <param name="bindingAttr">TODO</param>
            <param name="binder">TODO</param>
            <param name="callConvention">TODO</param>
            <param name="types">TODO</param>
            <param name="modifiers">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="GetMethods">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <returns>TODO</returns>
        </method>
        <method name="GetSignerCertificate">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <returns>TODO</returns>
        </method>
        <method name="IsResource">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <returns>TODO</returns>
        </method>
    </class>
</monodoc>