#This is a sample file of all options that can be used by a Make.config file.

#Enables building Android
ENABLE_ANDROID = 1

#Disables building Android
#DISABLE_ANDROID = 1

#Disables building iOS
#DISABLE_IOS = 1

#Disables building Mac
#DISABLE_MAC = 1

#Disables build WebAssembly
#DISABLE_WASM = 1

#Disables WebAssembly Windows cross build
#DISABLE_WASM_CROSS = 1

#Disables building the BCL
#DISABLE_BCL = 1

#Disables building the Desktop profile
#DISABLE_DESKTOP = 1

#Disables building LLVM toolchain (some targets like ios/android/wasm will still use it)
#DISABLE_LLVM = 1

#Enables passing --enable-cxx to configure.
#ENABLE_CXX = 1

# Enable netcore support in the WASM build
#ENABLE_WASM_NETCORE = 1

# Disable non-wasm support in the WASM build
#DISABLE_WASM_NO_NETCORE = 1

# Path to the dotnet/runtime repo for the WASM netcore build
#DOTNET_REPO_DIR =

# Enable WASM threads build
#ENABLE_WASM_THREADS=1

# Enable WASM dynamic runtime build
#ENABLE_WASM_DYNAMIC_RUNTIME=1