#This is a sample file of all options that can be used by a Make.config file.

#Disables building Android
#DISABLE_ANDROID = 1

#Disables building iOS
#DISABLE_IOS = 1

#Disables build WebAssembly
#DISABLE_WASM = 1

#Disables WebAssembly Windows cross build
#DISABLE_WASM_CROSS = 1

#Disables building the BCL
#DISABLE_BCL = 1

#Disables building the Desktop profile
#DISABLE_DESKTOP = 1

#Disables building LLVM toolchain (some targets like ios/android/wasm will still use it)
#DISABLE_LLVM = 1

#Enables passing --enable-cxx to configure.
#ENABLE_CXX = 1
