/ChangeInterceptorAttributeTests.cs -crlf
/DataServiceExceptionTests.cs -crlf
/DataServiceTests.cs -crlf
/ETagAttributeTests.cs -crlf
/ExpandSegmentCollectionTests.cs -crlf
/ExpandSegmentTests.cs -crlf
/IgnorePropertiesAttributeTests.cs -crlf
/MimeTypeAttributeTests.cs -crlf
/QueryInterceptorAttributeTests.cs -crlf
