/Analyzer.cs -crlf
/CharTokenizer.cs -crlf
/LetterTokenizer.cs -crlf
/LowerCaseFilter.cs -crlf
/LowerCaseTokenizer.cs -crlf
/Package.html -crlf
/PerFieldAnalyzerWrapper.cs -crlf
/PorterStemFilter.cs -crlf
/PorterStemmer.cs -crlf
/SimpleAnalyzer.cs -crlf
/StopAnalyzer.cs -crlf
/StopFilter.cs -crlf
/Token.cs -crlf
/TokenFilter.cs -crlf
/TokenStream.cs -crlf
/Tokenizer.cs -crlf
/WhitespaceAnalyzer.cs -crlf
/WhitespaceTokenizer.cs -crlf
