/CookieException.cs -crlf
/DnsPermission.cs -crlf
/DnsPermissionAttribute.cs -crlf
/EndpointPermission.cs -crlf
/FileWebRequest.cs -crlf
/FileWebResponse.cs -crlf
/FtpStatus.cs -crlf
/HttpContinueDelegate.cs -crlf
/HttpProvider.jvm.cs -crlf
/HttpStateCache.jvm.cs -crlf
/HttpVersion.cs -crlf
/HttpWebRequest.jvm.cs -crlf
/HttpWebResponse.jvm.cs -crlf
/IPv6Address.cs -crlf
/MonoHttpDate.cs -crlf
/ProtocolViolationException.cs -crlf
/SocketPermission.cs -crlf
/VMWHttpProvider.jvm.cs -crlf
/WebException.cs -crlf
/WebResponse.cs -crlf
/WebUtility.cs -crlf
