/TestResult-net_2_0.log
/TestResult-net_2_0.xml
/TestResult-ondotnet-net_2_0.log
/TestResult-ondotnet-net_2_0.xml
/Microsoft.Build.Tasks_test_net_2_0.dll.mdb
/Microsoft.Build.Tasks_test_net_2_0.dll
/Microsoft.Build.Tasks.pidb
/Microsoft.Build.Tasks.userprefs
/Microsoft.Build.Tasks.Test.pidb
/Microsoft.Build.Tasks.Test.userprefs
/Microsoft.Build.Tasks.Test.mds
/Microsoft.Build.Tasks.Test.usertasks
/bin
