<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.web>
        <customErrors mode="Off"/>
        <compilation debug="true" batch="false"/>
	<authentication mode= "Forms">
	</authentication>
	<browserCaps>
            <use var="HTTP_USER_AGENT" />
	    <filter>
		    <case match=".*">
			    tagwriter=Helper.HtmlWriter,HtmlWriter
		    </case>
	    </filter>
	</browserCaps>
    </system.web>
</configuration>
