/AggregateCatalogTest.cs -crlf
/AssemblyCatalogDebuggerProxyTests.cs -crlf
/AssemblyCatalogTests.cs -crlf
/CatalogExportProviderTests.cs -crlf
/CompositionBatchTests.cs -crlf
/CompositionTransactionTests.cs -crlf
/DirectoryCatalogDebuggerProxyTests.cs -crlf
/DirectoryCatalogTests.cs -crlf
/ImportEngineTests.cs -crlf
/TypeCatalogTests.cs -crlf
