/CheckHits.cs -crlf
/MockFilter.cs -crlf
/SampleComparable.cs -crlf
/TestBooleanPrefixQuery.cs -crlf
/TestCachingWrapperFilter.cs -crlf
/TestDateFilter.cs -crlf
/TestDocBoost.cs -crlf
/TestFilteredQuery.cs -crlf
/TestMultiSearcher.cs -crlf
/TestNot.cs -crlf
/TestParallelMultiSearcher.cs -crlf
/TestPhrasePrefixQuery.cs -crlf
/TestPhraseQuery.cs -crlf
/TestPositionIncrement.cs -crlf
/TestPrefixQuery.cs -crlf
/TestQueryTermVector.cs -crlf
/TestRangeQuery.cs -crlf
/TestRemoteSearchable.cs -crlf
/TestSetNorm.cs -crlf
/TestSimilarity.cs -crlf
/TestSort.cs -crlf
/TestTermVectors.cs -crlf
/TestWildcard.cs -crlf
