<%@ Master Language="C#" MasterPageFile="My.master"%>                                    
<asp:Content ID="Derived" ContentPlaceHolderID="Main" runat="server">
<script runat="server">
    public string MasterTypeMethod ()
    {
        return "MasterTypeMethod";
    }
</script>
        <asp:contentplaceholder id="Header" runat="server">
              Derived header text 
        </asp:contentplaceholder>
        
        <asp:contentplaceholder id="Main" runat="server">
              Derived main text  
        </asp:contentplaceholder>
        
        <asp:contentplaceholder id="Dynamic" runat="server">
              Dirived dynamic text 
        </asp:contentplaceholder>
              
              Derived master page text 
</asp:Content>
    	
	
    