<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <siteMap enabled="true"/>
    <compilation debug="true" batch="false" defaultLanguage="c#"/>
    <httpHandlers>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
      <add path="page.fake" verb ="GET" type="MonoTests.SystemWeb.Framework.MyHandler"/>      
    </httpHandlers>
    <pages EnableSessionState="False" />
    <authentication mode="Forms" >
      <forms loginUrl="~/LoginViewTest1.aspx"
        name=".ASPXFORMSAUTH" />
    </authentication>

    <authorization>
      <deny users="?" />
    </authorization>
    <membership>
      <providers>
        <add name="FakeProvider" type="MonoTests.SystemWeb.Framework.FakeMembershipProvider"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true"
             applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
             minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />
      </providers>
    </membership>
  </system.web>
</configuration>
