<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <compilation defaultLanguage="c#" debug="true" batch="false" />
    <urlMappings enabled="true">
      <add url="~/Mapping.aspx" mappedUrl="~/Mapping1.aspx"/>
    </urlMappings>
    <pages EnableSessionState="False" />
  </system.web>
</configuration>
