/ILReader.cs -crlf
/ILSyntaxError.cs -crlf
/ILTables.cs -crlf
/ILToken.cs -crlf
/ILTokenizer.cs -crlf
/ITokenStream.cs -crlf
/InstrToken.cs -crlf
/Location.cs -crlf
/NumberHelper.cs -crlf
/StringHelper.cs -crlf
/StringHelperBase.cs -crlf
