/*.exe
/*.exe.mdb
/Bmp-Painted.jpg
/Bmp-Painted.png
/BmpPaint.bmp
/out.tiff
/fillpie.png
/Bmp-Painted.bmp
/BmpPaint.jpg
/font.png
/BmpPaint.png
/fontDrawingAdv.bmp
/FontDrawing.bmp
/graphicsui.bmp
/output.bmp
/regionsgp.bmp
/regionsrc.bmp
/units1.bmp
/units2.bmp
/horse.jpg
/TextureWrapModes-with-diff.png
/TextureWrapModes.png
