/CookieCollectionTest.cs -crlf
/CredentialCacheTest.cs -crlf
/DnsTest.cs -crlf
/NetworkCredentialTest.cs -crlf
/ServicePointManagerTest.cs -crlf
/ServicePointTest.cs -crlf
/SocketPermissionTest.cs -crlf
/WebRequestTest.cs -crlf
