<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
	    <caching>
		    <outputCache defaultProvider="TestInMemoryProvider">
			    <providers>
				    <add name="TestInMemoryProvider" type="Test.InMemoryProvider, App_Code"/>
			    </providers>
		    </outputCache>
	    </caching>
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
