<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="providers" type="DbMetal.Configuration.ProvidersSection, DbMetal" />
  </configSections>
  <connectionStrings>
    <add name="DbMetal.Properties.Settings.TempOneConnectionString"
      connectionString="Data Source=.\sqlexpress;Initial Catalog=TempOne;Integrated Security=True"
      providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="ClientSettingsProvider.ServiceUri" value="" />
  </appSettings>
  <providers>
    <providers>
      <provider name="MySQL" dbLinqSchemaLoader="DbLinq.MySql.MySqlSchemaLoader, DbLinq.MySql" databaseConnection="MySql.Data.MySqlClient.MySqlConnection, MySql.Data" />
      <provider name="Oracle" dbLinqSchemaLoader="DbLinq.Oracle.OracleSchemaLoader, DbLinq.Oracle" databaseConnection="System.Data.OracleClient.OracleConnection, System.Data.OracleClient" />
      <provider name="OracleODP" dbLinqSchemaLoader="DbLinq.Oracle.OracleSchemaLoader, DbLinq.Oracle" databaseConnection="Oracle.DataAccess.Client.OracleConnection, Oracle.DataAccess" />
      <provider name="PostgreSQL" dbLinqSchemaLoader="DbLinq.PostgreSql.PgsqlSchemaLoader, DbLinq.PostgreSql" databaseConnection="Npgsql.NpgsqlConnection, Npgsql" />
      <provider name="SQLite" dbLinqSchemaLoader="DbLinq.Sqlite.SqliteSchemaLoader, DbLinq.Sqlite" databaseConnection="System.Data.SQLite.SQLiteConnection, System.Data.SQLite" />
      <provider name="SqlServer" dbLinqSchemaLoader="DbLinq.SqlServer.SqlServerSchemaLoader, DbLinq.SqlServer" databaseConnection="System.Data.SqlClient.SqlConnection, System.Data, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      <provider name="Ingres" dbLinqSchemaLoader="DbLinq.Ingres.IngresSchemaLoader, DbLinq.Ingres" databaseConnection="Ingres.Client.IngresConnection, Ingres.Client" />
      <provider name="Firebird" dbLinqSchemaLoader="DbLinq.Firebird.FirebirdSchemaLoader, DbLinq.Firebird" databaseConnection="FirebirdSql.Data.FirebirdClient.FbConnection, FirebirdSql.Data.FirebirdClient" />
    </providers>
  </providers>
  <system.web>
    <membership defaultProvider="ClientAuthenticationMembershipProvider">
      <providers>
        <add name="ClientAuthenticationMembershipProvider" type="System.Web.ClientServices.Providers.ClientFormsAuthenticationMembershipProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" />
      </providers>
    </membership>
    <roleManager defaultProvider="ClientRoleProvider" enabled="true">
      <providers>
        <add name="ClientRoleProvider" type="System.Web.ClientServices.Providers.ClientRoleProvider, System.Web.Extensions, Version=3.5.0.0, Culture=neutral, PublicKeyToken=31bf3856ad364e35" serviceUri="" cacheTimeout="86400" />
      </providers>
    </roleManager>
  </system.web>
</configuration>
