<?xml version="1.0" encoding="utf-8" ?> 
<configuration>
  
  <!--  
    In order to run NUnit 2.0 tests under NUnit 2.1, the test
    configuration must include a redirect that instructs the 
    runtime to use the NUnit 2.1 framework. You may copy the
    section below into your test config file, or use this
    file in it's entirety. 
    
    Note that additional redirects could be required if you
    are running under a different version of the CLR than
    the one for which your tests were built.
  -->

  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="nunit.framework"
                          publicKeyToken="96d09a1eb7f44a77"
                          culture="Neutral" />
        <bindingRedirect oldVersion="2.0.6.0" newVersion="2.1.4.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>

</configuration>
