<?xml version="1.0" encoding="utf-8"?>
<!DOCTYPE monodoc SYSTEM "http://www.go-mono.org/monodoc.dtd">
<monodoc language="en">
    <class name="System.Runtime.Remoting.Contexts.Context" assembly="corlib">
        <summary>TODO</summary>
        <remarks>TODO</remarks>
        <constructor name="Context">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
        </constructor>
        <property name="DefaultContext">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <value>TODO</value>
        </property>
        <property name="ContextID">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <value>TODO</value>
        </property>
        <method name="GetProperty(System.String)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="name">TODO</param>
            <returns>TODO</returns>
        </method>
        <method name="SetProperty(System.Runtime.Remoting.Contexts.IContextProperty)">
            <summary>TODO</summary>
            <remarks>TODO</remarks>
            <param name="prop">TODO</param>
            <returns>TODO</returns>
        </method>
    </class>
</monodoc>