/ApplicationDirectoryMembershipCondition.cs -crlf
/ApplicationMembershipCondition.cs -crlf
/DomainApplicationMembershipCondition.cs -crlf
/IIdentityPermissionFactory.cs -crlf
/IMembershipCondition.cs -crlf
/PermissionRequestEvidence.cs -crlf
/PolicyStatement.cs -crlf
