/PowerModeChangedEventArgs.cs -crlf
/PowerModeChangedEventHandler.cs -crlf
/PowerModes.cs -crlf
/SessionEndReasons.cs -crlf
/SessionEndedEventArgs.cs -crlf
/SessionEndedEventHandler.cs -crlf
/SessionEndingEventArgs.cs -crlf
/SessionEndingEventHandler.cs -crlf
/SystemEvents.cs -crlf
/TimerElapsedEventArgs.cs -crlf
/TimerElapsedEventHandler.cs -crlf
/UserPreferenceCategory.cs -crlf
/UserPreferenceChangedEventArgs.cs -crlf
/UserPreferenceChangedEventHandler.cs -crlf
/UserPreferenceChangingEventArgs.cs -crlf
/UserPreferenceChangingEventHandler.cs -crlf
