/ASCIIFoldingFilter.cs -crlf
/Analyzer.cs -crlf
/BaseCharFilter.cs -crlf
/CachingTokenFilter.cs -crlf
/CharArraySet.cs -crlf
/CharFilter.cs -crlf
/CharReader.cs -crlf
/CharStream.cs -crlf
/CharTokenizer.cs -crlf
/CharacterCache.cs -crlf
/ISOLatin1AccentFilter.cs -crlf
/KeywordAnalyzer.cs -crlf
/KeywordTokenizer.cs -crlf
/LengthFilter.cs -crlf
/LetterTokenizer.cs -crlf
/LowerCaseFilter.cs -crlf
/LowerCaseTokenizer.cs -crlf
/MappingCharFilter.cs -crlf
/NormalizeCharMap.cs -crlf
/NumericTokenStream.cs -crlf
/PerFieldAnalyzerWrapper.cs -crlf
/PorterStemFilter.cs -crlf
/PorterStemmer.cs -crlf
/SimpleAnalyzer.cs -crlf
/SinkTokenizer.cs -crlf
/StopAnalyzer.cs -crlf
/StopFilter.cs -crlf
/TeeSinkTokenFilter.cs -crlf
/TeeTokenFilter.cs -crlf
/Token.cs -crlf
/TokenFilter.cs -crlf
/TokenStream.cs -crlf
/TokenWrapper.cs -crlf
/Tokenizer.cs -crlf
/WhitespaceAnalyzer.cs -crlf
/WhitespaceTokenizer.cs -crlf
/WordlistLoader.cs -crlf
