<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="/Web.config [1]" value="[toplevel]"/>
  </appSettings>

  <system.web>
    <compilation debug="true" />
    <customErrors mode="RemoteOnly" />
  </system.web>

  <location path="Stuff.aspx">
    <appSettings>
      <add key="/Web.config [2]" value="Stuff.aspx"/>
    </appSettings>
  </location>

  <location path="sub">
    <appSettings>
      <add key="/Web.config [3]" value="sub"/>
    </appSettings>
  </location>

  <location path="sub/Stuff.aspx">
    <appSettings>
      <add key="/Web.config [4]" value="sub/Stuff.aspx"/>
    </appSettings>
  </location>

  <location path="sub/sub/Stuff.aspx">
    <appSettings>
      <add key="/Web.config [5]" value="sub/sub/Stuff.aspx"/>
    </appSettings>
  </location>

  <location path="sub/sub">
    <appSettings>
      <add key="/Web.config [6]" value="sub/sub"/>
    </appSettings>
  </location>
</configuration>