/BooleanClause.cs -crlf
/BooleanQuery.cs -crlf
/BooleanScorer.cs -crlf
/CachingWrapperFilter.cs -crlf
/ConjunctionScorer.cs -crlf
/DateFilter.cs -crlf
/DefaultSimilarity.cs -crlf
/ExactPhraseScorer.cs -crlf
/Explanation.cs -crlf
/FieldCache.cs -crlf
/FieldCacheImpl.cs -crlf
/FieldDoc.cs -crlf
/FieldDocSortedHitQueue.cs -crlf
/FieldSortedHitQueue.cs -crlf
/Filter.cs -crlf
/FilteredQuery.cs -crlf
/FilteredTermEnum.cs -crlf
/FuzzyQuery.cs -crlf
/FuzzyTermEnum.cs -crlf
/HitCollector.cs -crlf
/HitQueue.cs -crlf
/Hits.cs -crlf
/IndexSearcher.cs -crlf
/MultiSearcher.cs -crlf
/MultiTermQuery.cs -crlf
/Package.html -crlf
/ParallelMultiSearcher.cs -crlf
/PhrasePositions.cs -crlf
/PhrasePrefixQuery.cs -crlf
/PhraseQuery.cs -crlf
/PhraseQueue.cs -crlf
/PhraseScorer.cs -crlf
/PrefixQuery.cs -crlf
/Query.cs -crlf
/QueryFilter.cs -crlf
/QueryTermVector.cs -crlf
/RangeQuery.cs -crlf
/RemoteSearchable.cs -crlf
/ScoreDoc.cs -crlf
/ScoreDocComparator.cs -crlf
/Scorer.cs -crlf
/Searchable.cs -crlf
/Searcher.cs -crlf
/Similarity.cs -crlf
/SloppyPhraseScorer.cs -crlf
/Sort.cs -crlf
/SortComparator.cs -crlf
/SortComparatorSource.cs -crlf
/SortField.cs -crlf
/TermQuery.cs -crlf
/TermScorer.cs -crlf
/TopDocs.cs -crlf
/TopFieldDocs.cs -crlf
/Weight.cs -crlf
/WildcardQuery.cs -crlf
/WildcardTermEnum.cs -crlf
