/BooleanClause.cs -crlf
/BooleanQuery.cs -crlf
/BooleanScorer.cs -crlf
/BooleanScorer2.cs -crlf
/CachingSpanFilter.cs -crlf
/CachingWrapperFilter.cs -crlf
/Collector.cs -crlf
/ComplexExplanation.cs -crlf
/ConjunctionScorer.cs -crlf
/ConstantScoreQuery.cs -crlf
/ConstantScoreRangeQuery.cs -crlf
/DefaultSimilarity.cs -crlf
/DisjunctionMaxQuery.cs -crlf
/DisjunctionMaxScorer.cs -crlf
/DisjunctionSumScorer.cs -crlf
/DocIdSet.cs -crlf
/DocIdSetIterator.cs -crlf
/ExactPhraseScorer.cs -crlf
/Explanation.cs -crlf
/ExtendedFieldCache.cs -crlf
/FieldCache.cs -crlf
/FieldCacheImpl.cs -crlf
/FieldCacheRangeFilter.cs -crlf
/FieldCacheTermsFilter.cs -crlf
/FieldComparator.cs -crlf
/FieldComparatorSource.cs -crlf
/FieldDoc.cs -crlf
/FieldDocSortedHitQueue.cs -crlf
/FieldSortedHitQueue.cs -crlf
/FieldValueHitQueue.cs -crlf
/Filter.cs -crlf
/FilterManager.cs -crlf
/FilteredDocIdSet.cs -crlf
/FilteredDocIdSetIterator.cs -crlf
/FilteredQuery.cs -crlf
/FilteredTermEnum.cs -crlf
/Function -crlf
/FuzzyQuery.cs -crlf
/FuzzyTermEnum.cs -crlf
/Hit.cs -crlf
/HitCollector.cs -crlf
/HitCollectorWrapper.cs -crlf
/HitIterator.cs -crlf
/HitQueue.cs -crlf
/Hits.cs -crlf
/IndexSearcher.cs -crlf
/MatchAllDocsQuery.cs -crlf
/MultiPhraseQuery.cs -crlf
/MultiSearcher.cs -crlf
/MultiTermQuery.cs -crlf
/MultiTermQueryWrapperFilter.cs -crlf
/NumericRangeFilter.cs -crlf
/NumericRangeQuery.cs -crlf
/Package.html -crlf
/ParallelMultiSearcher.cs -crlf
/Payloads -crlf
/PhrasePositions.cs -crlf
/PhraseQuery.cs -crlf
/PhraseQueue.cs -crlf
/PhraseScorer.cs -crlf
/PositiveScoresOnlyCollector.cs -crlf
/PrefixFilter.cs -crlf
/PrefixQuery.cs -crlf
/PrefixTermEnum.cs -crlf
/Query.cs -crlf
/QueryFilter.cs -crlf
/QueryTermVector.cs -crlf
/QueryWrapperFilter.cs -crlf
/RangeFilter.cs -crlf
/RangeQuery.cs -crlf
/ReqExclScorer.cs -crlf
/ReqOptSumScorer.cs -crlf
/ScoreCachingWrappingScorer.cs -crlf
/ScoreDoc.cs -crlf
/ScoreDocComparator.cs -crlf
/Scorer.cs -crlf
/Searchable.cs -crlf
/Searcher.cs -crlf
/Similarity.cs -crlf
/SimilarityDelegator.cs -crlf
/SloppyPhraseScorer.cs -crlf
/Sort.cs -crlf
/SortComparator.cs -crlf
/SortComparatorSource.cs -crlf
/SortField.cs -crlf
/SpanFilter.cs -crlf
/SpanFilterResult.cs -crlf
/SpanQueryFilter.cs -crlf
/Spans -crlf
/TermQuery.cs -crlf
/TermRangeFilter.cs -crlf
/TermRangeQuery.cs -crlf
/TermRangeTermEnum.cs -crlf
/TermScorer.cs -crlf
/TimeLimitedCollector.cs -crlf
/TimeLimitingCollector.cs -crlf
/TopDocCollector.cs -crlf
/TopDocs.cs -crlf
/TopDocsCollector.cs -crlf
/TopFieldCollector.cs -crlf
/TopFieldDocCollector.cs -crlf
/TopFieldDocs.cs -crlf
/TopScoreDocCollector.cs -crlf
/Weight.cs -crlf
/WildcardQuery.cs -crlf
/WildcardTermEnum.cs -crlf
