/CaseInsensitiveAscii.cs -crlf
/ClientHttpWebRequest.cs -crlf
/ClientHttpWebResponse.cs -crlf
/ClientWebHeaderCollection.cs -crlf
/HeaderInfo.cs -crlf
/HeaderInfoTable.cs -crlf
/HttpHeaderToName.cs -crlf
/HttpRequestHeader.cs -crlf
/HttpRequestHeaderEnumToName.cs -crlf
/HttpStatusCode.cs -crlf
/HttpWebRequest.cs -crlf
/HttpWebResponse.cs -crlf
/NameValueFromDictionary.cs -crlf
/ScriptObjectUtility.cs -crlf
/ScriptXmlHttpRequest.cs -crlf
/ValidationHelper.cs -crlf
/WebException.cs -crlf
/WebExceptionStatus.cs -crlf
/WebHeaderCollection.cs -crlf
/WebHeaderCollectionType.cs -crlf
/WebParseError.cs -crlf
/WebRequest.cs -crlf
/WebResponse.cs -crlf
/XHRHttpWebRequest.cs -crlf
/XHRHttpWebResponse.cs -crlf
/XHRWebHeaderCollection.cs -crlf
