<?xml version="1.0" encoding="Windows-1252"?>
<configuration>
  <appSettings>
    <!--   User application and configured property settings go here.-->
    <!--   Example: <add key="settingName" value="settingValue"/> -->
    <add key="shadowfiles.path" value="%temp%\nunit20\ShadowCopyCache" />
  </appSettings>
</configuration>