/DataColumn.cs -crlf
/DataRelationPropertyDescriptor.cs -crlf
/DataRowView.cs -crlf
/DataSet.cs -crlf
/DataTable.cs -crlf
/DataView.cs -crlf
/DataViewManager.cs -crlf
/ExpressionElement.cs -crlf
/RelatedDataView.cs -crlf
/Res.cs -crlf
/XmlDataInferenceLoader.cs -crlf
/XmlDataReader.cs -crlf
