/MicrosoftAjax.debug.en-US.js -crlf
/MicrosoftAjax.debug.js -crlf
/MicrosoftAjax.debug.jvm.js -crlf
/MicrosoftAjax.en-US.js -crlf
/MicrosoftAjax.js -crlf
/MicrosoftAjax.jvm.js -crlf
/MicrosoftAjaxTimer.debug.en-US.js -crlf
/MicrosoftAjaxTimer.debug.js -crlf
/MicrosoftAjaxTimer.en-US.js -crlf
/MicrosoftAjaxTimer.js -crlf
/MicrosoftAjaxWebForms.debug.en-US.js -crlf
/MicrosoftAjaxWebForms.debug.js -crlf
/MicrosoftAjaxWebForms.en-US.js -crlf
/MicrosoftAjaxWebForms.js -crlf
