/ArraySet.cs -crlf
/AtomContentProperty.cs -crlf
/AtomDataKind.cs -crlf
/AtomEntry.cs -crlf
/AtomFeed.cs -crlf
/AtomMaterializer.cs -crlf
/AtomMaterializerLog.cs -crlf
/AtomParser.cs -crlf
/BaseAsyncResult.cs -crlf
/BatchStream.cs -crlf
/BatchStreamState.cs -crlf
/ChangesetResponse.cs -crlf
/ClientConvert.cs -crlf
/ClientType.cs -crlf
/DataServiceClientException.cs -crlf
/DataServiceContext.cs -crlf
/DataServiceEntityAttribute.cs -crlf
/DataServiceKeyAttribute.cs -crlf
/DataServiceProtocolVersion.cs -crlf
/DataServiceQuery.cs -crlf
/DataServiceQueryContinuation.cs -crlf
/DataServiceQueryException.cs -crlf
/DataServiceQueryOfT.cs -crlf
/DataServiceRequest.cs -crlf
/DataServiceRequestArgs.cs -crlf
/DataServiceRequestException.cs -crlf
/DataServiceRequestOfT.cs -crlf
/DataServiceResponse.cs -crlf
/DataServiceStreamResponse.cs -crlf
/Descriptor.cs -crlf
/EntityDescriptor.cs -crlf
/EntityPropertyMappingAttribute.cs -crlf
/EntityStates.cs -crlf
/Error.cs -crlf
/GetReadStreamResult.cs -crlf
/HasStreamAttribute.cs -crlf
/LinkDescriptor.cs -crlf
/MaterializeFromAtom.cs -crlf
/MediaEntryAttribute.cs -crlf
/MemberAssignmentAnalysis.cs -crlf
/MergeOption.cs -crlf
/MimeTypePropertyAttribute.cs -crlf
/OpenObject.cs -crlf
/OpenObjectAttribute.cs -crlf
/OperationResponse.cs -crlf
/ProjectionPath.cs -crlf
/ProjectionPathBuilder.cs -crlf
/ProjectionPathSegment.cs -crlf
/ProjectionPlan.cs -crlf
/ProjectionPlanCompiler.cs -crlf
/QueryOperationResponseOfT.cs -crlf
/QueryResponse.cs -crlf
/QueryResult.cs -crlf
/ReadingWritingEntityEventArgs.cs -crlf
/ReferenceEqualityComparer.cs -crlf
/SaveChangesOptions.cs -crlf
/SendingRequestEventArgs.cs -crlf
/Util.cs -crlf
/WebUtil.cs -crlf
/XmlUtil.cs -crlf
