/ChangeAction.cs -crlf
/ChangeSet.cs -crlf
/DBLinqExtendedAttributte.cs -crlf
/DataContext.Extended.cs -crlf
/DataContext.cs -crlf
/DataLoadOptions.cs -crlf
/EntityRef.cs -crlf
/EntitySet.cs -crlf
/IExecuteResult.cs -crlf
/IMemberModificationHandler.cs -crlf
/ITable.Extended.cs -crlf
/ITable.cs -crlf
/IVendorProvider.cs -crlf
/ReadMe.txt -crlf
/RefreshMode.cs -crlf
/Table.Extended.cs -crlf
/Table.cs -crlf
