<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <siteMap enabled="true"/>
    <compilation debug="true" defaultLanguage="c#" batch="false" />        
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="heh@heh.com">
        <network host="localhost" port="125"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
