/dtd
/core.zip
/create-collation-element-table.exe
/create-collation-element-table.exe.mdb
/collation-tables.h
/normalization-tables.h
/create-normalization-source.exe
/create-normalization-source.exe.mdb
/create-mscompat-collation-table.exe
/create-mscompat-collation-table.exe.mdb
/MSCompatUnicodeTableGenerated.cs
/NormalizationGenerated.cs
/CollationElementTable.cs
/create-tailorings.exe
/StringNormalizationTest.exe.mdb
/TestDriver.exe
/StringNormalizationTest.exe
/UCD
/TestDriver.exe.mdb
/downloaded/NormalizationTest-3.1.0.txt
/downloaded/NormalizationTest.txt
/*.mdb
