/basicHttpBinding -crlf
/client.endpoint -crlf
/client.endpoint.config -crlf
/client.metadata -crlf
/client.metadata.config -crlf
/customBinding -crlf
/customBinding.config -crlf
/empty -crlf
/empty.config -crlf
/endpointBehaviors -crlf
/endpointBehaviors.config -crlf
/extensions -crlf
/extensions.config -crlf
/netTcpBinding -crlf
/netTcpBinding.config -crlf
/service -crlf
/service.config -crlf
/serviceBehaviors -crlf
/serviceBehaviors.config -crlf
/test1 -crlf
/userBinding -crlf
/userBinding.config -crlf
/wsHttpBinding -crlf
/wsHttpBinding.config -crlf
