<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_Service" closeTimeout="00:01:00"
                    openTimeout="00:01:00" receiveTimeout="00:10:00" sendTimeout="00:01:00"
                    allowCookies="false" bypassProxyOnLocal="false" hostNameComparisonMode="StrongWildcard"
                    maxBufferSize="65536" maxBufferPoolSize="524288" maxReceivedMessageSize="65536"
                    messageEncoding="Text" textEncoding="utf-8" transferMode="Buffered"
                    useDefaultWebProxy="true">
                    <readerQuotas maxDepth="32" maxStringContentLength="8192" maxArrayLength="16384"
                        maxBytesPerRead="4096" maxNameTableCharCount="16384" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
                <binding name="BasicHttpBinding2_Service" closeTimeout="00:02:00"
                    openTimeout="00:02:00" receiveTimeout="00:12:00" sendTimeout="00:07:00"
                    allowCookies="true" bypassProxyOnLocal="true" hostNameComparisonMode="Exact"
                    maxBufferSize="32768" maxBufferPoolSize="262144" maxReceivedMessageSize="32768"
                    messageEncoding="Text" textEncoding="utf-16" transferMode="Streamed"
                    useDefaultWebProxy="false" proxyAddress="proxy">
                    <readerQuotas maxDepth="64" maxStringContentLength="16384" maxArrayLength="4096"
                        maxBytesPerRead="8192" maxNameTableCharCount="8192" />
                    <security mode="None">
                        <transport clientCredentialType="None" proxyCredentialType="None"
                            realm="" />
                        <message clientCredentialType="UserName" algorithmSuite="Default" />
                    </security>
                </binding>
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:2160/WCFWebApp/Service.svc"
                binding="basicHttpBinding" bindingConfiguration="BasicHttpBinding_Service"
                contract="ServiceReference1.Service" name="BasicHttpBinding_Service" />
        </client>
    </system.serviceModel>
</configuration>