<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<client>
			<metadata>
				<policyImporters>
					<clear/>
					<extension type="PolicyImporterType1" />
					<extension type="PolicyImporterType2" />
				</policyImporters>
				<wsdlImporters>
					<clear/>
					<extension type="WSDLImporter1" />
					<extension type="WSDLImporter2" />
				</wsdlImporters>
			</metadata>
		</client>
	</system.serviceModel>
</configuration>
