<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<client>
			<endpoint address="http://igorxp:8080/" binding="basicHttpBinding"
                contract="WCFClient.IHelloWorldService" name="BasicHttpBinding_IHelloWorldService">
				<identity>
					<userPrincipalName value="igorz@iloffice.mainsoft.com" />
				</identity>
				<headers>
					<Header1>Header1-Value</Header1>
					<myns:Header2 xmlns:myns="uri:my.custom.manespace">Header2-Value</myns:Header2>
				</headers>
			</endpoint>
		</client>
	</system.serviceModel>
</configuration>