<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<customBinding>
				<binding name="CustomBinding_1" closeTimeout="00:02:00" openTimeout="00:02:00"
				 receiveTimeout="00:20:00" sendTimeout="00:02:00">
					<binaryMessageEncoding maxReadPoolSize="128" maxWritePoolSize="32"
					 maxSessionSize="1024">
						<readerQuotas maxDepth="1024" maxStringContentLength="1024" maxArrayLength="1024"
						 maxBytesPerRead="1024" maxNameTableCharCount="1024" />
					</binaryMessageEncoding>
					<compositeDuplex clientBaseAddress="http://client.base.address" />
					<oneWay maxAcceptedChannels="5" packetRoutable="true">
						<channelPoolSettings idleTimeout="00:01:00" leaseTimeout="00:12:00"
						 maxOutboundChannelsPerEndpoint="5" />
					</oneWay>
					<httpTransport manualAddressing="true" maxBufferPoolSize="262144"
					 maxReceivedMessageSize="32768" allowCookies="true" authenticationScheme="None"
					 bypassProxyOnLocal="true" hostNameComparisonMode="Exact" keepAliveEnabled="false"
					 maxBufferSize="32768" proxyAddress="http://proxy.address" proxyAuthenticationScheme="None"
					 realm="Realm" transferMode="Streamed" unsafeConnectionNtlmAuthentication="true"
					 useDefaultWebProxy="false" />
					<pnrpPeerResolver />
					<privacyNoticeAt url="http://url" version="5" />
					<reliableSession acknowledgementInterval="00:00:00.4000000" flowControlEnabled="false"
					 inactivityTimeout="00:15:00" maxPendingChannels="8" maxRetryCount="16"
					 maxTransferWindowSize="16" ordered="false" reliableMessagingVersion="WSReliableMessaging11" />
					<security defaultAlgorithmSuite="Basic256Rsa15" allowSerializedSigningTokenOnReply="true"
					 authenticationMode="UserNameForCertificate" requireDerivedKeys="false"
					 securityHeaderLayout="Lax" includeTimestamp="false" keyEntropyMode="ClientEntropy"
					 messageProtectionOrder="EncryptBeforeSign" messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11"
					 requireSecurityContextCancellation="false" requireSignatureConfirmation="true">
						<issuedTokenParameters keySize="6" keyType="AsymmetricKey" tokenType="TokenType">
							<additionalRequestParameters>
								<myxml>myinnertext</myxml>
							</additionalRequestParameters>
							<claimTypeRequirements>
								<add claimType="NewClaimType" isOptional="true" />
							</claimTypeRequirements>
							<issuer address="http://address" binding="customBinding" bindingConfiguration="CustomBinding_1">
								<headers>
									<Tag1>Value1</Tag1>
									<Tag2>Value2</Tag2>
								</headers>
								<identity>
									<userPrincipalName value="UserProncipalName" />
									<servicePrincipalName value="ServicePrincipalName" />
									<dns value="Dns" />
									<rsa value="Rsa" />
									<certificate encodedValue="Certificate" />
									<certificateReference storeName="Root" storeLocation="CurrentUser"
									 x509FindType="FindByIssuerName" findValue="FindValue" isChainIncluded="true" />
								</identity>
							</issuer>
							<issuerMetadata address="http://address">
								<headers>
									<Tag>Value</Tag>
								</headers>
								<identity>
									<userPrincipalName value="UserPrincipalName" />
									<servicePrincipalName value="ServicePrincipalName" />
									<dns value="Dns" />
									<rsa value="Rsa" />
									<certificate encodedValue="Certificate" />
									<certificateReference storeName="Root" storeLocation="CurrentUser"
									 x509FindType="FindByIssuerName" findValue="FindValue" isChainIncluded="true" />
								</identity>
							</issuerMetadata>
						</issuedTokenParameters>
						<localClientSettings cacheCookies="false" detectReplays="false"
						 replayCacheSize="600000" maxClockSkew="00:06:00" replayWindow="00:06:00"
						 sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:06:00"
						 reconnectTransportOnFailure="true" timestampValidityDuration="00:06:00"
						 cookieRenewalThresholdPercentage="70" />
						<localServiceSettings detectReplays="false" issuedCookieLifetime="15:00:00"
						 maxStatefulNegotiations="256" replayCacheSize="600000" maxClockSkew="00:10:00"
						 negotiationTimeout="00:02:00" replayWindow="00:08:00" inactivityTimeout="00:04:00"
						 sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:06:00"
						 reconnectTransportOnFailure="false" maxPendingSessions="256"
						 maxCachedCookies="2000" timestampValidityDuration="00:06:00" />
						<secureConversationBootstrap defaultAlgorithmSuite="Basic256Rsa15"
						 allowSerializedSigningTokenOnReply="true" authenticationMode="UserNameForCertificate"
						 requireDerivedKeys="false" securityHeaderLayout="Lax" includeTimestamp="false"
						 keyEntropyMode="ClientEntropy" messageProtectionOrder="EncryptBeforeSign"
						 messageSecurityVersion="WSSecurity11WSTrustFebruary2005WSSecureConversationFebruary2005WSSecurityPolicy11"
						 requireSecurityContextCancellation="false" requireSignatureConfirmation="true">
							<issuedTokenParameters keySize="6" keyType="AsymmetricKey" tokenType="TokenType">
								<additionalRequestParameters>
									<myxml>myinnertext</myxml>
								</additionalRequestParameters>
								<claimTypeRequirements>
									<add claimType="NewClaimType" isOptional="true" />
								</claimTypeRequirements>
								<issuer address="http://address" binding="customBinding" bindingConfiguration="CustomBinding_1">
									<headers>
										<Tag1>Value1</Tag1>
										<Tag2>Value2</Tag2>
									</headers>
									<identity>
										<userPrincipalName value="UserProncipalName" />
										<servicePrincipalName value="ServicePrincipalName" />
										<dns value="Dns" />
										<rsa value="Rsa" />
										<certificate encodedValue="Certificate" />
										<certificateReference storeName="Root" storeLocation="CurrentUser"
										 x509FindType="FindByIssuerName" findValue="FindValue" isChainIncluded="true" />
									</identity>
								</issuer>
								<issuerMetadata address="http://address">
									<headers>
										<Tag>Value</Tag>
									</headers>
									<identity>
										<userPrincipalName value="UserPrincipalName" />
										<servicePrincipalName value="ServicePrincipalName" />
										<dns value="Dns" />
										<rsa value="Rsa" />
										<certificate encodedValue="Certificate" />
										<certificateReference storeName="Root" storeLocation="CurrentUser"
										 x509FindType="FindByIssuerName" findValue="FindValue" isChainIncluded="true" />
									</identity>
								</issuerMetadata>
							</issuedTokenParameters>
							<localClientSettings cacheCookies="false" detectReplays="false"
							 replayCacheSize="600000" maxClockSkew="00:06:00" replayWindow="00:06:00"
							 sessionKeyRenewalInterval="15:00:00" sessionKeyRolloverInterval="00:06:00"
							 reconnectTransportOnFailure="true" timestampValidityDuration="00:06:00"
							 cookieRenewalThresholdPercentage="70" />
							<localServiceSettings detectReplays="false" issuedCookieLifetime="15:00:00"
							 maxStatefulNegotiations="256" replayCacheSize="600000" maxClockSkew="00:10:00"
							 negotiationTimeout="00:02:00" replayWindow="00:08:00" inactivityTimeout="00:04:00"
							 sessionKeyRenewalInterval="10:00:00" sessionKeyRolloverInterval="00:06:00"
							 reconnectTransportOnFailure="false" maxPendingSessions="256"
							 maxCachedCookies="2000" timestampValidityDuration="00:06:00" />
						</secureConversationBootstrap>
					</security>
					<sslStreamSecurity requireClientCertificate="true" />
					<transactionFlow transactionProtocol="WSAtomicTransactionOctober2004" />
					<useManagedPresentation />
				</binding>
				<binding name="CustomBinding_2">
					<textMessageEncoding maxReadPoolSize="128" maxWritePoolSize="32"
					 messageVersion="Soap11WSAddressingAugust2004" writeEncoding="utf-32">
						<readerQuotas maxDepth="128" maxStringContentLength="128" maxArrayLength="128"
						 maxBytesPerRead="128" maxNameTableCharCount="128" />
					</textMessageEncoding>
					<windowsStreamSecurity protectionLevel="None" />
					<httpsTransport manualAddressing="true" maxBufferPoolSize="262144"
					 maxReceivedMessageSize="32768" allowCookies="true" authenticationScheme="None"
					 bypassProxyOnLocal="true" hostNameComparisonMode="Exact" keepAliveEnabled="true"
					 maxBufferSize="32768" proxyAddress="https://proxy.address" proxyAuthenticationScheme="None"
					 realm="Realm" transferMode="Streamed" unsafeConnectionNtlmAuthentication="true"
					 useDefaultWebProxy="false" requireClientCertificate="true" />
				</binding>
				<binding name="CustomBinding_3">
					<mtomMessageEncoding maxReadPoolSize="128" maxWritePoolSize="32"
					 messageVersion="Soap11WSAddressingAugust2004" maxBufferSize="32768"
					 writeEncoding="utf-32">
						<readerQuotas maxDepth="256" maxStringContentLength="256" maxArrayLength="256"
						 maxBytesPerRead="256" maxNameTableCharCount="256" />
					</mtomMessageEncoding>
					<msmqIntegration manualAddressing="true" maxBufferPoolSize="262144"
					 maxReceivedMessageSize="32768" customDeadLetterQueue="http://CustomDeadLetterQueue"
					 deadLetterQueue="Custom" durable="false" exactlyOnce="false"
					 maxRetryCycles="3" receiveErrorHandling="Drop" receiveRetryCount="10"
					 retryCycleDelay="00:15:00" timeToLive="1.12:00:00" useSourceJournal="true"
					 useMsmqTracing="true" serializationFormat="Binary">
						<msmqTransportSecurity msmqAuthenticationMode="Certificate" msmqEncryptionAlgorithm="Aes"
						 msmqProtectionLevel="EncryptAndSign" msmqSecureHashAlgorithm="Sha256" />
					</msmqIntegration>
				</binding>
				<binding name="CustomBinding_4">
					<msmqTransport manualAddressing="true" maxBufferPoolSize="262144"
					 maxReceivedMessageSize="262144" customDeadLetterQueue="http://CustomDeadLetterQueue"
					 deadLetterQueue="Custom" durable="false" exactlyOnce="false"
					 maxRetryCycles="3" receiveErrorHandling="Drop" receiveRetryCount="9"
					 retryCycleDelay="00:15:00" timeToLive="1.12:00:00" useSourceJournal="true"
					 useMsmqTracing="true" maxPoolSize="16" queueTransferProtocol="Srmp"
					 useActiveDirectory="true">
						<msmqTransportSecurity msmqAuthenticationMode="Certificate" msmqEncryptionAlgorithm="Aes"
						 msmqProtectionLevel="EncryptAndSign" msmqSecureHashAlgorithm="Sha256" />
					</msmqTransport>
				</binding>
				<binding name="CustomBinding_5">
					<namedPipeTransport manualAddressing="true" maxBufferPoolSize="262144"
					 maxReceivedMessageSize="32768" connectionBufferSize="4096" hostNameComparisonMode="Exact"
					 channelInitializationTimeout="00:00:20" maxBufferSize="32768"
					 maxPendingConnections="5" maxOutputDelay="00:00:01.2000000" maxPendingAccepts="3"
					 transferMode="Streamed">
						<connectionPoolSettings groupName="GroupName" idleTimeout="00:06:00"
						 maxOutboundConnectionsPerEndpoint="20" />
					</namedPipeTransport>
				</binding>
				<binding name="CustomBinding_6">
					<tcpTransport manualAddressing="true" maxBufferPoolSize="262144"
					 maxReceivedMessageSize="32768" connectionBufferSize="4096" hostNameComparisonMode="Exact"
					 channelInitializationTimeout="00:00:15" maxBufferSize="32768"
					 maxPendingConnections="20" maxOutputDelay="00:00:01.2000000"
					 maxPendingAccepts="3" transferMode="Streamed" listenBacklog="20"
					 portSharingEnabled="true" teredoEnabled="true">
						<connectionPoolSettings groupName="GroupName" leaseTimeout="00:15:00"
						 idleTimeout="00:02:30" maxOutboundConnectionsPerEndpoint="30" />
					</tcpTransport>
				</binding>
				<binding name="CustomBinding_7">
					<peerTransport listenIPAddress="192.168.0.1" maxBufferPoolSize="262144"
					 maxReceivedMessageSize="32768" port="88">
						<security mode="Message">
							<transport credentialType="Certificate" />
						</security>
					</peerTransport>
				</binding>
			</customBinding>
		</bindings>
	</system.serviceModel>
</configuration>