<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<behaviors>
			<endpointBehaviors>
				<behavior name="NewBehavior">
					<callbackDebug includeExceptionDetailInFaults="true" />
					<callbackTimeouts transactionTimeout="00:02:30" />
					<clientCredentials type="ClientCredentialType" supportInteractive="false">
						<clientCertificate findValue="findValue" storeLocation="LocalMachine"
						 storeName="Root" x509FindType="FindByExtension" />
						<serviceCertificate>
							<defaultCertificate findValue="findValue" storeLocation="LocalMachine"
							 storeName="Root" x509FindType="FindByExtension" />
							<scopedCertificates>
								<add targetUri="http://target.uri" findValue="findValue" storeLocation="LocalMachine"
								 storeName="Root" x509FindType="FindByExtension" />
							</scopedCertificates>
							<authentication customCertificateValidatorType="CustomCertificateValidatorType"
							 certificateValidationMode="None" revocationMode="Offline" trustedStoreLocation="LocalMachine" />
						</serviceCertificate>
						<windows allowNtlm="false" allowedImpersonationLevel="None" />
						<issuedToken cacheIssuedTokens="false" defaultKeyEntropyMode="ClientEntropy"
						 issuedTokenRenewalThresholdPercentage="30" />
						<httpDigest impersonationLevel="None" />
					</clientCredentials>
					<clientVia viaUri="http://via.uri" />
					<dataContractSerializer ignoreExtensionDataObject="true" maxItemsInObjectGraph="32768" />
					<synchronousReceive />
					<transactedBatching maxBatchSize="16" />
				</behavior>
			</endpointBehaviors>
		</behaviors>
	</system.serviceModel>
</configuration>