<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<system.serviceModel>
		<extensions>
			<bindingElementExtensions>
				<add name="bindingElementExtensions1" type="MyBindingElementElement" />
				<add name="bindingElementExtensions2" type="AnotherBindingElementElement" />
			</bindingElementExtensions>
			<behaviorExtensions>
				<add name="behaviorExtensions1" type="MyBehaviorElement" />
				<add name="behaviorExtensions2" type="AnotherBehaviorElement" />
			</behaviorExtensions>
			<bindingExtensions>
				<add name="bindingExtensions1" type="MyBindingCollectionElement" />
				<add name="bindingExtensions2" type="AnotherBindingCollectionElement" />
			</bindingExtensions>
		</extensions>
	</system.serviceModel>
</configuration>