<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<services>
			<service name="ServiceType">
				<endpoint address="/rooted.path" 
						  binding="basicHttpBinding"
						  name="basicHttp" 
						  contract="HttpServiceContract">
					<headers>
						<Tag>Value</Tag>
					</headers>
				</endpoint>
				<endpoint  binding="wsHttpBinding"
						   address="http://other.endpoint.com"
						   contract="WSServiceContract">
				</endpoint>
				<endpoint address="path" 
						  binding="netTcpBinding"
						  bindingConfiguration="" 
						  name="netTcp"
						  contract="TcpServiceContract" />
				<host>
					<baseAddresses>
						<add baseAddress="http://endpoint.com/some.path" />
						<add baseAddress="net.tcp://endpoint.com" />
					</baseAddresses>
					<timeouts closeTimeout="00:00:20" openTimeout="00:02:00" />
				</host>
			</service>
			<service name="AnotherServiceType">
				<endpoint binding="basicHttpBinding" contract="HttpServiceContract"></endpoint>
				<endpoint binding="basicHttpBinding" bindingName="MyBinding" contract="HttpServiceContract"></endpoint>
				<endpoint binding="basicHttpBinding" address="aaa" contract="HttpServiceContract"></endpoint>
				<host>
					<baseAddresses>
						<add baseAddress="http://kuku.com"/>
					</baseAddresses>
				</host>
			</service>
		</services>
	</system.serviceModel>
</configuration>