<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<system.serviceModel>
		<bindings>
			<userBinding>
				<binding name="UserBinding_1" closeTimeout="00:02:00" openTimeout="00:01:30"
                    receiveTimeout="00:15:00" sendTimeout="00:01:30" />
				<binding name="UserBinding_2" closeTimeout="00:03:00" openTimeout="00:01:40"
                    receiveTimeout="00:13:00" sendTimeout="00:02:30" />
			</userBinding>
		</bindings>
		<extensions>
			<bindingExtensions>
				<add name="userBinding" type="MonoTests.System.ServiceModel.Configuration.UserBindingCollectionElement, System.ServiceModel_test_net_3_0, Version=0.0.0.0, Culture=neutral, PublicKeyToken=null" />
			</bindingExtensions>
		</extensions>
	</system.serviceModel>
</configuration>