/ComposablePartCatalogDebuggerProxyTests.cs -crlf
/ComposablePartCatalogTests.cs -crlf
/CompositionElementDebuggerProxyTests.cs -crlf
/CompositionElementTests.cs -crlf
/SerializableCompositionElementTests.cs -crlf
