/EpmContentSerializerBase.cs -crlf
/EpmCustomContentSerializer.cs -crlf
/EpmCustomContentWriterNodeData.cs -crlf
/EpmSourcePathSegment.cs -crlf
/EpmSourceTree.cs -crlf
/EpmTargetPathSegment.cs -crlf
/EpmTargetTree.cs -crlf
