/ChangeLog -crlf
/CloudscapeMembershipProvider.cs -crlf
/CloudscapeRoleProvider.cs -crlf
/DerbyApplicationsHelper.cs -crlf
/DerbyMembershipHelper.cs -crlf
/DerbyMembershipProvider.cs -crlf
/DerbyRoleProvider.cs -crlf
/DerbyRolesHelper.cs -crlf
