<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <appSettings>
    <add key="ExpResBaseUrl" value="http://localhost:80/MainsoftWebApp"/>
    <add key="TestBaseUrl" value="http://localhost:8080/MainsoftWebApp"/>
    <add key="OutputDir" value="../reference"/>
    <add key="AlmostList" value="./almost_config.xml"/>
    <add key="TestCatalog" value="./test_catalog.xml"/>
    <add key="DisableAlmost" value="false"/>
    <add key="RunExcluded" value="false"/>
  </appSettings>
</configuration>

