<%@ Master Language="C#" %>
<head runat="server">
<title>This is the Master Page's title</title>
</head>
<body>

<asp:contentplaceholder ID="TitlePlaceholder" runat="server">
<form runat="server">
This is the master page's heading <br/>
<asp:Button runat="server" id="foo" Text="Foo" />
</form>
</asp:contentplaceholder>

</body>
