<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="databases" value="mysql;mssql;postgres;oracle" />
	</appSettings>
	
	<configSections>
		<section name="mysql" type="SectionHandlers.SectionHandler, Setup" allowLocation="true"/>
		<section name="mssql" type="SectionHandlers.SectionHandler, Setup" allowLocation="true"/>
		<section name="postgres" type="SectionHandlers.SectionHandler, Setup" allowLocation="true"/>
		<section name="oracle" type="SectionHandlers.SectionHandler, Setup" allowLocation="true"/>
	</configSections>
	
	<mysql>
		<database>
			<name> mysql </name>
			<connectionString> "Server=164.99.152.215;Database=mysql;User Id=sudha;Password=novell" </connectionString>
		</database>
		<createStoredProc>N</createStoredProc>
		<deleteTables>Y</deleteTables>
		<createTables>Y</createTables>
		<insertData>Y</insertData>
		<tables>
			<numTables> 3 </numTables>
			<table1> 
				<name>numericTable </name>
				<numColumns>15</numColumns>
				<column1> 
					<name> serialNo </name>
					<type> TINYINT UNSIGNED</type>
					<constraint> primary key </constraint>
				</column1> 
				<column2> 
					<name> unsigned_tinyInt </name>
					<type> TINYINT UNSIGNED</type>
				</column2> 
				<column3> 
					<name> signed_tinyInt </name>
					<type> TINYINT </type>
				</column3> 
				<column4> 
					<name> bit </name>
					<type> BIT </type>
				</column4> 
				<column5> 
					<name> bool </name>
					<type> BOOL </type>
				</column5> 
				<column6> 
					<name> unsigned_smallint</name>
					<type> SMALLINT UNSIGNED</type>
				</column6> 
				<column7> 
					<name> signed_smallint</name>
					<type> SMALLINT </type>
				</column7> 
				<column8> 
					<name> unsigned_mediumint</name>
					<type> MEDIUMINT UNSIGNED</type>
				</column8> 
				<column9> 
					<name> signed_mediumint</name>
					<type> MEDIUMINT </type>
				</column9> 
				<column10> 
					<name> unsigned_int</name>
					<type> INT UNSIGNED</type>
				</column10> 
				<column11> 
					<name> signed_int</name>
					<type> INT </type>
				</column11> 
				<column12> 
					<name> unsigned_integer</name>
					<type> INTEGER UNSIGNED</type>
				</column12> 
				<column13> 
					<name> signed_integer</name>
					<type> INTEGER </type>
				</column13> 
				<column14> 
					<name> unsigned_bigint</name>
					<type> BIGINT UNSIGNED </type>
				</column14> 
				<column15> 
					<name> signed_bigint</name>
					<type> BIGINT </type>
				</column15> 
			</table1>
			<table2> 
				<name>realNoTable </name>
				<numColumns>11</numColumns>
				<column1> 
					<name> serialNo </name>
					<type> TINYINT UNSIGNED </type>
					<constraint> primary key </constraint>
				</column1> 
				<column2> 
					<name> unsigned_float </name>
					<type> FLOAT(24) UNSIGNED </type>
				</column2> 
				<column3> 
					<name> signed_float </name>
					<type> FLOAT(24) </type>
				</column3> 
				<column4> 
					<name> unsigned_double_float </name>
					<type> FLOAT(25) UNSIGNED</type>
				</column4> 
				<column5> 
					<name> signed_double_float </name>
					<type> FLOAT(53) </type>
				</column5> 
				<column6> 
					<name> unsigned_double</name>
					<type> DOUBLE UNSIGNED </type>
				</column6> 
				<column7> 
					<name> signed_double</name>
					<type> DOUBLE </type>
				</column7> 
				<column8> 
					<name> unsigned_double_precision</name>
					<type> DOUBLE PRECISION UNSIGNED</type>
				</column8> 
				<column9> 
					<name> signed_real</name>
					<type> REAL </type>
				</column9> 
				<column10> 
					<name> unsigned_decimal</name>
					<type> DECIMAL(6,3) UNSIGNED</type>
				</column10> 
				<column11> 
					<name> signed_numeric</name>
					<type> NUMERIC(5,3) </type>
				</column11> 
			</table2>
			<table3> 
				<name>dateTable </name>
				<numColumns>6</numColumns>
				<column1> 
					<name> serialNo </name>
					<type> TINYINT UNSIGNED </type>
					<constraint> primary key </constraint>
				</column1> 
				<column2> 
					<name> dateField</name>
					<type> DATE </type>
				</column2> 
				<column3> 
					<name> datetimeField</name>
					<type> DATETIME </type>
				</column3> 
				<column4> 
					<name> timestampField</name>
					<type> TIMESTAMP </type>
				</column4> 
				<column5> 
					<name> timeField</name>
					<type> TIME </type>
				</column5> 
				<column6> 
					<name> yearField</name>
					<type> YEAR </type>
				</column6> 
			</table3>
		</tables>
		<values>
			<numTables>3</numTables>
			<table1> 
				<tableName>numericTable</tableName>  
				<numRows>4</numRows>  
				<numCols>15</numCols>  
				<row1>
					<column1> 1 </column1>
					<column2> 0</column2>
					<column3> -128</column3>
					<column4> -128</column4>
					<column5> -128</column5>
					<column6> 0 </column6>
					<column7> -32768 </column7>
					<column8> 0</column8>
					<column9> -8388608 </column9>
					<column10> 0 </column10>
					<column11> -2147483648 </column11>
					<column12> 0 </column12>
					<column13> -2147483648 </column13>
					<column14> 0 </column14>
					<column15> -9223372036854775808 </column15>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> 100</column2>
					<column3> 50 </column3>
					<column4> 100 </column4>
					<column5> 100 </column5>
					<column6> 3000 </column6>
					<column7> -300 </column7>
					<column8> 500000 </column8>
					<column9> -100000 </column9>
					<column10> 4000000 </column10>
					<column11> 500000 </column11>
					<column12> 4000000 </column12>
					<column13> 500000 </column13>
					<column14> 5000000000 </column14>
					<column15> -5000000000 </column15>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> 255</column2>
					<column3> 127</column3>
					<column4> 127</column4>
					<column5> 127</column5>
					<column6> 65535</column6>
					<column7> 32767 </column7>
					<column8> 16777215 </column8>
					<column9> 8388607 </column9>
					<column10> 4294967295 </column10>
					<column11> 2147483647 </column11>
					<column12> 4294967295 </column12>
					<column13> 2147483647 </column13>
					<column14> 18446744073709551615 </column14>
					<column15> 9223372036854775807 </column15>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
					<column5> null </column5>
					<column6> null </column6>
					<column7> null </column7>
					<column8> null </column8>
					<column9> null </column9>
					<column10> null </column10>
					<column11> null </column11>
					<column12> null </column12>
					<column13> null </column13>
					<column14> null </column14>
					<column15> null </column15>
				</row4>
			</table1>
			<table2> 
				<tableName>realNoTable</tableName>  
				<numRows>6</numRows>  
				<numCols>11</numCols>  
				<row1>
					<column1> 1 </column1>
					<column2> 0 </column2>
					<column3> 0 </column3>
					<column4> 0 </column4>
					<column5> 0 </column5>
					<column6> 0 </column6>
					<column7> 0 </column7>
					<column8> 0 </column8>
					<column9> 0 </column9>
					<column10> 0 </column10>
					<column11> 0 </column11>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> 1.175494351E-38 </column2>
					<column3> -3.402823466E+38 </column3>
					<column4> 1.175494351E-38 </column4>
					<column5> -1.797693134862315E+308 </column5>
					<column6> 1.175494351E-38 </column6>
					<column7> -1.797693134862315E+308 </column7>
					<column8> 1.175494351E-38 </column8>
					<column9> -1.797693134862315E+308 </column9>
					<column10> 99.999 </column10>
					<column11> -23.456 </column11>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> 3.402823466E+38 </column2>
					<column3> -1.175494351E-38 </column3>
					<column4> 3.402823466E+38 </column4>
					<column5> -2.2250738585072014E-308 </column5>
					<column6> 3.402823466E+38 </column6>
					<column7> -2.2250738585072014E-308 </column7>
					<column8> 3.402823466E+38 </column8>
					<column9> -2.2250738585072014E-308 </column9>
					<column10> 778.123 </column10>
					<column11> -99.999 </column11>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> 1.2345E+20</column2>
					<column3> 1.175494351E-38 </column3>
					<column4> 1.2345E+20 </column4>
					<column5> 2.2250738585072014E-308 </column5>
					<column6> 1.2345E+20 </column6>
					<column7> 2.2250738585072014E-308 </column7>
					<column8> 1.2345E+20 </column8>
					<column9> 2.2250738585072014E-308 </column9>
					<column10> 308.90 </column10>
					<column11> 12.345 </column11>
				</row4>
				<row5>
					<column1> 5 </column1>
					<column2> 3.452E-19</column2>
					<column3> 3.402823466E+38 </column3>
					<column4> 4.32E-15 </column4>
					<column5> 1.797693134862315E+308 </column5>
					<column6> 4.32E-15 </column6>
					<column7> 1.797693134862315E+308 </column7>
					<column8> 4.32E-15 </column8>
					<column9> 1.797693134862315E+308 </column9>
					<column10> 999.999 </column10>
					<column11> 999.999 </column11>
				</row5>
				<row6>
					<column1> 6 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
					<column5> null </column5>
					<column6> null </column6>
					<column7> null </column7>
					<column8> null </column8>
					<column9> null </column9>
					<column10> null </column10>
					<column11> null </column11>
				</row6>
			</table2>
			<table3> 
				<tableName>dateTable</tableName>  
				<numRows>9</numRows>  
				<numCols>6</numCols>  
				<row1>
					<column1> 1 </column1>
					<column2> '1000-01-01' </column2>
					<column3> '1000-01-01 00:00:00' </column3>
					<column4> '1970-01-02 00:00:00' </column4>
					<column5>  '-23:59:59' </column5>
					<column6> 2004 </column6>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> '1999-12-17' </column2>
					<column3> '1999-12-17 08:00:00' </column3>
					<column4> '2000-01-01 04:40:00' </column4>
					<column5> '-23:45:56' </column5>
					<column6> 1999 </column6>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> '9999-12-31' </column2>
					<column3> '9999-12-31 23:59:59' </column3>
					<column4> '2037-12-31 23:59:59' </column4>
					<column5> '23:59:59' </column5>
					<column6> 2155</column6>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> '1999@12@31' </column2>
					<column3> '1999@12@31 11+30+45' </column3>
					<column4> '1999@12@31 11+30+45' </column4>
					<column5> '12:23:34' </column5>
					<column6> 1901</column6>
				</row4>
				<row5>
					<column1> 5 </column1>
					<column2> '9999.11.18' </column2>
					<column3> '9999.11.18 11*45*50' </column3>
					<column4> '2037.11.18 11*45*50' </column4>
					<column5> '23:34:34' </column5>
					<column6> 2069 </column6>
				</row5>
				<row6>
					<column1> 6 </column1>
					<column2> '9999/11/09' </column2>
					<column3> '9999/11/09 12:23:34' </column3>
					<column4> '2037/11/09 12:23:34' </column4>
					<column5> '09:08:07' </column5>
					<column6> 1970</column6>
				</row6>
				<row7>
					<column1> 7 </column1>
					<column2> 19980404 </column2>
					<column3> 19980404083050 </column3>
					<column4> 19980404083050 </column4>
					<column5> 083045 </column5>
					<column6> 0000</column6>
				</row7>
				<row8>
					<column1> 8 </column1>
					<column2> '0000-00-00' </column2>
					<column3> '0000-00-00 00:00:00' </column3>
					<column4> 00000000000000 </column4>
					<column5> '00:00:00'</column5>
					<column6> 00</column6>
				</row8>
				<row9>
					<column1> 9 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
					<column5> null </column5>
					<column6> null </column6>
				</row9>
			</table3>
		</values>
	</mysql>
	<mssql>
		<database>
			<name> mssql </name>
			<connectionString> Server=164.99.155.85;Database=mono-test;User ID=sa;Password=novell;</connectionString>
		</database>
		<createStoredProc>N</createStoredProc>
		<deleteTables>Y</deleteTables>
		<createTables>Y</createTables>
		<insertData>Y</insertData>
		<tables>
			<numTables> 5 </numTables>
			<table1>
				<name>numericTable </name>
				<numColumns>6</numColumns>
				<column1>
					<name> sNo </name>
					<type> tinyint </type>
					<constraint> primary key </constraint>
				</column1>
				<column2>
					<name> bigInteger </name>
					<type> bigint </type>
				</column2>
				<column3>
					<name> integer </name>
					<type>int</type>
				</column3>
				<column4>
					<name> smallInteger </name>
					<type> smallint </type>
				</column4>
				<column5>
					<name> tinyInt </name>
					<type> tinyint </type>
				</column5>
				<column6>
					<name> bit </name>
					<type> bit </type>
				</column6>
			</table1>
			<table2>
				<name>dateTimeTable </name>
				<numColumns>3</numColumns>
				<column1>
					<name> sNo </name>
					<type> tinyInt </type>
					<constraint> primary key </constraint>
				</column1>
				<column2>
					<name> date</name>
					<type> datetime </type>
				</column2>
				<column3>
					<name> smalldate </name>
					<type> smalldatetime </type>
				</column3>
			</table2>
			<table3>
				<name>realNosTable </name>
				<numColumns>5</numColumns>
				<column1>
					<name> sNo </name>
					<type> tinyInt </type>
					<constraint> primary key </constraint>
				</column1>
				<column2>
					<name> decimalCol </name>
					<type> decimal(8,4) </type>
				</column2>
				<column3>
					<name> numericCol </name>
					<type> numeric(6,4) </type>
				</column3>
				<column4>
					<name> floatCol </name>
					<type> float </type>
				</column4>
				<column5>
					<name> realCol </name>
					<type> real </type>
				</column5>
			</table3>
			<table4>
				<name>moneyTable </name>
				<numColumns>3</numColumns>
				<column1>
					<name> sNo </name>
					<type> tinyInt </type>
					<constraint> primary key </constraint>
				</column1>
				<column2>
					<name> money </name>
					<type> money </type>
				</column2>
				<column3>
					<name> smallmoney </name>
					<type> smallmoney </type>
				</column3>
			</table4>
			<table5>
				<name>charTable </name>
				<numColumns>5</numColumns>
				<column1>
					<name> sNo </name>
					<type> tinyInt </type>
					<constraint> primary key </constraint>
				</column1>
				<column2>
					<name> characterCol </name>
					<type> char(20) </type>
				</column2>
				<column3>
					<name> ncharacterCol </name>
					<type> nchar(20) </type>
				</column3>
				<column4>
					<name> varchar </name>
					<type> varchar(20) </type>
				</column4>
				<column5>
					<name> nvarchar </name>
					<type> nvarchar(20) </type>
				</column5>
			</table5>
		</tables>
		<values>
			<numTables>5</numTables>
			<table1>
				<tableName>numericTable</tableName>
				<numRows>4</numRows>
				<numCols>6</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> -9223372036854775808 </column2>
					<column3> -2147483648 </column3>
					<column4> -32768 </column4>
					<column5> 0</column5>
					<column6> 0</column6>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> 1244 </column2>
					<column3> -50 </column3>
					<column4> 234 </column4>
					<column5> 128 </column5>
					<column6> 0</column6>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> 9223372036854775807 </column2>
					<column3> 2147483647 </column3>
					<column4>  32767 </column4>
					<column5> 255 </column5>
					<column6> 1</column6>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
					<column5> null </column5>
					<column6> null </column6>
				</row4>
			</table1>
			<table2>
				<tableName> dateTimeTable</tableName>
				<numRows>3</numRows>
				<numCols>3</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> '1/1/1753 03:04:05.234' </column2>
					<column3> '1/1/1970 12:24'</column3>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> '12/31/9999 00:00:00' </column2>
					<column3> '6/6/2079 00:00'</column3>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> null </column2>
					<column3> null </column3>
				</row3>
			</table2>
			<table3>
				<tableName> realNosTable</tableName>
				<numRows>6</numRows>
				<numCols>5</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> -9.99E+3</column2>
					<column3> -99 </column3>
					<column4> -1.7976931348623157E+308 </column4>
					<column5> -3.402823466E+38 </column5>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> -1.23E3 </column2>
					<column3> -12 </column3>
					<column4> -2.2250738585072014E-308 </column4>
					<column5> -3.4E-38 </column5>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> 0 </column2>
					<column3> 0 </column3>
					<column4> 0 </column4>
					<column5> 0 </column5>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> 1.2E1 </column2>
					<column3> 12 </column3>
					<column4> 2.2250738585072014E-308 </column4>
					<column5> 4.56E-3 </column5>
				</row4>
				<row5>
					<column1> 5 </column1>
					<column2> 9.999E3 </column2>
					<column3> 99 </column3>
					<column4> 1.7976931348623157E+308 </column4>
					<column5> 3.4E+38 </column5>
				</row5>
				<row6>
					<column1> 6 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
					<column5> null </column5>
				</row6>
			</table3>
			<table4>
				<tableName> moneyTable</tableName>
				<numRows>4</numRows>
				<numCols>3</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> -922337203685477.5808 </column2>
					<column3> -214748.3648 </column3>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> 5477.5808 </column2>
					<column3> 748.3648 </column3>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> 922337203685477.5807 </column2>
					<column3> 214748.3647 </column3>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> null </column2>
					<column3> null </column3>
				</row4>
			</table4>
			<table5>
				<tableName> charTable</tableName>
				<numRows>2</numRows>
				<numCols>5</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> '12345678901234567890' </column2>
					<column3> 'abcdefghijklmnopqrst' </column3>
					<column4> 'zyxwvutsrqponmlkjihg' </column4>
					<column5> '12345678901234567890' </column5>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
					<column5> null </column5>
				</row2>
			</table5>
		</values>
		<StoredProc>
			<NumStoredProc> 1 </NumStoredProc>
			<StoredProc1>
				<type> generic </type>
				<name> Select_{{TABLE}}_proc </name>
				<template>
					<numStmts> 1 </numStmts>
					<stmt1><![CDATA[
					create procedure Select_{{TABLE}}_proc As
					BEGIN
						Select {{COLUMNS}} from {{TABLE}};
					END]]>
					</stmt1>
				</template>
			</StoredProc1>
		</StoredProc>
	</mssql>
	<postgres>
		<database>
			<name> postgres </name>
			<connectionString> Server=164.99.168.144;Database=test;User Id=sudha;Password= </connectionString>
		</database>
		<createStoredProc>N</createStoredProc>
		<deleteTables>Y</deleteTables>
		<createTables>Y</createTables>
		<insertData>Y</insertData>
		<tables>
			<numTables> 5 </numTables>
			<table1>
				<name>numericTable </name>
				<numColumns> 4 </numColumns>
				<column1> 
					<name> serialNo </name>
					<type> smallint </type>
					<constraint> primary key </constraint>
				</column1>
				<column2> 
					<name> small_int </name>
					<type> smallint </type>
				</column2>
				<column3> 
					<name> int </name>
					<type> integer </type>
				</column3>
				<column4> 
					<name> bigInteger </name>
					<type> bigint </type>
				</column4>
			
			</table1>
			<table2>
				<name>realNoTable </name>
				<numColumns> 5 </numColumns>
				<column1> 
					<name> serialNo </name>
					<type> smallint </type>
					<constraint> primary key </constraint>
				</column1> 
				<column2> 
					<name> numeric_column </name>
					<type> numeric(10,6) </type>
				</column2> 
				<column3> 
					<name> numeric_noscale </name>
					<type> decimal(10) </type>
				</column3> 
				<column4> 
					<name> realNo </name>
					<type> real </type>
				</column4> 
				<column5> 
					<name> doubleNo  </name>
					<type> double precision </type>
				</column5> 
			</table2>
			<table3>
				<name> charTable </name>
				<numColumns> 4 </numColumns>
				<column1> 
					<name> serialNo </name>
					<type> smallint </type>
					<constraint> primary key </constraint>
				</column1> 
				<column2> 
					<name> charColumn </name>
					<type> char(20) </type>
				</column2> 
				<column3> 
					<name> varcharColumn </name>
					<type> varchar(20) </type>
				</column3> 
				<column4> 
					<name> textColumn </name>
					<type> text </type>
				</column4> 
			</table3>
			<table4>
				<name> dateTimeTable </name>
				<numColumns> 5 </numColumns>
				<column1> 
					<name> serialNo </name>
					<type> smallint </type>
					<constraint> primary key </constraint>
				</column1> 
				<column2> 
					<name> timestampCol </name>
					<type> timestamp </type>
				</column2> 
				<column3> 
					<name> intervalCol </name>
					<type> interval </type>
				</column3> 
				<column4> 
					<name> dateCol </name>
					<type> date </type>
				</column4> 
				<column5> 
					<name> timeCol </name>
					<type> time </type>
				</column5> 
			</table4>
			<table5>
				<name> booleanTable </name>
				<numColumns> 2 </numColumns>
				<column1> 
					<name> serialNo </name>
					<type> smallint </type>
					<constraint> primary key </constraint>
				</column1> 
				<column2> 
					<name> bool </name>
					<type> boolean </type>
				</column2> 
			</table5>
		</tables>
		<values>
			<numTables>5</numTables>
			<table1>
				<tableName>numericTable</tableName>
				<numRows>4</numRows>
				<numCols>4</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> -32768 </column2>
					<column3> -2147483648 </column3>
					<column4> -9223372036854775808 </column4>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> 123 </column2>
					<column3> -648 </column3>
					<column4> 0 </column4>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> 32767 </column2>
					<column3> 2147483647 </column3>
					<column4> 9223372036854775807 </column4>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
				</row4>
			</table1>
			<table2>
				<tableName>realNoTable</tableName>
				<numRows>6</numRows>
				<numCols>5</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> -9999.999999 </column2>
					<column3> -9999999999 </column3>
					<column4> -9.99999E-38 </column4>
					<column5> -9.999999999999999E-308 </column5>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> -123.99 </column2>
					<column3> -1239 </column3>
					<column4> 9.99999E-38 </column4>
					<column5> 9.999999999999999E-308 </column5>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> 0 </column2>
					<column3> 0 </column3>
					<column4> 0 </column4>
					<column5> 0 </column5>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> 123.99 </column2>
					<column3> 123 </column3>
					<column4> -9.99999E37 </column4>
					<column5> -1.79769313486231E308 </column5>
				</row4>
				<row5>
					<column1> 5 </column1>
					<column2> 9999.999999 </column2>
					<column3> 9999999999 </column3>
					<column4> 9.99999E37 </column4>
					<column5> 1.79769313486231E308 </column5>
				</row5>
				<row6>
					<column1> 6 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
					<column5> null </column5>
				</row6>
			</table2>
			<table3>
				<tableName>charTable</tableName>
				<numRows>2</numRows>
				<numCols>4</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> 'abcdefghijklmnopqrst' </column2>
					<column3> '1234567890' </column3>
					<column4> 'This is a fixed length text' </column4>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
				</row2>
			</table3>
			<table4>
				<tableName>datetimeTable</tableName>
				<numRows>4</numRows>
				<numCols>5</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> '0001-01-01 00:00:00.000000' </column2>
					<column3> '-178000000 years +4 days'  </column3>
					<column4> '0001-01-01' </column4>
					<column5> '12:23:34' </column5>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> '2004-10-21 11:15:23' </column2>
					<column3> '7890 years 5 days 07:30' </column3>
					<column4> '2004-01-12' </column4>
					<column5> '00:00:00' </column5>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> '9999-12-31 23:59:59.9999' </column2>
					<column3> '178000000 years 00:19:23'  </column3>
					<column4> '9999-12-31' </column4>
					<column5> '23:59:59' </column5>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
					<column5> null </column5>
				</row4>
			</table4>
			<table5>
				<tableName>booleanTable</tableName>
				<numRows>3</numRows>
				<numCols>2</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> TRUE </column2>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> FALSE </column2>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> null </column2>
				</row3>
			</table5>
		</values>
	</postgres>
	<oracle>
		<database>
			<name> oracle </name>
			<connectionString> Data Source=testdb.com;User Id=user9i;Password=oracle9i </connectionString>
		</database>
		<createStoredProc>Y</createStoredProc>
		<deleteTables>Y</deleteTables>
		<createTables>Y</createTables>
		<insertData>Y</insertData>
		<tables>
			<numTables> 4 </numTables>
			<table1>
				<name>numericTable </name>
				<numColumns> 3 </numColumns>
				<column1>
					<name> serialNo </name>
					<type> number(1)</type>
					<constraint> primary key </constraint>
				</column1>
				<column2>
					<name> intCol </name>
					<type> number(6)</type>
				</column2>
				<column3>
					<name> decimalCol </name>
					<type> number(6, 3)</type>
				</column3>
			</table1>
			<table2>
				<name> charTable </name>
				<numColumns> 5 </numColumns>
				<column1>
					<name> serialNo </name>
					<type> number(1)</type>
					<constraint> primary key </constraint>
				</column1>
				<column2>
					<name> charCol </name>
					<type> char(10) </type>
				</column2>
				<column3>
					<name> ncharCol </name>
					<type> nchar(10) </type>
				</column3>
				<column4>
					<name> varcharCol </name>
					<type> varchar2(10) </type>
				</column4>
				<column5>
					<name> nvarcharCol </name>
					<type> nvarchar2(10) </type>
				</column5>
			</table2>
			<table3>
				<name> RealNoTable </name>
				<numColumns> 2 </numColumns>
				<column1>
					<name> serialNo </name>
					<type> number(1)</type>
					<constraint> primary key </constraint>
				</column1>
				<column2>
					<name> floatCol </name>
					<type> float(24) </type>
				</column2>
			</table3>
			<table4>
				<name> DateTimeTable </name>
				<numColumns> 5 </numColumns>
				<column1>
					<name> serialNo </name>
					<type> number(1)</type>
					<constraint> primary key </constraint>
				</column1>
				<column2>
					<name> dateCol </name>
					<type> date </type>
				</column2>
				<column3>
					<name> timestampCol </name>
					<type> timestamp </type>
				</column3>
				<column4>
					<name> Int_year </name>
					<type> interval year to month</type>
				</column4>
				<column5>
					<name> int_day </name>
					<type> interval day to second </type>
				</column5>
			</table4>
		</tables>
		<values>
			<numTables>4</numTables>
			<table1>
				<tableName>numericTable</tableName>
				<numRows>4</numRows>
				<numCols>3</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> -999999 </column2>
					<column3> -999.999 </column3>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> 1000 </column2>
					<column3> 234 </column3>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> 999999 </column2>
					<column3> 999.999 </column3>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> null </column2>
					<column3> null </column3>
				</row4>
			</table1>
			<table2>
				<tableName>charTable</tableName>
				<numRows>2</numRows>
				<numCols>5</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> '0123456789' </column2>
					<column3> 'abcdefghij' </column3>
					<column4> '0123456789' </column4>
					<column5> 'abcdefghij' </column5>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> null </column2>
					<column3> null </column3>
					<column4> null </column4>
					<column5> null </column5>
				</row2>
			</table2>
			<table3>
				<tableName>RealNoTable</tableName>
				<numRows>6</numRows>
				<numCols>2</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> 9.9999999E125  </column2>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> -9.999999E-126 </column2>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> 1.23E-15 </column2>
				</row3>
				<row4>
					<column1> 4 </column1>
					<column2> -9.999999E-126 </column2>
				</row4>
				<row5>
					<column1> 5 </column1>
					<column2> 9.9999999E125 </column2>
				</row5>
				<row6>
					<column1> 6 </column1>
					<column2> null </column2>
				</row6>
			</table3>
			<table4>
				<tableName>DateTimeTable</tableName>
				<numRows>3</numRows>
				<numCols>5</numCols>
				<row1>
					<column1> 1 </column1>
					<column2> to_date('0001-01-01 00:00:00', 'yyyy-mm-dd hh24:mi:ss') </column2>
					<column3> TIMESTAMP'0001-01-01 00:00:00' </column3>
					<column4>  '-99-11' </column4>
					<column5>  '-99 23:59:59' </column5>
				</row1>
				<row2>
					<column1> 2 </column1>
					<column2> to_date('2004-11-23 12:34:45', 'yyyy-mm-dd hh24:mi:ss') </column2>
					<column3> TIMESTAMP'2004-11-23 12:34:45' </column3>
					<column4>  '34-5' </column4>
					<column5>  '-34 20:50:00' </column5>
				</row2>
				<row3>
					<column1> 3 </column1>
					<column2> to_date('9999-12-31 23:59:59', 'yyyy-mm-dd hh24:mi:ss') </column2>
					<column3> TIMESTAMP'9999-12-31 23:59:59' </column3>
					<column4>  '99-11' </column4>
					<column5>  '00 23:59:59' </column5>
				</row3>
			</table4>
		</values>
		<StoredProc> 
			<NumStoredProc> 1 </NumStoredProc>
			<StoredProc1>
				<type> generic </type>
				<name> {{TABLE}}_pkg.Select_{{TABLE}}_data</name>
				<template>
					<numStmts> 2 </numStmts>
					<stmt1><![CDATA[ 
					create or replace package {{TABLE}}_pkg As 
						type {{TABLE}}Cur is ref cursor return  {{TABLE}}%rowtype;
						procedure Select_{{TABLE}}_Data (ref_cur out {{TABLE}}Cur);
					END {{TABLE}}_pkg;]]>
					</stmt1>
					<stmt2><![CDATA[ 
					create or replace package body {{TABLE}}_pkg As 
						procedure Select_{{TABLE}}_Data ( ref_cur out {{TABLE}}Cur) is 
						BEGIN  
							open ref_cur for select {{COLUMNS}} from {{TABLE}} order by {{COLUMN_1}};
						End Select_{{TABLE}}_Data;
					END {{TABLE}}_pkg;]]></stmt2>
				</template>
			</StoredProc1>
		</StoredProc>
	</oracle>
</configuration>
