<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyContract" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://tempuri.org/TestHttp/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyContract" contract="IMyContract"
                name="BasicHttpBinding_IMyContract" />
        </client>
    </system.serviceModel>
</configuration>