<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IMyContract" />
            </basicHttpBinding>
            <netTcpBinding>
                <binding name="NetTcpBinding_IMyContract">
                    <security mode="None" />
                </binding>
            </netTcpBinding>
        </bindings>
        <client>
            <endpoint address="http://tempuri.org/TestHttp/" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IMyContract" contract="IMyContract"
                name="BasicHttpBinding_IMyContract" />
            <endpoint address="net-tcp://tempuri.org:8000/TestNetTcp/" binding="netTcpBinding"
                bindingConfiguration="NetTcpBinding_IMyContract" contract="IMyContract"
                name="NetTcpBinding_IMyContract" />
        </client>
    </system.serviceModel>
</configuration>