<%@ Master Language="C#" MasterPageFile="My.master"%>                                   
<%@ MasterType VirtualPath="My.master" %>

<!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">

<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" >
<head id="Head1" runat="server">
	<title></title>
</head>
    <body>
        <asp:contentplaceholder id="Header" runat="server">
              Master header text
        </asp:contentplaceholder>
        
        <asp:contentplaceholder id="Main" runat="server">
              Master main text 
        </asp:contentplaceholder>
        
        <asp:contentplaceholder id="Dynamic" runat="server">
              Master dynamic text
        </asp:contentplaceholder>
        
        <asp:contentplaceholder id="Footer" runat="server">
		      My master page footer 
		</asp:contentplaceholder>
		
		Master page content text
	
    </body>
</html>
