<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <appSettings>
    <add key="strvalue" value="str" />
    <add key="intvalue" value="123" />
  </appSettings>
  <system.web>
      <siteMap enabled="true">
          <providers>
              <add name="TestSiteMapProvider" type="Tests.TestSiteMapProvider" />
          </providers>
      </siteMap>
    <compilation debug="true" batch="false">

    </compilation>



    <httpHandlers>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="true" />
    </httpHandlers>
    <pages enableSessionState="false">

    </pages>
    <membership defaultProvider="FakeProvider">
      <providers>
        <add name="FakeProvider" type="MonoTests.SystemWeb.Framework.FakeMembershipProvider"
             enablePasswordRetrieval="false" enablePasswordReset="true" requiresQuestionAndAnswer="true"
             applicationName="/" requiresUniqueEmail="false" passwordFormat="Hashed"
             maxInvalidPasswordAttempts="5" minRequiredPasswordLength="7"
             minRequiredNonalphanumericCharacters="1" passwordAttemptWindow="10"
             passwordStrengthRegularExpression="" />
      </providers>
    </membership>

    <roleManager defaultProvider="TheRoleProvider" enabled="true">
      <providers>
	<clear />
	<add name="TheRoleProvider" type="MonoTests.SystemWeb.Framework.TestRoleProvider"/>
      </providers>
    </roleManager>
  </system.web>
  <system.net>
    <mailSettings>
      <smtp from="heh@heh.com">
        <network host="localhost" port="125"/>
      </smtp>
    </mailSettings>
  </system.net>
</configuration>
