<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.web>
    <httpHandlers>
      <add path="WebResource.axd" verb="GET" type="System.Web.Handlers.AssemblyResourceLoader" validate="True" />
      <add path="page.fake" verb ="GET" type="NunitWeb.MyHandler"/>      
    </httpHandlers>
  </system.web>
</configuration>