/Cache.cs -crlf
/NpgsqlClosedState.resx -crlf
/NpgsqlConnectedState.resx -crlf
/NpgsqlException.resx -crlf
/NpgsqlParameterCollection.cs -crlf
/NpgsqlReadyState.resx -crlf
/NpgsqlTransaction.es.resx -crlf
/NpgsqlTransaction.resx -crlf
