/AsymmetricKeyExchangeDeformatter.cs -crlf
/AsymmetricKeyExchangeFormatter.cs -crlf
/Base64Constants.cs -crlf
/CspParameters.cs -crlf
/DSAParameters.cs -crlf
/DeriveBytes.cs -crlf
/MD5.cs -crlf
/RSAParameters.cs -crlf
/Rijndael.cs -crlf
/SHA1.cs -crlf
/SHA256.cs -crlf
/SHA384.cs -crlf
/SHA512.cs -crlf
