/semantic.cache
/al
/al1
/al2
/caspol
/cert2spc
/certmgr
/chktrust
/cilc
/csharp
/disco
/dtd2xsd
/gacutil
/gacutil1
/gacutil2
/genxs
/genxs1
/genxs2
/gmcs
/httpcfg
/ilasm
/ilasm1
/ilasm2
/installvst
/macpack
/makecert
/Makefile
/Makefile.in
/mbas
/mconfig
/mcs
/mcs1
/mjs
/mkbundle
/mkbundle1
/mkbundle2
/mdoc
/mdoc-*
/mod
/mono-api-diff
/mono-api-info
/mono-api-info1
/mono-api-info2
/mono-cil-strip
/mono-find-provides
/mono-find-requires
/mono-nunit.pc
/monop
/monop1
/monop2
/monolinker
/monoresgen
/mono-service
/mono-service2
/mono-shlib-cop
/mono-xmltool
/mozroots
/nunit-console
/nunit-console2
/permview
/prj2make
/resgen
/resgen1
/resgen2
/secutil
/setreg
/sgen
/sgen1
/signcode
/smcs
/sn
/soapsuds
/sqlsharp
/wsdl
/wsdl2
/wsdl1
/xbuild
/xsd
/xsd2
/dtd2rng
/sqlmetal
/svcutil

