mdassembler	crlf=input
mdvalidater	crlf=input
monodocer	crlf=input
monodocs2html	crlf=input
monodocs2slashdoc	crlf=input
mono-heapviz	crlf=input
mono-package-runtime	crlf=input
mono-test-install	crlf=input
csc.in	crlf=input
dmcs.in	crlf=input
gmcs.in	crlf=input
mcs.in	crlf=input
mod.in	crlf=input
mono-configuration-crypto.in	crlf=input
mono-find-provides.in	crlf=input
mono-find-requires.in	crlf=input
mono-service.in	crlf=input
mono-symbolicate.in	crlf=input
peverify.in	crlf=input
script.in	crlf=input
script_umask.in	crlf=input
xbuild.in	crlf=input
