
/al
/al1
/al2
/aprofutil
/caspol
/cert-sync
/cert2spc
/certmgr
/cccheck
/ccrewrite
/chktrust
/cilc
/crlupdate
/csi
/csharp
/csharp2
/disco
/dmcs
/dtd2rng
/dtd2xsd
/gacutil
/gacutil1
/gacutil2
/genxs
/genxs1
/genxs2
/gmcs
/httpcfg
/ikdasm
/ilasm
/ilasm1
/ilasm2
/illinkanalyzer
/installvst
/lc
/macpack
/makecert
/Makefile
/Makefile.in
/mconfig
/mcs
/mcs1
/mdbrebase
/mdoc
/mdoc-*
/mjs
/mkbundle
/mkbundle1
/mkbundle2
/mod
/mono-abi-info
/mono-api-diff
/mono-api-info
/mono-api-html
/mono-api-info1
/mono-api-info2
/mono-cil-strip
/mono-configuration-crypto
/mono-find-provides
/mono-find-requires
/monolinker
/monop
/monop1
/monop2
/monoresgen
/mono-service
/mono-service2
/mono-shlib-cop
/mono-symbolicate
/mono-xmltool
/mozroots
/pdb2mdb
/permview
/peverify
/prj2make
/resgen
/resgen1
/resgen2
/secutil
/semantic.cache
/setreg
/sgen
/sgen1
/signcode
/csc
/csc-dim
/vbc
/sn
/soapsuds
/sqlmetal
/sqlsharp
/svcutil
/wsdl
/wsdl1
/wsdl2
/xbuild
/xsd
/xsd2
/*.bat
