<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <system.serviceModel>
      <bindings>
        <webHttpBinding>
          <binding name="WebHttpBinding1_Service"
          	allowCookies="true"
          	bypassProxyOnLocal="true"
          	hostNameComparisonMode="Exact"
          	maxBufferPoolSize="262144"
          	maxBufferSize="32768"
          	maxReceivedMessageSize="16384"
          	proxyAddress="proxy"
          	writeEncoding="unicode"
          	transferMode="Streamed">
            <security mode="TransportCredentialOnly">
              <transport 
              	clientCredentialType="Basic"
              	proxyCredentialType="Ntlm"
              	realm="realm" />
            </security>
          </binding>
        </webHttpBinding>
      </bindings>
    </system.serviceModel>
</configuration>
