<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<section name="providerTests" type="MonoTests.System.Data.Connected.ProviderTestsConfigurationHandler, System.Data.Connected.Tests" />
	</configSections>
	<providerTests>
		<engines>
			<engine
				name="sqlserver7"
				type="SQLServer"
				clientversion="7"
				quoteCharacter="&quot;"
				removesTrailingSpaces="false"
				emptyBinaryAsNull="false"
				supportsMicroseconds="true"
				supportsUniqueIdentifier="true"
				supportsDate="false"
				supportsTime="false"
				supportsTimestamp="true" />
			<engine
				name="sqlserver2000"
				type="SQLServer"
				clientversion="8"
				quoteCharacter="&quot;"
				removesTrailingSpaces="false"
				emptyBinaryAsNull="false"
				supportsMicroseconds="true"
				supportsUniqueIdentifier="true"
				supportsDate="false"
				supportsTime="false"
				supportsTimestamp="true" />
			<engine
				name="sqlserver2005"
				type="SQLServer"
				clientversion="9"
				quoteCharacter="&quot;"
				removesTrailingSpaces="false"
				emptyBinaryAsNull="false"
				supportsMicroseconds="true"
				supportsUniqueIdentifier="true"
				supportsDate="false"
				supportsTime="false"
				supportsTimestamp="true" />
			<engine
				name="sqlserver2008"
				type="SQLServer"
				clientversion="10"
				quoteCharacter="&quot;"
				removesTrailingSpaces="false"
				emptyBinaryAsNull="false"
				supportsMicroseconds="true"
				supportsUniqueIdentifier="true"
				supportsDate="true"
				supportsTime="true"
				supportsTimestamp="true" />
			<engine
				name="mysql51"
				type="MySQL"
				quoteCharacter="`"
				removesTrailingSpaces="true"
				emptyBinaryAsNull="true"
				supportsMicroseconds="false"
				supportsUniqueIdentifier="false"
				supportsDate="true"
				supportsTime="true"
				supportsTimestamp="false" />
			<engine
				name="postgres"
				type="PostgreSQL"
				quoteCharacter="FIXME" />
		</engines>
		<connections>
			<connection
				name="sqlserver-tds"
				factory="System.Data.SqlClient"
				connectionString="server=164.99.116.64;database=monotest;user id=monotester;password=monotester;"
				engine="sqlserver2005" />
			<connection
				name="sqlserver-odbc"
				factory="System.Data.Odbc"
				connectionString="dsn=SqlServer;UID=sa;PWD=;"
				engine="sqlserver2005" />
			<connection
				name="mysql-odbc"
				factory="System.Data.Odbc"
				connectionString="dsn=mysql-mono-test;UID=mono-tester;PWD=;"
				engine="mysql51" />
			<connection
				name="postgres-odbc"
				factory="System.Data.Odbc"
				connectionString="factory=System.Data.Odbc;dsn=Postgres-Mono-monotest;UID=mono-tester;PWD=;"
				engine="postgres" />

			<connection
				name="sqlserver7-tds-gert"
				factory="System.Data.SqlClient"
				connectionString="server=192.168.0.2;database=monotest;user id=monotester;password=monotester;"
				engine="sqlserver7" />
			<connection
				name="sqlserver2005-tds-gert"
				factory="System.Data.SqlClient"
				connectionString="server=.;database=monotest;user id=monotester;password=monotester;"
				engine="sqlserver2005" />
			<connection
				name="sqlserver2005-odbc-gert"
				factory="System.Data.Odbc"
				connectionString="factory=System.Data.Odbc;driver={SQL Server};server=.;database=monotest;user id=monotester;password=monotester;"
				engine="sqlserver2005" />
			<connection
				name="mysql51-odbc-gert"
				factory="System.Data.Odbc"
				connectionString="factory=System.Data.Odbc;Driver={MySQL ODBC 5.1 Driver};server=localhost;database=monotest;user=monotester;password=;option=3;"
				engine="mysql51"/>
		</connections>
	</providerTests>
</configuration>
