<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="mono.data">
			<section name="providers" type="Mono.Data.ProviderSectionHandler,Mono.Data" />
		</sectionGroup>
	</configSections>
	<appSettings file="conn_string">
	</appSettings>
	<mono.data>
		<providers>
			<provider name="System.Data.SqlClient" connection="System.Data.SqlClient.SqlConnection"
				adapter="System.Data.SqlClient.SqlDataAdapter"
				command="System.Data.SqlClient.SqlCommand"
				assembly="System.Data, Version=2.0.0.0, Culture=neutral,
				PublicKeyToken=b77a5c561934e089"/>
			<provider name="System.Data.OleDb" connection="System.Data.OleDb.OleDbConnection" 
				adapter="System.Data.OleDb.OleDbDataAdapter"
				command="System.Data.OleDb.OleDbCommand"
				assembly="System.Data, Version=2.0.0.0, Culture=neutral,
				PublicKeyToken=b77a5c561934e089"/>
			<provider name="System.Data.Odbc" connection="System.Data.Odbc.OdbcConnection" 
				adapter="System.Data.OleDb.OdbcDataAdapter"
				command="System.Data.OleDb.OdbcCommand"
				assembly="System.Data, Version=2.0.0.0, Culture=neutral,
				PublicKeyToken=b77a5c561934e089"/>
			<provider name="Mono.Data.TdsClient" connection="Mono.Data.TdsClient.TdsConnection" 
				adapter="Mono.Data.TdsClient.TdsDataAdapter"
				command="System.Data.OleDb.TdsCommand"
				assembly="Mono.Data.TdsClient" />
			<provider name="Mono.Data.MySql" connection="Mono.Data.MySql.MySqlConnection" 
				adapter="Mono.Data.MySql.MySqlDataAdapter"
				command="System.Data.OleDb.MySqlCommand"
				assembly="Mono.Data.MySql" />
			<provider name="Mono.Data.PostgreSqlClient" 
				connection="Mono.Data.PostgreSqlClient.PgSqlConnection" 
				adapter="Mono.Data.PostgreSqlClient.PgSqlDataAdapter" 
				command="System.Data.OleDb.PgSqlCommand"
				assembly="Mono.Data.PostgreSqlClient" />
			<provider name="Mono.Data.SqliteClient" 
				connection="Mono.Data.SqliteClient.SqliteConnection" 
				adapter="Mono.Data.SqliteClient.SqliteDataAdapter" 
				command="System.Data.OleDb.SqliteCommand"
				assembly="Mono.Data.SqliteClient" />
			<provider name="Mono.Data.SybaseClient" 
				connection="Mono.Data.SybaseClient.SybaseConnection" 
				adapter="Mono.Data.SybaseClient.SybaseDataAdapter" 
				command="System.Data.OleDb.SybaseCommand"
				assembly="Mono.Data.SybaseClient" />
		</providers>
	</mono.data>
</configuration>
