<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
		<sectionGroup name="mono.data">
			<section name="providers" type="Mono.Data.ProviderSectionHandler,Mono.Data" />
		</sectionGroup>
		<section name="providerTests" type="MonoTests.System.Data.Connected.ProviderTestsConfigurationHandler, System.Data.Connected.Tests" />
	</configSections>
	<providerTests>
		<engines>
			<engine
				name="sqlserver7"
				type="SQLServer"
				clientversion="7"
				quoteCharacter="&quot;"
				removesTrailingSpaces="false"
				emptyBinaryAsNull="false"
				supportsMicroseconds="true"
				supportsUniqueIdentifier="true"
				supportsDate="false"
				supportsTime="false"
				supportsTimestamp="true" />
			<engine
				name="sqlserver2000"
				type="SQLServer"
				clientversion="8"
				quoteCharacter="&quot;"
				removesTrailingSpaces="false"
				emptyBinaryAsNull="false"
				supportsMicroseconds="true"
				supportsUniqueIdentifier="true"
				supportsDate="false"
				supportsTime="false"
				supportsTimestamp="true" />
			<engine
				name="sqlserver2005"
				type="SQLServer"
				clientversion="9"
				quoteCharacter="&quot;"
				removesTrailingSpaces="false"
				emptyBinaryAsNull="false"
				supportsMicroseconds="true"
				supportsUniqueIdentifier="true"
				supportsDate="false"
				supportsTime="false"
				supportsTimestamp="true" />
			<engine
				name="sqlserver2008"
				type="SQLServer"
				clientversion="10"
				quoteCharacter="&quot;"
				removesTrailingSpaces="false"
				emptyBinaryAsNull="false"
				supportsMicroseconds="true"
				supportsUniqueIdentifier="true"
				supportsDate="true"
				supportsTime="true"
				supportsTimestamp="true" />
			<engine
				name="mysql51"
				type="MySQL"
				quoteCharacter="`"
				removesTrailingSpaces="true"
				emptyBinaryAsNull="true"
				supportsMicroseconds="false"
				supportsUniqueIdentifier="false"
				supportsDate="true"
				supportsTime="true"
				supportsTimestamp="false" />
			<engine
				name="postgres"
				type="PostgreSQL"
				quoteCharacter="FIXME" />
		</engines>
		<connections>
			<connection
				name="sqlserver-tds"
				factory="System.Data.SqlClient"
				connectionString="server=mono-server;database=monotest;user id=monotester;password=monotester;"
				engine="sqlserver2005" />
			<connection
				name="sqlserver-odbc"
				factory="System.Data.Odbc"
				connectionString="dsn=SqlServer;UID=sa;PWD=;"
				engine="sqlserver2005" />
			<connection
				name="mysql-odbc"
				factory="System.Data.Odbc"
				connectionString="dsn=mysql-mono-test;UID=mono-tester;PWD=;"
				engine="mysql51" />
			<connection
				name="postgres-odbc"
				factory="System.Data.Odbc"
				connectionString="factory=System.Data.Odbc;dsn=Postgres-Mono-monotest;UID=mono-tester;PWD=;"
				engine="postgres" />

			<connection
				name="sqlserver7-tds-gert"
				factory="System.Data.SqlClient"
				connectionString="server=192.168.0.2;database=monotest;user id=monotester;password=monotester;"
				engine="sqlserver7" />
			<connection
				name="sqlserver2005-tds-gert"
				factory="System.Data.SqlClient"
				connectionString="server=.;database=monotest;user id=monotester;password=monotester;"
				engine="sqlserver2005" />
			<connection
				name="sqlserver2005-odbc-gert"
				factory="System.Data.Odbc"
				connectionString="driver={SQL Server};server=.;database=monotest;user id=monotester;password=monotester;"
				engine="sqlserver2005" />
			<connection
				name="mysql51-odbc-gert"
				factory="System.Data.Odbc"
				connectionString="factory=System.Data.Odbc;Driver={MySQL ODBC 5.1 Driver};server=localhost;database=monotest;user=monotester;password=;option=3;"
				engine="mysql51"/>
		</connections>
	</providerTests>
	<mono.data>
		<providers>
			<provider name="System.Data.SqlClient" connection="System.Data.SqlClient.SqlConnection"
				adapter="System.Data.SqlClient.SqlDataAdapter"
				command="System.Data.SqlClient.SqlCommand"
				assembly="System.Data, Version=1.0.5000.0, Culture=neutral,
				PublicKeyToken=b77a5c561934e089"/>
			<provider name="System.Data.OleDb" connection="System.Data.OleDb.OleDbConnection" 
				adapter="System.Data.OleDb.OleDbDataAdapter"
				command="System.Data.OleDb.OleDbCommand"
				assembly="System.Data, Version=1.0.5000.0, Culture=neutral,
				PublicKeyToken=b77a5c561934e089"/>
			<provider name="System.Data.Odbc" connection="System.Data.Odbc.OdbcConnection" 
				adapter="System.Data.OleDb.OdbcDataAdapter"
				command="System.Data.OleDb.OdbcCommand"
				assembly="System.Data, Version=1.0.5000.0, Culture=neutral,
				PublicKeyToken=b77a5c561934e089"/>
			<provider name="Mono.Data.TdsClient" connection="Mono.Data.TdsClient.TdsConnection" 
				adapter="Mono.Data.TdsClient.TdsDataAdapter"
				command="System.Data.OleDb.TdsCommand"
				assembly="Mono.Data.TdsClient" />
			<provider name="Mono.Data.MySql" connection="Mono.Data.MySql.MySqlConnection" 
				adapter="Mono.Data.MySql.MySqlDataAdapter"
				command="System.Data.OleDb.MySqlCommand"
				assembly="Mono.Data.MySql" />
			<provider name="Mono.Data.PostgreSqlClient" 
				connection="Mono.Data.PostgreSqlClient.PgSqlConnection" 
				adapter="Mono.Data.PostgreSqlClient.PgSqlDataAdapter" 
				command="System.Data.OleDb.PgSqlCommand"
				assembly="Mono.Data.PostgreSqlClient" />
			<provider name="Mono.Data.SqliteClient" 
				connection="Mono.Data.SqliteClient.SqliteConnection" 
				adapter="Mono.Data.SqliteClient.SqliteDataAdapter" 
				command="System.Data.OleDb.SqliteCommand"
				assembly="Mono.Data.SqliteClient" />
			<provider name="Mono.Data.SybaseClient" 
				connection="Mono.Data.SybaseClient.SybaseConnection" 
				adapter="Mono.Data.SybaseClient.SybaseDataAdapter" 
				command="System.Data.OleDb.SybaseCommand"
				assembly="Mono.Data.SybaseClient" />
		</providers>
	</mono.data>
</configuration>
