<appSettings>
		<add key="ConnString" value="factory=System.Data.Odbc;dsn=mysql-mono-test2;UID=monotester;PWD=;"/>
		<add key="postgres" value="factory=System.Data.Odbc;dsn=Postgres-Mono-monotest;UID=mono-tester;PWD=;"/>
		<add key="mysql" value="factory=System.Data.Odbc;dsn=mysql-mono-test;UID=mono-tester;PWD=;"/>
		<add key="sqlserver" value="factory=System.Data.Odbc;dsn=SqlServer;UID=sa;PWD=;"/>
</appSettings>
