/DisposableReflectionComposablePart.cs -crlf
/ExportingMember.cs -crlf
/IReflectionPartCreationInfo.cs -crlf
/ImportType.cs -crlf
/ImportingItem.cs -crlf
/ImportingMember.cs -crlf
/ImportingParameter.cs -crlf
/LazyMemberInfo.cs -crlf
/PartCreatorExportDefinition.cs -crlf
/PartCreatorMemberImportDefinition.cs -crlf
/PartCreatorParameterImportDefinition.cs -crlf
/ReflectionComposablePart.cs -crlf
/ReflectionComposablePartDefinition.cs -crlf
/ReflectionExtensions.cs -crlf
/ReflectionField.cs -crlf
/ReflectionImportDefinition.cs -crlf
/ReflectionItem.cs -crlf
/ReflectionItemType.cs -crlf
/ReflectionMember.cs -crlf
/ReflectionMemberExportDefinition.cs -crlf
/ReflectionMemberImportDefinition.cs -crlf
/ReflectionMethod.cs -crlf
/ReflectionModelServices.cs -crlf
/ReflectionParameter.cs -crlf
/ReflectionParameterImportDefinition.cs -crlf
/ReflectionProperty.cs -crlf
/ReflectionType.cs -crlf
/ReflectionWritableMember.cs -crlf
