/DataServiceExpressionVisitor.cs -crlf
/DataServiceQueryProvider.cs -crlf
/Evaluator.cs -crlf
/ExpressionNormalizer.cs -crlf
/ExpressionVisitor.cs -crlf
/ExpressionWriter.cs -crlf
/FilterQueryOptionExpression.cs -crlf
/InputBinder.cs -crlf
/InputReferenceExpression.cs -crlf
/NavigationPropertySingletonExpression.cs -crlf
/OrderByQueryOptionExpression.cs -crlf
/ParameterReplacerVisitor.cs -crlf
/PathBox.cs -crlf
/ProjectionAnalyzer.cs -crlf
/ProjectionQueryOptionExpression.cs -crlf
/ProjectionRewriter.cs -crlf
/QueryComponents.cs -crlf
/QueryOptionExpression.cs -crlf
/ReflectionUtil.cs -crlf
/ResourceBinder.cs -crlf
/ResourceExpression.cs -crlf
/ResourceExpressionType.cs -crlf
/ResourceSetExpression.cs -crlf
/SkipQueryOptionExpression.cs -crlf
/TakeQueryOptionExpression.cs -crlf
/TypeSystem.cs -crlf
/UriHelper.cs -crlf
/UriWriter.cs -crlf
