/SQLite3.cs -crlf
/SQLite3_UTF16.cs -crlf
/SQLiteBase.cs -crlf
/SQLiteCommand.cs -crlf
/SQLiteCommandBuilder.cs -crlf
/SQLiteConnection.cs -crlf
/SQLiteConnectionPool.cs -crlf
/SQLiteConnectionStringBuilder.cs -crlf
/SQLiteConvert.cs -crlf
/SQLiteDataAdapter.cs -crlf
/SQLiteDataReader.cs -crlf
/SQLiteEnlistment.cs -crlf
/SQLiteException.cs -crlf
/SQLiteFactory.cs -crlf
/SQLiteFunction.cs -crlf
/SQLiteFunctionAttribute.cs -crlf
/SQLiteKeyReader.cs -crlf
/SQLiteMetaDataCollectionNames.cs -crlf
/SQLiteParameter.cs -crlf
/SQLiteParameterCollection.cs -crlf
/SQLiteStatement.cs -crlf
/SQLiteTransaction.cs -crlf
/SR.Designer.cs -crlf
/UnsafeNativeMethods.cs -crlf
