/App.config -crlf
/Attach.cs -crlf
/CompositePK_Test.cs -crlf
/DataContext.cs -crlf
/DataContextTestBase.cs -crlf
/DataLoadOptions_Test.cs -crlf
/DynamicLinqTest.cs -crlf
/ExecuteCommand_Test.cs -crlf
/ExecuteQuery_Test.cs -crlf
/MetalTest.cs -crlf
/Program2Ing.cs -crlf
/Program2Mysql.cs -crlf
/Program2Pg.cs -crlf
/Program2SQLite.cs -crlf
/Program3Ora.cs -crlf
/ReadTest.cs -crlf
/ReadTest_AllTypes_MySql.cs -crlf
/ReadTest_Complex.cs -crlf
/ReadTest_GroupBy.cs -crlf
/ReadTest_Operands.cs -crlf
/ReadTest_Subquery.cs -crlf
/ReadTests_AnyCountFirst.cs -crlf
/ReadTests_Conversions.cs -crlf
/ReadTests_DateTimeFunctions.cs -crlf
/ReadTests_EntitySet.cs -crlf
/ReadTests_Join.cs -crlf
/ReadTests_Maths.cs -crlf
/ReadTests_ReferenceLoading.cs -crlf
/ReadTests_StringFunctions.cs -crlf
/StoredProcTest.cs -crlf
/Table.cs -crlf
/TestBase.cs -crlf
/Transactions.cs -crlf
/VerticalPartitioningTest.cs -crlf
/WriteTest.cs -crlf
/WriteTest_BulkInsert.cs -crlf
