/AbstractParameters.cs -crlf
/AllTypes?all?to?Cs.txt -crlf
/AllTypes?to?Cs.txt -crlf
/App.config -crlf
/DB?all?to?Cs.txt -crlf
/DB?all?to?DBML.txt -crlf
/DB?to?Cs.txt -crlf
/DB?to?DBML.txt -crlf
/NorthwindRename.dbml -crlf
/Parameters.cs -crlf
/Program.cs -crlf
/Reference.cs -crlf
/oraFieldRenames.xml -crlf
/pgsqlFieldRenames.xml -crlf
/sqlmetal.exe.config -crlf
