/AssociationName.cs -crlf
/Case.cs -crlf
/ColumnName.cs -crlf
/INameFormatter.cs -crlf
/Name.cs -crlf
/NameFormat.cs -crlf
/ParameterName.cs -crlf
/ProcedureName.cs -crlf
/SchemaName.cs -crlf
/TableName.cs -crlf
/WordsExtraction.cs -crlf
