/ChangeInterceptorAttribute.cs -crlf
/DataService.cs -crlf
/DataServiceException.cs -crlf
/DataServiceHost.cs -crlf
/DataServiceHostFactory.cs -crlf
/ETagAttribute.cs -crlf
/EntitySetRights.cs -crlf
/ExpandSegment.cs -crlf
/ExpandSegmentCollection.cs -crlf
/HandleExceptionArgs.cs -crlf
/IDataServiceConfiguration.cs -crlf
/IDataServiceHost.cs -crlf
/IExpandProvider.cs -crlf
/IExpandedResult.cs -crlf
/IRequestHandler.cs -crlf
/IUpdatable.cs -crlf
/IgnorePropertiesAttribute.cs -crlf
/MimeTypeAttribute.cs -crlf
/ProcessRequestArgs.cs -crlf
/QueryInterceptorAttribute.cs -crlf
/ServiceOperationRights.cs -crlf
/SingleResultAttribute.cs -crlf
/UpdateOperations.cs -crlf
