/*.dll
/*.mdb
/*.log
/.makefrag
/.response
/TestResult*
/corlib.dll
/corlib.pdb
/corlib_plattest.dll
/corlib_plattest.dll.sources
/corlib_plattest.pdb
/corlib_test.dll
/corlib_test.pdb
/library-deps.stamp
/temp
/foo.txt
/foo2.txt
/semantic.cache
/*.tmp
