BODY
{
    FONT-FAMILY: "Verdana", sans-serif;
    FONT-SIZE: x-small;
}
CODE 
{
    FONT-SIZE: x-small;
}
A:link
{
    COLOR: #4e4887
}
A:visited
{
    COLOR: #8080c8
}
A:active
{
    COLOR: #f16043
}
A:hover
{
    COLOR: #f16043
}
P
{
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 0.5em
}
.greenbg
{
    BACKGROUND-COLOR: #00ff00;
    font-weight:bold
}
TABLE
{
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
}
TD
{
    BACKGROUND-COLOR: #bedfff;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE:x-small;
    MARGIN: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left
}
TH
{
    BACKGROUND-COLOR: #ffdfbe;
    BORDER-BOTTOM: medium none;
    BORDER-LEFT: medium none;
    BORDER-RIGHT: medium none;
    BORDER-TOP: medium none;
    FONT-SIZE: x-small;
    MARGIN: 2px;
    PADDING-BOTTOM: 2px;
    PADDING-LEFT: 2px;
    PADDING-RIGHT: 2px;
    PADDING-TOP: 2px;
    TEXT-ALIGN: left
}
TH
{
    BACKGROUND-COLOR: #ffaa57
}
UL
{
    MARGIN-TOP: 0.5em
}
OL
{
    MARGIN-TOP: 0.5em
}
H1
{
    COLOR: #336699;
    FONT-SIZE: x-large;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1em;
    PADDING-LEFT: 4px
}
H2
{
    BORDER-LEFT: #4e4887 8px solid;
    BORDER-TOP: #4e4887 1px solid;
    COLOR: #4e4887;
    FONT-SIZE: medium;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1em;
    PADDING-LEFT: 4px
}
H3
{
    BORDER-LEFT: #4e4887 4px solid;
    BORDER-TOP: #4e4887 1px solid;
    COLOR: #4e4887;
    FONT-SIZE: small;
    MARGIN-BOTTOM: 0.5em;
    MARGIN-TOP: 1em;
    PADDING-LEFT: 4px
}
H4
{
    COLOR: #4e4887;
    FONT-SIZE: small;
    MARGIN-BOTTOM: 0.5em
}
H5
{
    COLOR: #4e4887;
    FONT-SIZE: x-small;
    MARGIN-BOTTOM: 0.5em
}
H6
{
    COLOR: #4e4887;
    FONT-SIZE: x-small;
    FONT-STYLE: italic;
    MARGIN-BOTTOM: 0.5em
}
