<?xml version="1.0"?>
<!-- 
    The purpose of this file is to block access to the template files, that are not meant
    to be directly requested.
-->
<configuration>
    <system.web>
      <httpHandlers>
        <add path="*.aspx" verb="*" type="System.Web.HttpNotFoundHandler" validate="true"/>
      </httpHandlers>
    </system.web>
</configuration>