/abs_method1.il -crlf
/abs_method10.il -crlf
/abs_method2.il -crlf
/abs_method3.il -crlf
/abs_method5.il -crlf
/abs_method6.il -crlf
/abs_method7.il -crlf
/abs_method8.il -crlf
/dotted-names.il -crlf
/gen-1.il -crlf
/gen-extern-type.il -crlf
/global.il -crlf
/test-33.il -crlf
/test-34.il -crlf
/test-bounded-array.il -crlf
/test-cattr-1.il -crlf
/test-field-init.il -crlf
/test-perm_pass-2.il -crlf
/test-perm_pass-3.il -crlf
