<configuration>
  <connectionStrings>
    <add name="myTestConnectionString" providerName="Mono.Data.SqliteClient" connectionString="URI=file:test-database.db,Version=3" />
    <add name="LocalSqlServerDB" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=C:\Documents and Settings\toshok\fresh-test\membership\App_Data\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

                  <!--type="System.Web.Security.SqlMembershipProvider, System.Web, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a"-->
		  <!--type="Toshok.Web.Security.SqlMembershipProvider, test"-->

  <system.web>
    <membership>
      <providers>
        <remove name="AspNetSqlMembershipProvider" />
        <add name="AspNetSqlMembershipProvider"
		  type="ProvPoker, test"
        	  connectionStringName="LocalSqlServerDB"
                  enablePasswordRetrieval="true"
                  enablePasswordReset="true"
                  requiresQuestionAndAnswer="true"
                  applicationName="/"
                  requiresUniqueEmail="false"
                  minRequiredPasswordLength="1"
                  minRequiredNonalphanumericCharacters="0"
                  passwordFormat="Encrypted" />
      </providers>
    </membership>

    <machineKey validationKey='0A6180E2D758BBB69237ADD3E5E8DD19B6AED79E93AA38AB361D79926A1FDB6FF29D44DDDBCB159B9330E4C123F69C13568E1DD25D8FC19E729D8570A429296F'   decryptionKey='1E14FC86752772F5DB58B99764D0168106D336563D77CCBA'   validation='SHA1'/>

  </system.web>
</configuration>
