<configuration>
  <connectionStrings>
    <add name="myTestConnectionString" providerName="Mono.Data.SqliteClient" connectionString="URI=file:test-database.db,Version=3" />
    <add name="LocalSqlServerDB" connectionString="data source=.\SQLEXPRESS;Integrated Security=SSPI;AttachDBFilename=C:\Documents and Settings\toshok\fresh-test\membership\App_Data\aspnetdb.mdf;User Instance=true" providerName="System.Data.SqlClient" />
  </connectionStrings>

  <system.web>
    <membership defaultProvider="testMembershipProvider">
      <providers>
        <add name="testMembershipProvider" applicationName="/" connectionStringName="LocalSqlServerDB" type="Toshok.Web.Security.SqlMembershipProvider, test" />
      </providers>
    </membership>
  </system.web>
</configuration>
