/DataColumnCollectionTest2.cs -crlf
/DataRelationTest.cs -crlf
/DataSetReadXmlTest.cs -crlf
/MissingPrimaryKeyExceptionTest.cs -crlf
/TypedDataSet.xml -crlf
/store.xsd -crlf
/store2.xsd -crlf
/store3.xsd -crlf
/store4.xsd -crlf
