<?xml version="1.0"?>

<configuration>

    <system.web>
        <compilation debug="true" targetFramework="4.0" />
	    <caching>
		    <outputCache defaultProvider="MissingInMemoryProvider">
			    <providers>
				    <add name="MissingInMemoryProvider" type="Test.InMemoryProvider"/>
			    </providers>
		    </outputCache>
	    </caching>
    </system.web>
    <system.webServer>
      <modules runAllManagedModulesForAllRequests="true"/>
    </system.webServer>

</configuration>
