/ArrayUtil.cs -crlf
/Attribute.cs -crlf
/AttributeImpl.cs -crlf
/AttributeSource.cs -crlf
/AverageGuessMemoryModel.cs -crlf
/BitUtil.cs -crlf
/BitVector.cs -crlf
/Cache -crlf
/CloseableThreadLocal.cs -crlf
/Constants.cs -crlf
/DocIdBitSet.cs -crlf
/FieldCacheSanityChecker.cs -crlf
/IndexableBinaryStringTools.cs -crlf
/MapOfSets.cs -crlf
/MemoryModel.cs -crlf
/NumericUtils.cs -crlf
/OpenBitSet.cs -crlf
/OpenBitSetDISI.cs -crlf
/OpenBitSetIterator.cs -crlf
/Package.html -crlf
/Parameter.cs -crlf
/PriorityQueue.cs -crlf
/RamUsageEstimator.cs -crlf
/ReaderUtil.cs -crlf
/ScorerDocQueue.cs -crlf
/SimpleStringInterner.cs -crlf
/SmallFloat.cs -crlf
/SortedVIntList.cs -crlf
/SorterTemplate.cs -crlf
/StringHelper.cs -crlf
/StringInterner.cs -crlf
/ToStringUtils.cs -crlf
/UnicodeUtil.cs -crlf
/Version.cs -crlf
