    body {
	line-height: 1.5;
	padding-left: 2em;
	padding-right: 2em;
    }
    body code {
        font-family: "Consolas", "Courier", monospace;
        border: 1px solid rgba(214,214,214,1);
	background-color: rgba(249,249,249,1);
	padding-left: 3px;
	padding-right: 3px;
    }

    .api-entry code {
        border: none;
        background-color: transparent;
    }
    h3 { 
    }
    
    .api-parameters {
        border-collapse: collapse;
        border-spacing: 0;
        empty-cells: hide;
        border: 0;
        margin: 5px 0 26px;	    
    }

    .api-parameters td {
        border: 1px solid rgba(214,214,214,1);
	  border-left-style: none;
	padding: 5px 25px 5px 10px;
    }

    .api-parameters tr>td:last-child  {
        border-right: 0;
    }
	
    .api-parameters td:first-of-type {
        text-align: right;
        padding: 7px;
        vertical-align: top;
        word-break: normal;
        width: 40px;
    }

    .api-parameters tr:last-child>td {
        border-bottom: 0;
    }

    .api-parameters tr:first-child>td {
        border-top: 0;
    }

    .api-parameters tr td:first-of-type {
        text-align: right;
        padding: 7px;
        vertical-align: top;
        word-break: normal;
        width: 40px;
    }

   .api {
        left: -25px;
        margin: 0;
        padding: 13px 25px 0;
        position: relative;
        width: 100%;
    } 

    .api-description {
        background: rgba(249,249,249,1);
        border-bottom: 1px solid rgba(233,233,233,1);
        left: -25px;
        margin: 0;
        padding: 13px 25px 0;
        position: relative;
        width: 100%;	 
    }

     .api-entry {
         background: transparent;
     }

     .api-docs {
     }
	
     .prototype {
         border-left: 5px solid rgba(205,233,244,1);
         padding: .5em;
         margin-top: 5pt;
         margin-bottom: 5pt;
         font-family: "Consolas", "Courier", monospace;
         display: block;
         overflow: auto;
         background-color: #f9f9f9;
    } 

    .header {
        padding: 0 0 5pt 5pt;
        margin: 10pt;
	white-space: pre;
        font-family: monospace;
	border: 1px solid rgba(233,233,233,1);
    }
    
    .code {
        border: 1px solid;
	padding: 0 0 5pt 5pt;
	margin: 10pt;
	white-space: pre;
	font-family: monospace;
    }

    .declaration {
	margin-top: 21px;
    }

    .api-section {
        font-size: smaller;
	font-weight: bold;
	margin-top: 21px;
	line-height: 1.5;
    }
	
    .strike {
        text-decoration: line-through;
    }

    .deprecated {
        color: red;
    }

    .api-ptr-container {
        background: white;
	border-bottom: 1px solid rgba(233,233,233,1);
        left: -25px;
        padding-left: 25px;
        padding-right: 25px;
        padding-bottom: 13px;
        position: relative;
        width: 100%;
    }

    .api-ptr {
        background: rgba(249,249,249,1);
	border-left: 1px solid rgba(233,233,233,1);
	border-top: 1px solid rgba(233,233,233,1);
        height: 12px;
        left: 37px;
        top: -7px;
        -webkit-transform: rotate(45deg);
        -moz-transform: rotate(45deg);
        -o-transform: rotate(45deg);
        transform: rotate(45deg);
        position: absolute;
        width: 12px;
    }

    .api-height-container {
        left: -25px;
        padding: 0 25px;
        position: relative;
        width: 100%;
    }
