<?xml version="1.0"?>
<manpages>
  <manpage name="al(1)"                 page="../man/al.1" />
  <manpage name="caspol(1)"             page="../man/caspol.1" />
  <manpage name="cert2spc(1)"           page="../man/cert2spc.1" />
  <manpage name="certmgr(1)"            page="../man/certmgr.1" />
  <manpage name="chktrust(1)"           page="../man/chktrust.1" />
  <manpage name="cilc(1)"               page="../man/cilc.1" />
  <manpage name="disco(1)"              page="../man/disco.1" />
  <manpage name="dtd2xsd(1)"            page="../man/dtd2xsd.1" />
  <manpage name="gacutil(1)"            page="../man/gacutil.1" />
  <manpage name="genxs(1)"              page="../man/genxs.1" />
  <manpage name="httpcfg(1)"            page="../man/httpcfg.1" />
  <manpage name="ilasm(1)"              page="../man/ilasm.1" />
  <manpage name="macpack(1)"            page="../man/macpack.1" />
  <manpage name="makecert(1)"           page="../man/makecert.1" />
  <manpage name="mconfig(1)"            page="../man/mconfig.1" />
  <manpage name="mcs(1)"                page="../man/mcs.1" />
  <manpage name="mdassembler(1)"        page="../man/mdassembler.1" />
  <manpage name="mdcs2ecma(1)"          page="../man/mdcs2ecma.1" />
  <manpage name="mdnormalizer(1)"       page="../man/mdnormalizer.1" />
  <manpage name="mdoc(1)"               page="../man/mdoc.1" />
  <manpage name="mdoc-assemble(1)"      page="../man/mdoc-assemble.1" />
  <manpage name="mdoc-export-html(1)"   page="../man/mdoc-export-html.1" />
  <manpage name="mdoc-export-msxdoc(1)" page="../man/mdoc-export-msxdoc.1" />
  <manpage name="mdoc-update(1)"        page="../man/mdoc-update.1" />
  <manpage name="mdoc-validate(1)"      page="../man/mdoc-validate.1" />
  <manpage name="mdvalidator(1)"        page="../man/mdvalidator.1" />
  <manpage name="mkbundle(1)"           page="../man/mkbundle.1" />
  <manpage name="mono(1)"               page="../man/mono.1" />
  <manpage name="mono-service(1)"       page="../man/mono-service.1" />
  <manpage name="mono-shlib-cop(1)"     page="../man/mono-shlib-cop.1" />
  <manpage name="monodocer(1)"          page="../man/monodocer.1" />
  <manpage name="monodocs2html(1)"      page="../man/monodocs2html.1" />
  <manpage name="monolinker(1)"         page="../man/monolinker.1" />
  <manpage name="monop(1)"              page="../man/monop.1" />
  <manpage name="mono-xmltool(1)"       page="../man/mono-xmltool.1" />
  <manpage name="mozroots(1)"           page="../man/mozroots.1" />
  <manpage name="permview(1)"           page="../man/permview.1" />
  <manpage name="resgen(1)"             page="../man/resgen.1" />
  <manpage name="secutil(1)"            page="../man/secutil.1" />
  <manpage name="setreg(1)"             page="../man/setreg.1" />
  <manpage name="sgen(1)"               page="../man/sgen.1" />
  <manpage name="signcode(1)"           page="../man/signcode.1" />
  <manpage name="sn(1)"                 page="../man/sn.1" />
  <manpage name="soapsuds(1)"           page="../man/soapsuds.1" />
  <manpage name="sqlsharp(1)"           page="../man/sqlsharp.1" />
  <manpage name="vbnc(1)"               page="../man/vbnc.1" />
  <manpage name="wsdl(1)"               page="../man/wsdl.1" />
  <manpage name="wsdl2(1)"              page="../man/wsdl2.1" />
  <manpage name="xsd(1)"                page="../man/xsd.1" />
</manpages>
