/AssociationAttribute.cs -crlf
/AutoSync.cs -crlf
/ColumnAttribute.cs -crlf
/DataAttribute.cs -crlf
/DatabaseAttribute.cs -crlf
/FunctionAttribute.cs -crlf
/InheritanceMappingAttribute.cs -crlf
/MappingSource.cs -crlf
/MetaAccessor.cs -crlf
/MetaAccessor_2.cs -crlf
/MetaAssociation.cs -crlf
/MetaDataMember.cs -crlf
/MetaFunction.cs -crlf
/MetaModel.cs -crlf
/MetaParameter.cs -crlf
/MetaTable.cs -crlf
/MetaType.cs -crlf
/ParameterAttribute.cs -crlf
/ProviderAttribute.cs -crlf
/ResultTypeAttribute.cs -crlf
/TableAttribute.cs -crlf
/UpdateCheck.cs -crlf
