<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="mono.data">
			<section name="providers" type="Mono.Data.ProviderSectionHandler,Mono.Data" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="PubsConnStr" value="factory=System.Data.SqlClient;server=speedy;database=pubs;uid=sa;pwd=" />
	</appSettings>
	<mono.data>
		<providers>
			<provider 
				name="System.Data.SqlClient" 
				connection="System.Data.SqlClient.SqlConnection" 
				adapter="System.Data.SqlClient.SqlDataAdapter" 
				command="System.Data.SqlClient.SqlCommand" 
				assembly="System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<provider 
				name="System.Data.OleDb" 
				connection="System.Data.OleDb.OleDbConnection" 
				adapter="System.Data.OleDb.OleDbDataAdapter" 
				command="System.Data.OleDb.OleDbCommand" 
				assembly="System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"/>
			<provider 
				name="System.Data.Odbc" 
				connection="System.Data.Odbc.OdbcConnection" 
				adapter="System.Data.Odbc.OdbcDataAdapter" 
				command="System.Data.Odbc.OdbcCommand" 
				assembly="odbc"/>
			<provider 
				name="Mono.Data.TdsClient" 
				connection="Mono.Data.TdsClient.TdsConnection" 
				adapter="Mono.Data.TdsClient.TdsDataAdapter" 
				command="Mono.Data.TdsClient.TdsCommand" 
				assembly="Mono.Data.TdsClient" />
			<provider name="Mono.Data.MySql" 
				connection="Mono.Data.MySql.MySqlConnection" 
				adapter="Mono.Data.MySql.MySqlDataAdapter" 
				command="Mono.Data.MySql.MySqlCommand"
				assembly="Mono.Data.MySql" />
			<provider 
				name="Mono.Data.PostgreSqlClient" 
				connection="Mono.Data.PostgreSqlClient.PgSqlConnection" 
				adapter="Mono.Data.PostgreSqlClient.PgSqlDataAdapter" 
				command="Mono.Data.PostgreSqlClient.PgSqlCommand" 
				assembly="Mono.Data.PostgreSqlClient" />
			<provider 
				name="Mono.Data.SqliteClient" 
				connection="Mono.Data.SqliteClient.SqliteConnection" 
				adapter="Mono.Data.SqliteClient.SqliteDataAdapter" 
				command="Mono.Data.SqliteClient.SqliteCommand" 
				assembly="Mono.Data.SqliteClient" />
			<provider 
				name="Mono.Data.SybaseClient" 
				connection="Mono.Data.SybaseClient.SybaseConnection" 
				adapter="Mono.Data.SybaseClient.SybaseDataAdapter" 
				command="Mono.Data.SybaseClient.SybaseCommand" 
				assembly="Mono.Data.SybaseClient" />
		</providers>
	</mono.data>
</configuration>
