<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<configSections>
		<sectionGroup name="mono.data">
			<section name="providers" type="Mono.Data.ProviderSectionHandler,Mono.Data" />
		</sectionGroup>
	</configSections>
	<appSettings>
		<add key="PubsConnStr" value="factory=System.Data.SqlClient;server=speedy;database=pubs;uid=sa;pwd=mypassword" />
		<add key="OraConnStr" value="factory=System.Data.OracleClient;data source=testdb;user id=scott;password=tiger" />
		<add key="PgConnStr" value="factory=Npgsql;Server=localhost;Database=monotest;User ID=monotest;Password=monotest" />
		<add key="MyConnStr" value="factory=ByteFX.Data.MySqlClient;Database=test" />
		<add key="FireConnStr" value="factory=FirebirdSql.Data.Firebird;Database=E:\FIREBIRD\EXAMPLES\EMPLOYEE.FDB;User=SYSDBA;Password=masterkey;Dialect=3;Server=localhost" />
	</appSettings>
	<mono.data>
		<providers>
			<provider 
				name="System.Data.SqlClient" 
				connection="System.Data.SqlClient.SqlConnection" 
				adapter="System.Data.SqlClient.SqlDataAdapter" 
				command="System.Data.SqlClient.SqlCommand" 
				assembly="System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				description="Microsoft SQL Server 7.0/2000" />
			<provider 
				name="System.Data.OleDb" 
				connection="System.Data.OleDb.OleDbConnection" 
				adapter="System.Data.OleDb.OleDbDataAdapter" 
				command="System.Data.OleDb.OleDbCommand" 
				assembly="System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				description="OLE DB" />
			<provider 
				name="System.Data.Odbc" 
				connection="System.Data.Odbc.OdbcConnection" 
				adapter="System.Data.Odbc.OdbcDataAdapter" 
				command="System.Data.Odbc.OdbcCommand" 
				assembly="System.Data, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089"
				description="ODBC" />
			<provider 
				name="Mono.Data.TdsClient" 
				connection="Mono.Data.TdsClient.TdsConnection" 
				adapter="Mono.Data.TdsClient.TdsDataAdapter" 
				command="Mono.Data.TdsClient.TdsCommand" 
				assembly="Mono.Data.TdsClient, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756"
				description="TDS Generic" />
			<provider 
				name="ByteFX.Data.MySqlClient" 
				connection="ByteFX.Data.MySqlClient.MySqlConnection" 
				adapter="ByteFX.Data.MySqlClient.MySqlDataAdapter" 
				command="ByteFX.Data.MySqlClient.MySqlCommand"
				assembly="ByteFX.Data, Version=0.7.6.1, Culture=neutral, PublicKeyToken=0738eb9f132ed756"
				description="MySQL" />
			<provider 
				name="Npgsql" 
				connection="Npgsql.NpgsqlConnection" 
				adapter="Npgsql.NpgsqlDataAdapter" 
				command="Npgsql.NpgsqlCommand" 
				assembly="Npgsql, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=5d8b90d52f46fda7"
				description="PostgreSQL" />
			<provider 
				name="Mono.Data.SqliteClient" 
				connection="Mono.Data.SqliteClient.SqliteConnection" 
				adapter="Mono.Data.SqliteClient.SqliteDataAdapter" 
				command="Mono.Data.SqliteClient.SqliteCommand" 
				assembly="Mono.Data.SqliteClient, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756"
				description="SQL Lite" />
			<provider 
				name="Mono.Data.SybaseClient" 
				connection="Mono.Data.SybaseClient.SybaseConnection" 
				adapter="Mono.Data.SybaseClient.SybaseDataAdapter" 
				command="Mono.Data.SybaseClient.SybaseCommand" 
				assembly="Mono.Data.SybaseClient, Version=1.0.5000.0, Culture=neutral, PublicKeyToken=0738eb9f132ed756"
				description="Sybase" />
			<provider 
				name="FirebirdSql.Data.Firebird" 
				connection="FirebirdSql.Data.Firebird.FbConnection" 
				adapter="FirebirdSql.Data.Firebird.FbDataAdapter" 
				command="FirebirdSql.Data.Firebird.FbCommand" 
				assembly="FirebirdSql.Data.Firebird, Version=1.6.3.0, Culture=neutral, PublicKeyToken=e1b4f92304d7b12f"
				description="Firebird" />
			<provider 
				name="IBM.Data.DB2" 
				connection="IBM.Data.DB2.DB2Connection" 
				adapter="IBM.Data.DB2.DB2DataAdapter" 
				command="IBM.Data.DB2.DB2Command" 
				assembly="IBM.Data.DB2, Version=1.0.1728.9997, Culture=neutral, PublicKeyToken=7c307b91aa13d208"
				description="IBM DB2 Universal Database" />
		</providers>
	</mono.data>
</configuration>
