/Northwind.Sqlite+DbSchemaLoader-DbMetal.cs -crlf
/Northwind.Sqlite+DbSchemaLoader-DbMetal.dbml -crlf
/Northwind.Sqlite+DbSchemaLoader-sqlmetal.cs -crlf
/Northwind.Sqlite+DbSchemaLoader-sqlmetal.dbml -crlf
/Northwind.Sqlite-DbMetal.cs -crlf
/Northwind.Sqlite-DbMetal.dbml -crlf
/Northwind.Sqlite-sqlmetal.cs -crlf
/Northwind.Sqlite-sqlmetal.dbml -crlf
