/XmlDocumentEventTests.cs -crlf
/XmlNodeReaderTests.cs -crlf
/XmlReaderCommonTests.cs -crlf
/XmlResolverTest.cs -crlf
/XmlUrlResolverTests.cs -crlf
/XmlValidatingReaderTests.cs -crlf
/XmlWriterTests.cs -crlf
/XsdParticleValidationTests.cs -crlf
/XsdValidatingReaderTests.cs -crlf
