/AttributeDefinition.cs -crlf
/CodeDomGenerator.cs -crlf
/CodeWriter.cs -crlf
/GenerationContext.cs -crlf
/ICodeGenerator.cs -crlf
/IProcessor.cs -crlf
/ISchemaLoaderFactory.cs -crlf
/ParameterDefinition.cs -crlf
/SpecificationDefinition.cs -crlf
