<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <configSections>
    <section
      name="displayers"
      type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section
      name="finders"
      type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
    <section
      name="formatters"
      type="System.Configuration.DictionarySectionHandler, System, Version=1.0.3300.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
  </configSections>
  <system.diagnostics>
    <switches>
      <add name="console" value="1"/>
      <add name="explicit-node-finder" value="0"/>
      <add name="grouping-node-finder" value="0"/>
      <add name="indenting-text-writer" value="0"/>
      <add name="indenter" value="0"/>
      <add name="node-finder" value="0"/>
      <add name="type-loader" value="0"/>
      <add name="type-factory" value="1"/>
    </switches>
    <!--
    <trace>
      <listeners>
        <add
          name="foo"
          type="System.Diagnostics.TextWriterTraceListener, System"
          initializeData="debug.txt"/>
      </listeners>
    </trace>
    -->
  </system.diagnostics>
  <displayers>
    <add key="console" value="Mono.TypeReflector.Displayers.ConsoleTypeDisplayer" />
    <add key="gtk"     value="Mono.TypeReflector.Displayers.Gtk.GtkTypeDisplayer" />
    <add key="swf"     value="Mono.TypeReflector.Displayers.Swf.SwfTypeDisplayer" />
  </displayers>
  <finders>
    <add key="explicit"    value="Mono.TypeReflector.Finders.ExplicitNodeFinder" />
    <add key="reflection"  value="Mono.TypeReflector.Finders.ReflectionNodeFinder" />
  </finders>
  <formatters>
    <add key="default" value="Mono.TypeReflector.Formatters.DefaultNodeFormatter" />
    <add key="csharp"  value="Mono.TypeReflector.Formatters.CSharpNodeFormatter" />
    <add key="vb"      value="Mono.TypeReflector.Formatters.VBNodeFormatter" />
  </formatters>
  <appSettings>
    <!-- 
      Sort of hackish...
      Specify the order that displayers should be loaded.  This would
      permit a default displayer other than the console.
      -->
    <add key="displayer-order" value="gtk swf console" />
  </appSettings>
</configuration>

