<?xml version="1.0" encoding="UTF-8"?>
<configuration>
  <system.diagnostics>
    <switches>
      <add name="console" value="0"/>
      <add name="explicit-node-finder" value="0"/>
      <add name="grouping-node-finder" value="0"/>
      <add name="indenting-text-writer" value="0"/>
      <add name="indenter" value="0"/>
      <add name="node-finder" value="0"/>
      <add name="type-loader" value="0"/>
    </switches>
  </system.diagnostics>
</configuration>

