/abs_method4.il -crlf
/abs_method9.il -crlf
/err-cattr.il -crlf
/err-gen-cattr-1.il -crlf
/err-gen-cattr-2.il -crlf
/err-gen-cattr-3.il -crlf
/err-gen-cattr-4.il -crlf
/err-global.il -crlf
/err-global2.il -crlf
