<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="org.mono.android.AndroidTestRunner">

  <uses-sdk
      android:minSdkVersion="14" />
  <uses-permission
      android:name="android.permission.INTERNET"/>

  <application>
    <activity android:name="org.mono.android.AndroidActivity">
      <intent-filter>
        <action android:name="android.intent.action.MAIN" />
          <category android:name="android.intent.category.LAUNCHER" />
      </intent-filter>
    </activity>
  </application>

  <instrumentation
      android:name="org.mono.android.AndroidRunner"
      android:targetPackage="org.mono.android.AndroidTestRunner" />
</manifest>