/ColumnExpression.cs -crlf
/CustomExpressionType.cs -crlf
/EntitySetExpression.cs -crlf
/ExpressionTranslator.cs -crlf
/GroupByExpression.cs -crlf
/GroupExpression.cs -crlf
/IExecutableExpression.cs -crlf
/IMutableExpression.cs -crlf
/InputParameterExpression.cs -crlf
/MetaTableExpression.cs -crlf
/MutableExpression.cs -crlf
/ObjectInputParameterExpression.cs -crlf
/ObjectOutputParameterExpression.cs -crlf
/OperandsMutableExpression.cs -crlf
/OrderByExpression.cs -crlf
/ScopeExpression.cs -crlf
/SelectExpression.cs -crlf
/SelectOperatorType.cs -crlf
/SpecialExpression.cs -crlf
/SpecialExpressionType.cs -crlf
/StartIndexOffsetExpression.cs -crlf
/SubSelectExpression.cs -crlf
/TableExpression.cs -crlf
/TableJoinType.cs -crlf
