/AccessControlEntry.cs -crlf
/AccessControlEntryType.cs -crlf
/AccessControlList.cs -crlf
/AcknowledgeTypes.cs -crlf
/Acknowledgment.cs -crlf
/ActiveXMessageFormatter.cs -crlf
/CryptographicProviderType.cs -crlf
/DefaultPropertiesToSend.cs -crlf
/EncryptionAlgorithm.cs -crlf
/EncryptionRequired.cs -crlf
/GenericAccessRights.cs -crlf
/HashAlgorithm.cs -crlf
/Message.resx -crlf
/MessagePriority.cs -crlf
/MessagePropertyFilter.cs -crlf
/MessageQueue.resx -crlf
/MessageQueueAccessControlEntry.cs -crlf
/MessageQueueAccessRights.cs -crlf
/MessageQueueCriteria.cs -crlf
/MessageQueueEnumerator.cs -crlf
/MessageQueueErrorCode.cs -crlf
/MessageQueueInstaller.cs -crlf
/MessageQueuePermission.cs -crlf
/MessageQueuePermissionAccess.cs -crlf
/MessageQueuePermissionAttribute.cs -crlf
/MessageQueuePermissionEntry.cs -crlf
/MessageQueuePermissionEntryCollection.cs -crlf
/MessageQueueTransaction.cs -crlf
/MessageQueueTransactionStatus.cs -crlf
/MessageQueueTransactionType.cs -crlf
/MessageType.cs -crlf
/MessagingDescriptionAttribute.cs -crlf
/PeekCompletedEventArgs.cs -crlf
/PeekCompletedEventHandler.cs -crlf
/ReceiveCompletedEventArgs.cs -crlf
/ReceiveCompletedEventHandler.cs -crlf
/StandardAccessRights.cs -crlf
/Trustee.cs -crlf
/TrusteeType.cs -crlf
