<configuration>
    <!-- 
        The configSections define a section for ASP.NET Atlas
    -->
<!--  NOT YET - toshok
    <configSections>
        <sectionGroup name="microsoft.web" type="Microsoft.Web.Configuration.MicrosoftWebSectionGroup">
            <section name="scripts" type="Microsoft.Web.Configuration.ScriptsSection"/>
            <section name="converters" type="Microsoft.Web.Configuration.ConvertersSection"/>
        </sectionGroup>
    </configSections>
-->

    <!-- 
        atlas.web section defines the script files required for the Atlas framework when used in 
        the client
    -->
    <microsoft.web>
        <scripts scriptLibraryPath="~/ScriptLibrary/">
        </scripts>
        <converters>
            <add type="Microsoft.Web.Services.Converters.DateTimeConverter"/>
            <add type="Microsoft.Web.Services.Converters.DataSetConverter"/>
            <add type="Microsoft.Web.Services.Converters.DataRowConverter"/>
            <add type="Microsoft.Web.Services.Converters.DataTableConverter"/>
        </converters>
    </microsoft.web>

    <appSettings/>

    <connectionStrings/>

    <system.web>
<!-- toshok- NOT YET
      <pages>
          <controls>
              <add namespace="Microsoft.Web" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
              <add namespace="Microsoft.Web.Components" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
              <add namespace="Microsoft.Web.UI" assembly="Microsoft.Web.Atlas" tagPrefix="atlas"/>
          </controls>
      </pages>
-->
       <!-- 
            Set compilation debug="true" to insert debugging 
            symbols into the compiled page. Because this 
            affects performance, set this value to true only 
            during development.
        -->
        <compilation debug="false">
<!-- NOT YET - toshok
          <buildProviders>
              <add extension=".script" type="Microsoft.Web.Compilation.ScriptBuildProvider" appliesTo="Web" />
          </buildProviders>
-->
        </compilation>

        <!--
            ASMX is mapped to a new handler so that proxy javascripts can also be served
         -->
        <httpHandlers>
<!--            <remove verb="*" path="*.asmx"/>-->
            <add verb="*" path="*.asmx" type="Microsoft.Web.Services.ScriptHandlerFactory, Microsoft.Web.Atlas, Version=2.0.0.0, Culture=neutral, PublicKeyToken=b03f5f7f11d50a3a" validate="false"/>
        </httpHandlers>
        <httpModules>
<!--            <add name="ScriptModule" type="Microsoft.Web.Services.ScriptModule, Microsoft.Web.Atlas"/>-->
        </httpModules>

        <!--
            The <customErrors> section enables configuration 
            of what to do if/when an unhandled error occurs 
            during the execution of a request. Specifically, 
            it enables developers to configure html error pages 
            to be displayed in place of a error stack trace.

        <customErrors mode="RemoteOnly" defaultRedirect="GenericErrorPage.htm">
            <error statusCode="403" redirect="NoAccess.htm"/>
            <error statusCode="404" redirect="FileNotFound.htm"/>
        </customErrors>
        -->
    </system.web>
</configuration>