/CompoundFileReader.cs -crlf
/CompoundFileWriter.cs -crlf
/DocumentWriter.cs -crlf
/FieldInfo.cs -crlf
/FieldInfos.cs -crlf
/FieldsReader.cs -crlf
/FieldsWriter.cs -crlf
/FilterIndexReader.cs -crlf
/IndexReader.cs -crlf
/IndexWriter.cs -crlf
/MultiReader.cs -crlf
/MultipleTermPositions.cs -crlf
/Package.html -crlf
/SegmentInfo.cs -crlf
/SegmentInfos.cs -crlf
/SegmentMergeInfo.cs -crlf
/SegmentMergeQueue.cs -crlf
/SegmentMerger.cs -crlf
/SegmentReader.cs -crlf
/SegmentTermDocs.cs -crlf
/SegmentTermEnum.cs -crlf
/SegmentTermPositions.cs -crlf
/SegmentTermVector.cs -crlf
/Term.cs -crlf
/TermDocs.cs -crlf
/TermEnum.cs -crlf
/TermFreqVector.cs -crlf
/TermInfo.cs -crlf
/TermInfosReader.cs -crlf
/TermInfosWriter.cs -crlf
/TermPositionVector.cs -crlf
/TermPositions.cs -crlf
/TermVectorsReader.cs -crlf
/TermVectorsWriter.cs -crlf
