/AssemblyInfo.cs -crlf
/Bitmap.cs -crlf
/Brush.cs -crlf
/Brushes.cs -crlf
/ChangeLog -crlf
/Colors.cs -crlf
/Enums.cs -crlf
/Graphics.cs -crlf
/GraphicsPath.cs -crlf
/GraphicsPathIterator.cs -crlf
/Image.cs -crlf
/Pen.cs -crlf
/Pens.cs -crlf
/Region.cs -crlf
