/af-ZA.js -crlf
/ar-AE.js -crlf
/ar-BH.js -crlf
/ar-DZ.js -crlf
/ar-EG.js -crlf
/ar-IQ.js -crlf
/ar-JO.js -crlf
/ar-KW.js -crlf
/ar-LB.js -crlf
/ar-LY.js -crlf
/ar-MA.js -crlf
/ar-OM.js -crlf
/ar-QA.js -crlf
/ar-SA.js -crlf
/ar-SY.js -crlf
/ar-TN.js -crlf
/ar-YE.js -crlf
/az-AZ-Cyrl.js -crlf
/az-AZ-Latn.js -crlf
/be-BY.js -crlf
/bg-BG.js -crlf
/ca-ES.js -crlf
/cs-CZ.js -crlf
/da-DK.js -crlf
/de-AT.js -crlf
/de-CH.js -crlf
/de-DE.js -crlf
/de-LI.js -crlf
/de-LU.js -crlf
/div-MV.js -crlf
/el-GR.js -crlf
/en-AU.js -crlf
/en-BZ.js -crlf
/en-CA.js -crlf
/en-CB.js -crlf
/en-GB.js -crlf
/en-IE.js -crlf
/en-JM.js -crlf
/en-NZ.js -crlf
/en-PH.js -crlf
/en-TT.js -crlf
/en-US.js -crlf
/en-ZA.js -crlf
/en-ZW.js -crlf
/es-AR.js -crlf
/es-BO.js -crlf
/es-CL.js -crlf
/es-CO.js -crlf
/es-CR.js -crlf
/es-DO.js -crlf
/es-EC.js -crlf
/es-ES.js -crlf
/es-GT.js -crlf
/es-HN.js -crlf
/es-MX.js -crlf
/es-NI.js -crlf
/es-PA.js -crlf
/es-PE.js -crlf
/es-PR.js -crlf
/es-PY.js -crlf
/es-SV.js -crlf
/es-UY.js -crlf
/es-VE.js -crlf
/et-EE.js -crlf
/eu-ES.js -crlf
/fa-IR.js -crlf
/fi-FI.js -crlf
/fo-FO.js -crlf
/fr-BE.js -crlf
/fr-CA.js -crlf
/fr-CH.js -crlf
/fr-FR.js -crlf
/fr-LU.js -crlf
/fr-MC.js -crlf
/gl-ES.js -crlf
/gu-IN.js -crlf
/he-IL.js -crlf
/hi-IN.js -crlf
/hr-HR.js -crlf
/hu-HU.js -crlf
/hy-AM.js -crlf
/id-ID.js -crlf
/is-IS.js -crlf
/it-CH.js -crlf
/it-IT.js -crlf
/ja-JP.js -crlf
/ka-GE.js -crlf
/kk-KZ.js -crlf
/kn-IN.js -crlf
/ko-KR.js -crlf
/kok-IN.js -crlf
/ky-KG.js -crlf
/lt-LT.js -crlf
/lv-LV.js -crlf
/mk-MK.js -crlf
/mn-MN.js -crlf
/mr-IN.js -crlf
/ms-BN.js -crlf
/ms-MY.js -crlf
/nb-NO.js -crlf
/nl-BE.js -crlf
/nl-NL.js -crlf
/nn-NO.js -crlf
/pa-IN.js -crlf
/pl-PL.js -crlf
/pt-BR.js -crlf
/pt-PT.js -crlf
/ro-RO.js -crlf
/ru-RU.js -crlf
/sa-IN.js -crlf
/sk-SK.js -crlf
/sl-SI.js -crlf
/sq-AL.js -crlf
/sr-SP-Cyrl.js -crlf
/sr-SP-Latn.js -crlf
/sv-FI.js -crlf
/sv-SE.js -crlf
/sw-KE.js -crlf
/syr-SY.js -crlf
/ta-IN.js -crlf
/te-IN.js -crlf
/th-TH.js -crlf
/tr-TR.js -crlf
/tt-RU.js -crlf
/uk-UA.js -crlf
/ur-PK.js -crlf
/uz-UZ-Cyrl.js -crlf
/uz-UZ-Latn.js -crlf
/vi-VN.js -crlf
/zh-CN.js -crlf
/zh-HK.js -crlf
/zh-MO.js -crlf
/zh-SG.js -crlf
/zh-TW.js -crlf
