/AnalysisTest.cs -crlf
/AssemblyInfo.cs -crlf
/IndexTest.cs -crlf
/SearchTest.cs -crlf
/SearchTestForDuplicates.cs -crlf
/StoreTest.cs -crlf
/Test.nunit -crlf
/TestSearch.cs -crlf
/TestSearchForDuplicates.cs -crlf
/ThreadSafetyTest.cs -crlf
